@model Pdb014App.Models.PDB.PoleModels.TblCrossArmInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblCrossArmInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimateTensileStrength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimateTensileStrength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LookUpTypeOfFittings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LookUpTypeOfFittings.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSetFittings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSetFittings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FittingsLookUpCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FittingsLookUpCondition.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrossArmToPole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CrossArmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
