@model Pdb014App.Models.PDB.PoleModels.TblCrossArmInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Cross Arm Details</h2>
    <hr />

    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrossArmToPole.PoleToRoute.RouteName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleToRoute.RouteName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrossArmToPole.PoleToFeederLine.FeederName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleToFeederLine.FeederName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrossArmToPole.PoleNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrossArmToPole.PoleNo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Standard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Standard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UltimateTensileStrength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UltimateTensileStrength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LookUpTypeOfFittings.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LookUpTypeOfFittings.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSetFittings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfSetFittings)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FittingsLookUpCondition.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FittingsLookUpCondition.Name)
        </dd>
    </dl>
</div>
@*<div>
        <a asp-action="Edit" asp-route-id="@Model.CrossArmId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
