@model Pdb014App.Models.PDB.PoleModels.TblPoleMountedDofCutOutFuseLink

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblPoleMountedDofCutOutFuseLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.General)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.General)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeorModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeorModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Construction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Construction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalRatedVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalRatedVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContinuousCurrentRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContinuousCurrentRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterruptingCapacityoftheCutOutMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterruptingCapacityoftheCutOutMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuseHolderType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuseHolderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuseLinkRatedCurrentContinuous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuseLinkRatedCurrentContinuous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicInsulationLevelBIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicInsulationLevelBIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuseLinkType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuseLinkType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoleMountedDofCutOutFuseLinkToPole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoleMountedDofCutOutFuseLinkToPole.PoleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PoleMountedDofCutOutFuseLinkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
