@model Pdb014App.Models.PDB.TblComplaint

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblComplaint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintType.ComplaintType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintStatus.ComplaintStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplainerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplainerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplainerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplainerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplainerDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplainerDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleOfficer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResolveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResolveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResolvingOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResolvingOfficer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintToUnion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintToUnion.UnionGeoCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintToSnD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintToSnD.SnDCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ComplaintId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
