@model IEnumerable<Pdb014App.Models.PDB.TblComplaint>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainerDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsibleOfficer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolvingOfficer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintToUnion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintToSnD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintType.ComplaintType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintStatus.ComplaintStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainerDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibleOfficer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolvingOfficer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintToUnion.UnionGeoCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintToSnD.SnDCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComplaintId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComplaintId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComplaintId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
