@model Pdb014App.Models.PDB.SwitchGearModels.TblSwitchGear

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Switchgear Details</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearType.SwitchGearTypeName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearType.SwitchGearTypeName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ManufacturersNameAndAddress)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ManufacturersNameAndAddress)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AppliedStandard)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AppliedStandard)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RatedNominalVoltage)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RatedNominalVoltage)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RatedVoltage)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RatedVoltage)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RatedCurrentForMainBus)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RatedCurrentForMainBus)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RatedShortTimeCurrent)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RatedShortTimeCurrent)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ShortTimeCurrentRatedDuration)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ShortTimeCurrentRatedDuration)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToCircuitBreaker.Type)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToCircuitBreaker.Type)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToIdmtRelay.ManufacturersModelNo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToIdmtRelay.ManufacturersModelNo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToTripRelay.ManufacturersModelNo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToTripRelay.ManufacturersModelNo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToTripCircuitSupervisionRelay.ManufacturersModelNo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToTripCircuitSupervisionRelay.ManufacturersModelNo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToCurrentTransformer.RatedVoltage)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToCurrentTransformer.RatedVoltage)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToSwitchPosition.RatedVoltage)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToSwitchPosition.RatedVoltage)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AcWithStandVoltageDry)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AcWithStandVoltageDry)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ImpulseWithStandFullWave)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ImpulseWithStandFullWave)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Enclosure)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Enclosure)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.HvCompartment)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.HvCompartment)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LvCompartment)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LvCompartment)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToSf6SafetyAndLife.CircuitBreakers)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToSf6SafetyAndLife.CircuitBreakers)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToVoltMeter.MeterName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToVoltMeter.MeterName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToAmpereMeter.MeterName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToAmpereMeter.MeterName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToBusBar.BusBarType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToBusBar.BusBarType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ReatedVoltage)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ReatedVoltage)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ReatedCurrent)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ReatedCurrent)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ReatedShortCircuitBreakerCurrent)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ReatedShortCircuitBreakerCurrent)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SwitchGearToDimensionAndWeight.Dimension)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SwitchGearToDimensionAndWeight.Dimension)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.SwitchGearID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
