@model Pdb014App.Models.PDB.PhasePowerTransformerModel.TblPhasePowerTransformer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblPhasePowerTransformer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppliedStandard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppliedStandard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedPower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedPower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPhase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPhase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedVoltagePhaseToPhase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedVoltagePhaseToPhase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighVoltageWindingPhaseToPhase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighVoltageWindingPhaseToPhase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowVoltageWindingPhaseToPhase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowVoltageWindingPhaseToPhase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedInsulationLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedInsulationLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpulseWithStandFullWave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpulseWithStandFullWave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpulseHighVoltageWinding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpulseHighVoltageWinding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpulseLowVoltageWinding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpulseLowVoltageWinding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACWithStandVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACWithStandVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACHighVoltageWinding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACHighVoltageWinding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACLowVoltageWinding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACLowVoltageWinding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfCooling28Or35MVA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfCooling28Or35MVA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnLoadTapChanger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnLoadTapChanger)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TappingRangeHT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TappingRangeHT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationOfTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationOfTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OilVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OilVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OneStepChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OneStepChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotorRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotorRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpedanceVoltageAt75CAndAtNominalRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpedanceVoltageAt75CAndAtNominalRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperatureRiseAtRatedPowerMaxAmbientTemperature40C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperatureRiseAtRatedPowerMaxAmbientTemperature40C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiveMva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiveMva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SixPointSixMva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SixPointSixMva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OilByThermometer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OilByThermometer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindingByResistanceMeasurement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindingByResistanceMeasurement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperatureGradientBetweenWindingsAndOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperatureGradientBetweenWindingsAndOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortCircuitLevelAtTerminal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortCircuitLevelAtTerminal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirtyThreeKv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirtyThreeKv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EleventKv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EleventKv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransformerCore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransformerCore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofCoreAndFluxEnsityAtNominalVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofCoreAndFluxEnsityAtNominalVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransformerBushings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransformerBushings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HVBushing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HVBushing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HVBushingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HVBushingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LVBushing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LVBushing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LVBushingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LVBushingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralBushing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralBushing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralBushingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralBushingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConservatorWithAirSealedBagForConstantOilPressurYesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConservatorWithAirSealedBagForConstantOilPressurYesNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreatherSilicagel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreatherSilicagel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuxiliaryCircuitVoltageForFanetc3P4W)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuxiliaryCircuitVoltageForFanetc3P4W)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundLevelIEC551)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundLevelIEC551)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ONAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ONAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ONAF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ONAF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BushingCTParticulars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BushingCTParticulars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HVside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HVside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LVside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LVside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralSide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralSide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCoolingFan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCoolingFan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingOfFanMotors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingOfFanMotors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoolingFanLossesAtFullOnafCapacityOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoolingFanLossesAtFullOnafCapacityOperation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreLossAtRatedFrequencyAndRatedVoltageAtNominalTapNoLoadLoss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreLossAtRatedFrequencyAndRatedVoltageAtNominalTapNoLoadLoss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopperLossAtFullLoadAtRatedFrequencyAndAt75CFullLoadLoss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopperLossAtFullLoadAtRatedFrequencyAndAt75CFullLoadLoss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtMaximumTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtMaximumTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtNominalTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtNominalTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtMinimumTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtMinimumTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadiatorsYesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadiatorsYesNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallDimensions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallDimensions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfRadiators)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfRadiators)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisoryAlarmAndTripContactsYesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisoryAlarmAndTripContactsYesNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperatureIndicatorsYesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperatureIndicatorsYesNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakeAndType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakeAndType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlarmAndTripRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlarmAndTripRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfContacts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfContacts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRatingOfContacts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentRatingOfContacts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisoryAlarmContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisoryAlarmContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DimensionsAndWeightMaximumSizeForTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DimensionsAndWeightMaximumSizeForTransport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LMulWMulH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LMulWMulH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightOFoil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightOFoil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightofCore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightofCore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanctionedLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanctionedLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhasePowerTransformerTo33KvFeederLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhasePowerTransformerTo33KvFeederLine.FeederLineId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhasePowerTransformerToTblSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhasePowerTransformerToTblSubstation.SubstationId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhasePowerTransformerToSourceSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhasePowerTransformerToSourceSubstation.SubstationId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PhasePowerTransformerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
