@model IEnumerable<Pdb014App.Models.PDB.PhasePowerTransformerModel.TblPhasePowerTransformer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturersAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedStandard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedPower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPhase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedVoltagePhaseToPhase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighVoltageWindingPhaseToPhase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowVoltageWindingPhaseToPhase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedInsulationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpulseHighVoltageWinding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpulseLowVoltageWinding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACHighVoltageWinding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACLowVoltageWinding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfCooling28Or35MVA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnLoadTapChanger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TappingRangeHT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationOfTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OilVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneStepChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotorRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpedanceVoltageAt75CAndAtNominalRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperatureRiseAtRatedPowerMaxAmbientTemperature40C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiveMva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SixPointSixMva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OilByThermometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WindingByResistanceMeasurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperatureGradientBetweenWindingsAndOil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortCircuitLevelAtTerminalThirtyThreeKv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortCircuitLevelAtTerminalEleventKv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformerCore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeofCoreAndFluxEnsityAtNominalVoltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformeHVBushing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformeHVBushingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformeLVBushing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformeLVBushingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformeNeutralBushing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformeNeutralBushingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConservatorWithAirSealedBagForConstantOilPressur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreatherSilicagel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuxiliaryCircuitVoltageForFanetc3P4W)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlVoltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoundLevelIEC551)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ONAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ONAF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BushingCTParticularsHVside)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BushingCTParticularsLVside)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BushingCTParticularsNeutralSide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCoolingFan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingOfFanMotors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoolingFanLossesAtFullOnafCapacityOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoreLossAtRatedFrequencyAndRatedVoltageAtNominalTapNoLoadLoss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopperLossAtMaximumTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopperLossAtNominalTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopperLossAtMinimumTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Radiators)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallDimensions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfRadiators)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisoryAlarmAndTripContacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperatureIndicators)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeAndType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlarmAndTripRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfContacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentRatingOfContacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisoryAlarmContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimensionsAndWeightTransportLMulWMulH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimensionsAndWeightTransportWeightOFoil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimensionsAndWeightTransportWeightofCore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DimensionsAndWeightTransportTotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanctionedLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhasePowerTransformerTo33KvFeederLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhasePowerTransformerToTblSubstation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturersAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedStandard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatedPower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPhase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatedVoltagePhaseToPhase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighVoltageWindingPhaseToPhase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowVoltageWindingPhaseToPhase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatedFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatedInsulationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpulseHighVoltageWinding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpulseLowVoltageWinding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACHighVoltageWinding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACLowVoltageWinding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfCooling28Or35MVA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnLoadTapChanger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TappingRangeHT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationOfTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OilVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneStepChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotorRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpedanceVoltageAt75CAndAtNominalRatio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureRiseAtRatedPowerMaxAmbientTemperature40C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiveMva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SixPointSixMva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OilByThermometer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindingByResistanceMeasurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureGradientBetweenWindingsAndOil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortCircuitLevelAtTerminalThirtyThreeKv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortCircuitLevelAtTerminalEleventKv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransformerCore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofCoreAndFluxEnsityAtNominalVoltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransformeHVBushing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransformeHVBushingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransformeLVBushing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransformeLVBushingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransformeNeutralBushing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransformeNeutralBushingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConservatorWithAirSealedBagForConstantOilPressur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreatherSilicagel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuxiliaryCircuitVoltageForFanetc3P4W)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControlVoltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoundLevelIEC551)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ONAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ONAF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BushingCTParticularsHVside)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BushingCTParticularsLVside)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BushingCTParticularsNeutralSide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCoolingFan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingOfFanMotors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoolingFanLossesAtFullOnafCapacityOperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoreLossAtRatedFrequencyAndRatedVoltageAtNominalTapNoLoadLoss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopperLossAtMaximumTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopperLossAtNominalTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopperLossAtMinimumTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Radiators)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallDimensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfRadiators)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisoryAlarmAndTripContacts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureIndicators)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakeAndType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmAndTripRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfContacts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentRatingOfContacts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisoryAlarmContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimensionsAndWeightTransportLMulWMulH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimensionsAndWeightTransportWeightOFoil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimensionsAndWeightTransportWeightofCore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DimensionsAndWeightTransportTotalWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanctionedLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhasePowerTransformerTo33KvFeederLine.FeederLineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhasePowerTransformerToTblSubstation.SubstationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhasePowerTransformerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhasePowerTransformerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhasePowerTransformerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
