@model Pdb014App.Models.PDB.DistributionTransformerModel.TblDistributionTransformer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblDistributionTransformer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtToPole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtToPole.PoleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtToFeederLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtToFeederLine.FeederLineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOf33bs11kVSubdsstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOf33bs11kVSubdsstation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nameof11kVFeeder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nameof11kVFeeder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SNDIdentificationNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SNDIdentificationNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NearestHoldingbsHouseNobsShop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NearestHoldingbsHouseNobsShop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExistingPoleNumberingifAny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExistingPoleNumberingifAny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledConditionPadbsPoleMountedToInstalledCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledConditionPadbsPoleMountedToInstalledCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledPlaceIndoorbsOutdoorToInstalledPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledPlaceIndoorbsOutdoorToInstalledPlace.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwneroftheTransformerBPDBbsConsumerToTransformerOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwneroftheTransformerBPDBbsConsumerToTransformerOwner.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransformerKVARating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransformerKVARating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearofManufacturing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearofManufacturing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameofManufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameofManufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransformerSerialNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransformerSerialNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedHTVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedHTVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedLTVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedLTVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedHTCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedHTCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedLTCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedLTCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotorVoltageforspringcharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotorVoltageforspringcharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyColourConditiontoBodyColourCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyColourConditiontoBodyColourCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameoBodyColour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameoBodyColour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OilLeakageYesOrNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OilLeakageYesOrNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceofOilLeakageMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceofOilLeakageMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformMaterialAnglbsChannelTolatformMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformMaterialAnglbsChannelTolatformMaterial.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformStandardbsNonStandardGoodBadToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformStandardbsNonStandardGoodBadToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofTransformerSupportPoleLeftToLeftRightType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofTransformerSupportPoleLeftToLeftRightType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofTransformerSupportPoleLeftToLeftRightCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofTransformerSupportPoleLeftToLeftRightCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofTransformerSupportPoleRightToLeftRightType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofTransformerSupportPoleRightToLeftRightType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofTransformerSupportPoleRightToLeftRightCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofTransformerSupportPoleRightToLeftRightCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingRPhaseOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingRPhaseOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingRPhaseGoodToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingRPhaseGoodToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingRPhaseColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingRPhaseColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingYPhaseOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingYPhaseOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingYPhaseGoodToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingYPhaseGoodToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingYPhaseColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingYPhaseColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingBPhaseOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingBPhaseOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingBPhaseGood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingBPhaseGood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingBPhaseColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingBPhaseColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingNPhaseOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingNPhaseOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingNPhaseGoodToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingNPhaseGoodToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTBushingNPhaseColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTBushingNPhaseColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingRPhaseOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingRPhaseOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingRPhaseGoodToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingRPhaseGoodToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingRPhaseColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingRPhaseColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingYPhaseOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingYPhaseOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingYPhaseGoodToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingYPhaseGoodToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingYPhaseColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingYPhaseColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingBPhaseOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingBPhaseOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingBPhaseGoodToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingBPhaseGoodToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingBPhaseColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingBPhaseColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingNPhaseOil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingNPhaseOil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingNPhaseGoodToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingNPhaseGoodToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTBushingNPhaseColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTBushingNPhaseColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WireSizeofHTDrop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WireSizeofHTDrop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofHTDropGoodbsBadToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofHTDropGoodbsBadToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WirebsCableSizeofLTDropCKT1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WirebsCableSizeofLTDropCKT1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofLTDropGoodbsBadCKT1ToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofLTDropGoodbsBadCKT1ToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WirebsCableSizeofLTDropCKT2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WirebsCableSizeofLTDropCKT2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofLTDropGoodbsBadCKT2ToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofLTDropGoodbsBadCKT2ToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthingLead1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthingLead1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthingLead1Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthingLead1Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthingLead1Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthingLead1Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthingLead1ConditionStandardToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthingLead1ConditionStandardToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthingLead2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthingLead2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthingLead2Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthingLead2Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthingLead2Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthingLead2Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthingLead2ConditionStandardToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthingLead2ConditionStandardToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayPeak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayPeak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndtime1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndtime1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voltage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voltage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RYVoltageVolt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RYVoltageVolt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YBVoltageVolt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YBVoltageVolt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RBVoltageVolt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RBVoltageVolt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RNVoltageVolt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RNVoltageVolt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YNVoltageVolt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YNVoltageVolt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BNVoltageVolt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BNVoltageVolt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeakageVoltageBodyEarthVolt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeakageVoltageBodyEarthVolt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RPhaseCurrentAmps1Ckt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RPhaseCurrentAmps1Ckt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RPhaseCurrentAmps1Ckt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RPhaseCurrentAmps1Ckt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RPhaseCurrentAmps1Ckt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RPhaseCurrentAmps1Ckt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YPhaseCurrentAmps1Ckt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YPhaseCurrentAmps1Ckt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YPhaseCurrentAmps1Ckt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YPhaseCurrentAmps1Ckt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YPhaseCurrentAmps1Ckt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YPhaseCurrentAmps1Ckt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BPhaseCurrentAmps1Ckt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPhaseCurrentAmps1Ckt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BPhaseCurrentAmps1Ckt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPhaseCurrentAmps1Ckt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BPhaseCurrentAmps1Ckt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPhaseCurrentAmps1Ckt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralCurrentAmps1Ckt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralCurrentAmps1Ckt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralCurrentAmps1Ckt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralCurrentAmps1Ckt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralCurrentAmps1Ckt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralCurrentAmps1Ckt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalculatedDayPeakkVA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalculatedDayPeakkVA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EveningPeak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EveningPeak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTime2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTime2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voltage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voltage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RYVoltageVolt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RYVoltageVolt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YBVoltageVolt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YBVoltageVolt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RBVoltageVolt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RBVoltageVolt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RNVoltageVolt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RNVoltageVolt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YNVoltageVolt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YNVoltageVolt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BNVoltageVolt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BNVoltageVolt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeakageVoltageBodyEarthVolt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeakageVoltageBodyEarthVolt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RPhaseCurrentAmps2Ckt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RPhaseCurrentAmps2Ckt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RPhaseCurrentAmps2Ckt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RPhaseCurrentAmps2Ckt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RPhaseCurrentAmps2Ckt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RPhaseCurrentAmps2Ckt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YPhaseCurrentAmps2Ckt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YPhaseCurrentAmps2Ckt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YPhaseCurrentAmps2Ckt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YPhaseCurrentAmps2Ckt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YPhaseCurrentAmps2Ckt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YPhaseCurrentAmps2Ckt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BPhaseCurrentAmps2Ckt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPhaseCurrentAmps2Ckt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BPhaseCurrentAmps2Ckt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPhaseCurrentAmps2Ckt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BPhaseCurrentAmps2Ckt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BPhaseCurrentAmps2Ckt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralCurrentAmpsCkt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralCurrentAmpsCkt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralCurrentAmps2Ckt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralCurrentAmps2Ckt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralCurrentAmps2Ckt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralCurrentAmps2Ckt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalculatedEveningPeakkVA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalculatedEveningPeakkVA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropOutFuseExistbsNotExistRphase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropOutFuseExistbsNotExistRphase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropOutFuseExistbsNotExistYphase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropOutFuseExistbsNotExistYphase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropOutFuseExistbsNotExistBphase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropOutFuseExistbsNotExistBphase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofDropOutFuseRphaseToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofDropOutFuseRphaseToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofDropOutFuseYphaseToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofDropOutFuseYphaseToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofDropOutFuseBphaseToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofDropOutFuseBphaseToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightningArrestorRphase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightningArrestorRphase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightningArrestorYphase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightningArrestorYphase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightningArrestorBphase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightningArrestorBphase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofLightingArrestorRphaseToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofLightingArrestorRphaseToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofLightingArrestorYphaseToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofLightingArrestorYphaseToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofLightingArrestorBphaseToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofLightingArrestorBphaseToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistributionBoxExistbsnotExist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistributionBoxExistbsnotExist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofDistributionBoxToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofDistributionBoxToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfMCCB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfMCCB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerTypeOriginofMCCBforCircuit1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerTypeOriginofMCCBforCircuit1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerTypeOriginofMCCBforCircuit2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerTypeOriginofMCCBforCircuit2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmpereRatingasPerNamePlateofMCCBforCKT1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmpereRatingasPerNamePlateofMCCBforCKT1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmpereRatingasPerNameplateOfMCCBForCKT2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmpereRatingasPerNameplateOfMCCBForCKT2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofMCCBforCircuit1ToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofMCCBforCircuit1ToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionofMCCBforCircuit2ToCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionofMCCBforCircuit2ToCondition.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recommendation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recommendation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DistributionTransformerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
