@using Pdb014App.Models.UserManage;
@using Microsoft.AspNetCore.Identity

@model IEnumerable<Pdb014App.Models.PDB.DistributionTransformerModel.TblDistributionTransformer>


@inject SignInManager<TblUserRegistrationDetail> SignInManager
@inject UserManager<TblUserRegistrationDetail> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    var isShowLayout = (ViewBag.IsShowLayout != null && ViewBag.IsShowLayout == 1);
    var isShowAction = (ViewBag.IsShowAction != null && ViewBag.IsShowAction == 1);

    ViewData["Title"] = "Distribution Transformer List";
    Layout = isShowLayout ? "~/Views/Shared/_Layout.cshtml" : null;
}
@section Styles {

    <link href="~/css/datastyle.css" rel="stylesheet" />
}

@if (isShowAction)
{
    <a asp-controller="TblDistributionTransformers" asp-action="Create" asp-route-id="@ViewBag.PoleId" target="_blank" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add Distribution Transformer">Add Distribution Transformer</a>
    <hr>
}

<h3>@ViewData["Title"]</h3>
<hr>

<table id="multi-form-view" class="table table-responsive multi-form-view">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtToFeederLine.FeederName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOf33bs11kVSubdsstation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nameof11kVFeeder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SNDIdentificationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NearestHoldingbsHouseNobsShop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExistingPoleNumberingifAny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstalledConditionPadbsPoleMounted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstalledPlaceIndoorbsOutdoor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwneroftheTransformerBPDBbsConsumer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformerKVARating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearofManufacturing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameofManufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformerSerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedHTVoltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedLTVoltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedHTCurrent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedLTCurrent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlVoltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotorVoltageforspringcharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedVoltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyColourCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameoBodyColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OilLeakageYesOrNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceofOilLeakageMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlatformMaterialAnglbsChannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlatformStandardbsNonStandardGoodBad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeofTransformerSupportPoleLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofTransformerSupportPoleLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeofTransformerSupportPoleRight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofTransformerSupportPoleRight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingRPhaseOil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingRPhaseGood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingRPhaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingYPhaseOil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingYPhaseGoodToCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingYPhaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingBPhaseOil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingBPhaseGood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingBPhaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingNPhaseOil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingNPhaseGood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTBushingNPhaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingRPhaseOil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingRPhaseGood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingRPhaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingYPhaseOil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingYPhaseGood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingYPhaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingBPhaseOil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingBPhaseGood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingBPhaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingNPhaseOil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingNPhaseGood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTBushingNPhaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WireSizeofHTDrop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofHTDropGoodbsBad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WirebsCableSizeofLTDropCKT1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofLTDropGoodbsBadCKT1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WirebsCableSizeofLTDropCKT2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofLTDropGoodbsBadCKT2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarthingLead1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarthingLead1Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarthingLead1Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarthingLead1ConditionStandard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarthingLead2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarthingLead2Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarthingLead2Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarthingLead2ConditionStandard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayPeak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAndtime1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RYVoltageVolt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YBVoltageVolt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RBVoltageVolt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RNVoltageVolt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YNVoltageVolt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BNVoltageVolt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeakageVoltageBodyEarthVolt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RPhaseCurrentAmps1Ckt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RPhaseCurrentAmps1Ckt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RPhaseCurrentAmps1Ckt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YPhaseCurrentAmps1Ckt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YPhaseCurrentAmps1Ckt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YPhaseCurrentAmps1Ckt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPhaseCurrentAmps1Ckt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPhaseCurrentAmps1Ckt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPhaseCurrentAmps1Ckt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeutralCurrentAmps1Ckt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeutralCurrentAmps1Ckt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeutralCurrentAmps1Ckt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedDayPeakkVA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EveningPeak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RYVoltageVolt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YBVoltageVolt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RBVoltageVolt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RNVoltageVolt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YNVoltageVolt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BNVoltageVolt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeakageVoltageBodyEarthVolt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RPhaseCurrentAmps2Ckt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RPhaseCurrentAmps2Ckt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RPhaseCurrentAmps2Ckt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YPhaseCurrentAmps2Ckt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YPhaseCurrentAmps2Ckt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YPhaseCurrentAmps2Ckt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPhaseCurrentAmps2Ckt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPhaseCurrentAmps2Ckt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPhaseCurrentAmps2Ckt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeutralCurrentAmpsCkt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeutralCurrentAmps2Ckt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeutralCurrentAmps2Ckt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedEveningPeakkVA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropOutFuseExistbsNotExistRphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropOutFuseExistbsNotExistYphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropOutFuseExistbsNotExistBphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofDropOutFuseRphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofDropOutFuseYphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofDropOutFuseBphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightningArrestorRphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightningArrestorYphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightningArrestorBphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofLightingArrestorRphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofLightingArrestorYphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofLightingArrestorBphase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistributionBoxExistbsnotExist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofDistributionBox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfMCCB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerTypeOriginofMCCBforCircuit1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerTypeOriginofMCCBforCircuit2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmpereRatingasPerNamePlateofMCCBforCKT1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmpereRatingasPerNameplateOfMCCBForCKT2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofMCCBforCircuit1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionofMCCBforCircuit2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recommendation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DtToPole.PoleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtToFeederLine.FeederName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOf33bs11kVSubdsstation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nameof11kVFeeder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SNDIdentificationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NearestHoldingbsHouseNobsShop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExistingPoleNumberingifAny)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledConditionPadbsPoleMountedToInstalledCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstalledPlaceIndoorbsOutdoorToInstalledPlace.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwneroftheTransformerBPDBbsConsumerToTransformerOwner.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransformerKVARating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearofManufacturing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameofManufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransformerSerialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatedHTVoltage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatedLTVoltage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatedHTCurrent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatedLTCurrent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ControlVoltage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotorVoltageforspringcharge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatedVoltage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyColourConditiontoBodyColourCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameoBodyColour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OilLeakageYesOrNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceofOilLeakageMark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlatformMaterialAnglbsChannelTolatformMaterial.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlatformStandardbsNonStandardGoodBadToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeofTransformerSupportPoleLeftToLeftRightType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofTransformerSupportPoleLeftToLeftRightCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeofTransformerSupportPoleRightToLeftRightType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofTransformerSupportPoleRightToLeftRightCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingRPhaseOil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingRPhaseGoodToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingRPhaseColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingYPhaseOil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingYPhaseGoodToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingYPhaseColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingBPhaseOil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingBPhaseGood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingBPhaseColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingNPhaseOil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingNPhaseGoodToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTBushingNPhaseColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingRPhaseOil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingRPhaseGoodToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingRPhaseColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingYPhaseOil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingYPhaseGoodToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingYPhaseColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingBPhaseOil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingBPhaseGoodToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingBPhaseColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingNPhaseOil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingNPhaseGoodToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LTBushingNPhaseColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WireSizeofHTDrop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofHTDropGoodbsBadToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WirebsCableSizeofLTDropCKT1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofLTDropGoodbsBadCKT1ToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WirebsCableSizeofLTDropCKT2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofLTDropGoodbsBadCKT2ToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarthingLead1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarthingLead1Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarthingLead1Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarthingLead1ConditionStandardToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarthingLead2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarthingLead2Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarthingLead2Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EarthingLead2ConditionStandardToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayPeak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAndtime1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voltage1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RYVoltageVolt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YBVoltageVolt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RBVoltageVolt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RNVoltageVolt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YNVoltageVolt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BNVoltageVolt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeakageVoltageBodyEarthVolt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RPhaseCurrentAmps1Ckt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RPhaseCurrentAmps1Ckt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RPhaseCurrentAmps1Ckt3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YPhaseCurrentAmps1Ckt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YPhaseCurrentAmps1Ckt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YPhaseCurrentAmps1Ckt3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPhaseCurrentAmps1Ckt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPhaseCurrentAmps1Ckt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPhaseCurrentAmps1Ckt3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeutralCurrentAmps1Ckt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeutralCurrentAmps1Ckt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeutralCurrentAmps1Ckt3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculatedDayPeakkVA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EveningPeak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAndTime2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voltage2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RYVoltageVolt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YBVoltageVolt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RBVoltageVolt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RNVoltageVolt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YNVoltageVolt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BNVoltageVolt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeakageVoltageBodyEarthVolt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RPhaseCurrentAmps2Ckt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RPhaseCurrentAmps2Ckt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RPhaseCurrentAmps2Ckt3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YPhaseCurrentAmps2Ckt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YPhaseCurrentAmps2Ckt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YPhaseCurrentAmps2Ckt3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPhaseCurrentAmps2Ckt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPhaseCurrentAmps2Ckt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPhaseCurrentAmps2Ckt3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeutralCurrentAmpsCkt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeutralCurrentAmps2Ckt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeutralCurrentAmps2Ckt3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculatedEveningPeakkVA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DropOutFuseExistbsNotExistRphase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DropOutFuseExistbsNotExistYphase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DropOutFuseExistbsNotExistBphase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofDropOutFuseRphaseToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofDropOutFuseYphaseToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofDropOutFuseBphaseToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LightningArrestorRphase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LightningArrestorYphase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LightningArrestorBphase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofLightingArrestorRphaseToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofLightingArrestorYphaseToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofLightingArrestorBphaseToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DistributionBoxExistbsnotExist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofDistributionBoxToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfMCCB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerTypeOriginofMCCBforCircuit1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerTypeOriginofMCCBforCircuit2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmpereRatingasPerNamePlateofMCCBforCKT1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmpereRatingasPerNameplateOfMCCBForCKT2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofMCCBforCircuit1ToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConditionofMCCBforCircuit2ToCondition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recommendation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DistributionTransformerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DistributionTransformerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DistributionTransformerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
