@model Pdb014App.Models.PDB.ServicePointModels.TblConsumerData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Consumer Data Details</h2>
    <hr />

    <dl class="row">
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederLineToRoute.RouteName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DtToFeederLine.FeederName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DtToPole.PoleNo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DtToPole.PoleNo)
        </dd>


        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToServicesPoint.RoadName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToServicesPoint.RoadName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerDataToDistributionTransformer.DistributionTransformerId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerDataToDistributionTransformer.DistributionTransformerId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CustomerMobileNo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CustomerMobileNo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerNo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerNo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Tariff)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Tariff)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerToPhasingCode.PhasingCodeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerToPhasingCode.PhasingCodeName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerType.ConsumerTypeName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerToOperatingVoltage.OperatingVoltageName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerToOperatingVoltage.OperatingVoltageName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.InstallDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.InstallDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerToConnectionStatus.ConnectionStatusName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerToConnectionStatus.ConnectionStatusName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerToConnectionType.ConnectionTypeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerToConnectionType.ConnectionTypeName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerToMeterType.MeterTypeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerToMeterType.MeterTypeName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MeterNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MeterNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MeterModel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MeterModel)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MeterManufacturer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MeterManufacturer)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SanctionedLoad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SanctionedLoad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConnectedLoad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConnectedLoad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerToBusinessType.BusinessTypeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerToBusinessType.BusinessTypeName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OthersBusiness)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OthersBusiness)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SpecialCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SpecialCode)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SpecialType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SpecialType)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerToLocation.LocationName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerToLocation.LocationName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BillGroup)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BillGroup)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BookNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BookNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OmfKwh)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OmfKwh)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MeterReading)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MeterReading)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServiceCableSize)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServiceCableSize)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerToServiceCableType.ServiceCableTypeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerToServiceCableType.ServiceCableTypeName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PlotNo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PlotNo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BuildingApptNo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BuildingApptNo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PremiseName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PremiseName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SurveyDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SurveyDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        @*<dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StructureId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StructureId)
        </dd>*@
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StructureMapNo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StructureMapNo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ConsumerToStructureType.StructureTypeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ConsumerToStructureType.StructureTypeName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NumberOfFloor)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NumberOfFloor)
        </dd>
    </dl>
</div>


@*<div>
        <a asp-action="Edit" asp-route-id="@Model.ConsumerId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
