@model Pdb014App.Models.PDB.InsulatorModels.TblGuy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblGuy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuyType.GuyTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuyToLookUpCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuyToLookUpCondition.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuyToPole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuyToPole.PoleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GuyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
