@model Pdb014App.Models.PDB.MeteringPanelModels.TblMeteringPanel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblMeteringPanel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeteringPanelToSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeteringPanelToSubstation.SubstationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersNameCountryOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersNameCountryOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersModelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersModelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemNominalVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemNominalVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DifferentialRelayForTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DifferentialRelayForTransformer.DifferentRelayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestrictedEarthFaultRelayForTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestrictedEarthFaultRelayForTransformer.DifferentRelayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdmtOverCurrentAndEarthFaultRelayForTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdmtOverCurrentAndEarthFaultRelayForTransformer.DifferentRelayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuxiliaryFlagRelayForTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuxiliaryFlagRelayForTransformer.DifferentRelayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripCircuitSupervisionRelayForTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripCircuitSupervisionRelayForTransformer.DifferentRelayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripRelayForTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripRelayForTransformer.DifferentRelayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnuciatorForTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnuciatorForTransformer.AnnuciatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlSwitchForTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlSwitchForTransformer.ControlSwitchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdmtOverCurrentAndEarthFaultRelayForFeeder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdmtOverCurrentAndEarthFaultRelayForFeeder.DifferentRelayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripCircuitSupervisionRelayForFeeder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripCircuitSupervisionRelayForFeeder.DifferentRelayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripRelayForFeeder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripRelayForFeeder.DifferentRelayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnuciatorForFeeder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnuciatorForFeeder.AnnuciatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlSwitchForFeeder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlSwitchForFeeder.ControlSwitchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KWHandkVARHMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KWHandkVARHMeter.DifferentMeterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoltMeterWithSelectorSwitch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoltMeterWithSelectorSwitch.DifferentMeterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmpereMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmpereMeter.DifferentMeterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MegaWattMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MegaWattMeter.DifferentMeterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MegaVarMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MegaVarMeter.DifferentMeterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeteringPanelToDimensionAndWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeteringPanelToDimensionAndWeight.DimensionAndWeightId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MeteringPanelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
