@model Pdb014App.Models.PDB.SubstationModels.LookUpBatteryCharger

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LookUpBatteryCharger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryChargerToSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryChargerToSubstation.SubstationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersNameAndCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersNameAndCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersModelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersModelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedInputVoltageRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedInputVoltageRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfPhase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfPhase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalOutputVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalOutputVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargingOperatingControl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargingOperatingControl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutputCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutputCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContinuousCurrentRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContinuousCurrentRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Efficiency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Efficiency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoltageRegulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoltageRegulation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BatteryChargerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
