@model Pdb014App.Models.UserManage.LookUpUserBpdbEmployee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LookUpUserBpdbEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BpdbEmployeeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BpdbEmployeeLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBpdbEmployeeUserBpdbDivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBpdbEmployeeUserBpdbDivision.BpdbDivisionName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BpdbEmpDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BpdbEmpDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CircleCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CircleCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SnDCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SnDCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstationId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BpdbEmployeeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
