@model Pdb014App.Models.UserManage.LookUpUserBpdbEmployee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LookUpUserBpdbEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BpdbEmployeeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BpdbEmployeeLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBpdbEmployeeUserBpdbDivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBpdbEmployeeUserBpdbDivision.BpdbDivisionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BpdbEmpDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BpdbEmpDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CircleCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CircleCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SnDCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SnDCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BpdbEmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
