@model Pdb014App.Models.PDB.SwitchGearModels.LookUpCircuitBreaker

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Circuit Breaker Details</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RatedVoltage)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RatedVoltage)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RatedCurrent)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RatedCurrent)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OperatingCycle)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OperatingCycle)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RatedShortCktBreakingCurrent)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RatedShortCktBreakingCurrent)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RatedShortCktMakingCurrent)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RatedShortCktMakingCurrent)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RatedBreakingTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RatedBreakingTime)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OpeningTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OpeningTime)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RatedOperatingSequence)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RatedOperatingSequence)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ControlVoltage)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ControlVoltage)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MotorVoltageForSpringCharge)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MotorVoltageForSpringCharge)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ThreePositionDisconnectorSwitch)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ThreePositionDisconnectorSwitch)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type2)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type2)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RatedVoltage2)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RatedVoltage2)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RatedCurrent2)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RatedCurrent2)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SwitchPositions)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SwitchPositions)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ElectricalAndMechanicalInterlock)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ElectricalAndMechanicalInterlock)
        </dd>
    </dl>
</div>

@*<div>
    <a asp-action="Edit" asp-route-id="@Model.CircuitBreakerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
