@model Pdb014App.Models.PDB.DistributionTransformerModel.TblPoleStructureMountedSurgeArrestor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblPoleStructureMountedSurgeArrestor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeorModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeorModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Construction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Construction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalRatedVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalRatedVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedArresterVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedArresterVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedArresterCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedArresterCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighCurrentWithstand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighCurrentWithstand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PressureReliefClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PressureReliefClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicInsulationlevelBILat12or50MicroSecImpulses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicInsulationlevelBILat12or50MicroSecImpulses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightningImpulseResidualVoltageAt8or20MicrosecCurrentWave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightningImpulseResidualVoltageAt8or20MicrosecCurrentWave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreepageDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreepageDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurgeArrestorToDistributionTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurgeArrestorToDistributionTransformer.DistributionTransformerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PoleStructureMountedSurgeArrestorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
