@model IEnumerable<Pdb014App.Models.PDB.InsulatorModels.LookUpInsulatorShackleOrGuyType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Insulator (Shackle/Guy) Type</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.InsulatorShackleOrGuyTypeId)*@
            Type Id
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.InsulatorShackleOrGuyTypeName)*@
            Type Name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InsulatorShackleOrGuyTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsulatorShackleOrGuyTypeName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.InsulatorShackleOrGuyTypeId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.InsulatorShackleOrGuyTypeId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.InsulatorShackleOrGuyTypeId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
