@model Pdb014App.Models.UserManage.TblUserProfileDetail

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblUserProfileDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfileDetailToUserRegistrationDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfileDetailToUserRegistrationDetail.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBpdbEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBpdbEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfileDetailToUserBpdbEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfileDetailToUserBpdbEmployee.BpdbEmployeeId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAlternateEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAlternateEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAlternateMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAlternateMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSecurityQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSecurityQuestion.UserSecurityQuestion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityQuestionAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityQuestionAnswer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProfileSubmitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProfileSubmitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignatureFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignatureFileName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
