@model Pdb014App.Models.UserManage.TblUserProfileDetail

@{
    ViewData["Title"] = "Details";
}

@section Styles {

    <link href="~/css/datastyle.css" rel="stylesheet" />

    <style type="text/css">

        table.table {
            table-layout: fixed;
        }

            table.table tr th,
            table.table tr td {
                border-color: #e9e9e9;
            }

            table.table th {
                min-width: 80px;
                text-align: left !important
            }

                table.table th:last-child {
                    width: 100px;
                }

                table.table th i {
                    font-size: 13px;
                    margin: 0 5px;
                    cursor: pointer;
                }

            table.table td a {
                cursor: pointer;
                display: inline-block;
                margin: 0 5px;
                min-width: 24px;
            }

                table.table td a.add {
                    color: #27C46B;
                }

                table.table td a.edit {
                    color: #FFC107;
                }

                table.table td a.delete {
                    color: #E34724;
                }

            table.table td i {
                font-size: 19px;
            }

            table.table td a.add i {
                font-size: 24px;
                margin-right: -1px;
                position: relative;
                top: 3px;
            }


            table.table .form-control {
                width: 100%;
                padding: 2px 5px;
                line-height: 1.0;
            }

                table.table .form-control.error {
                    border-color: #f50000;
                }

            table.table td .add {
                display: none;
            }
    </style>
}


<div class="row">
    <div class="offset-md-2 col-md-8 offset-md-2">

        <fieldset>
            <legend>User Profile</legend>
            <table class="table table-responsive">
                @*<tr>
                        <th> Registration Id</th>
                        <td> @Html.DisplayFor(model => model.UserProfileDetailToUserRegistrationDetail.Id)</td>
                    </tr>*@

                <tr>
                    <th>  @Html.DisplayNameFor(model => model.UserFullName)</th>
                    <td>  @Html.DisplayFor(model => model.UserFullName)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.UserDateOfBirth)</th>
                    <td>  @Html.DisplayFor(model => model.UserDateOfBirth)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.UserNID)</th>
                    <td>  @Html.DisplayFor(model => model.UserNID)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.IsBpdbEmployee)</th>
                    <td>  @Html.DisplayFor(model => model.IsBpdbEmployee)</td>
                </tr>
                <tr>
                    <th> Bpdb Employee Id</th>
                    <td>  @Html.DisplayFor(model => model.UserProfileDetailToUserBpdbEmployee.BpdbEmployeeId)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.UserProfession)</th>
                    <td>  @Html.DisplayFor(model => model.UserProfession)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.UserDesignation)</th>
                    <td>  @Html.DisplayFor(model => model.UserDesignation)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.UserProfession)</th>
                    <td>  @Html.DisplayFor(model => model.UserProfession)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.UserAddress)</th>
                    <td>  @Html.DisplayFor(model => model.UserAddress)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.UserProfession)</th>
                    <td>  @Html.DisplayFor(model => model.UserProfession)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.UserAlternateEmail)</th>
                    <td>  @Html.DisplayFor(model => model.UserAlternateEmail)</td>
                </tr>
                <tr>
                    <th>  User Security Question</th>
                    <td>  @Html.DisplayFor(model => model.UserSecurityQuestion.UserSecurityQuestion)</td>
                </tr>

                <tr>
                    <th>  @Html.DisplayNameFor(model => model.SecurityQuestionAnswer)</th>
                    <td>  @Html.DisplayFor(model => model.SecurityQuestionAnswer)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.IsProfileSubmitted)</th>
                    <td>  @Html.DisplayFor(model => model.IsProfileSubmitted)</td>
                </tr>
                <tr>
                    <th>  @Html.DisplayNameFor(model => model.SignatureFileName)</th>
                    <td>  @Html.DisplayFor(model => model.SignatureFileName)</td>
                </tr>
            </table>
            <div>
                <div class="btn-group m-2">
                    <a asp-action="Edit" class="btn btn-primary m-1" asp-route-id="@Model.UserId">Edit</a>
                    <a asp-action="Index" class="btn btn-primary m-1">Back to List</a>
                </div>
            </div>
        </fieldset>
    </div>
</div>

