@model Pdb014App.Models.PDB.TblFeederLine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblFeederLine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederLineUId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederLineUId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederLineType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederLineType.FeederLineTypeId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederLineToRoute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederLineToRoute.RouteCode)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederMeterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederMeterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterCurrentRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterCurrentRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterVoltageRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterVoltageRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumDemand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumDemand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeakDemand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeakDemand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanctionedLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanctionedLoad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FeederLineId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
