@model Pdb014App.Models.PDB.TblFeederLine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblFeederLine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederLineUId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederLineUId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederLineType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederLineType.FeederLineTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederLineToRoute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederLineToRoute.RouteCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeederMeterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeederMeterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterCurrentRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterCurrentRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterVoltageRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterVoltageRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumDemand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumDemand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeakDemand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeakDemand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanctionedLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanctionedLoad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FeederLineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
