@model Pdb014App.Models.PDB.InsulatorModels.TblInsulatorPinAndPost

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblInsulatorPinAndPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LookUpInsulatorPinAndPostType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LookUpInsulatorPinAndPostType.InsulatorPinAndPostTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulatorVoltageClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulatorVoltageClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulatorMaterials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulatorMaterials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumCreepageDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumCreepageDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumWithstandVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumWithstandVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyDry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyDry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyWet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyWet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpulseWithstandVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpulseWithstandVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumPowerFrequencyFlashoverDry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumPowerFrequencyFlashoverDry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumPowerFrequencyFlashoverWet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumPowerFrequencyFlashoverWet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiftyPctImpulseFlashoverWavePositive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiftyPctImpulseFlashoverWavePositive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiftyPctImpulseFlashoverWaveNegative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiftyPctImpulseFlashoverWaveNegative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyPuncherVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyPuncherVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumDryArchingDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumDryArchingDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyTestVoltageRmsToGround)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyTestVoltageRmsToGround)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumRadioInfluenceVoltageRIVAt1000KcInMicroVolt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumRadioInfluenceVoltageRIVAt1000KcInMicroVolt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumNeckDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumNeckDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumDiameterOfInsulator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumDiameterOfInsulator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumHeightOfTheInsulator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumHeightOfTheInsulator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumGroveDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumGroveDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumMechanicalFailingLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumMechanicalFailingLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulatorPinAndPostToPole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulatorPinAndPostToPole.PoleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InsulatorPinAndPostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
