@model IEnumerable<Pdb014App.Models.PDB.ServicePointModels.LookUpStructureType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>List of Structure Type</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StructureTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StructureTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StructureTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StructureTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StructureTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
