@model Pdb014App.Models.PDB.CopperCableModels.TblCopperCables

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblCopperCables</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopperCablesType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopperCablesType.CopperCablesTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CableSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CableSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumbersAndDiameterofWires)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumbersAndDiameterofWires)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumResistanceat30degC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumResistanceat30degC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalThicknessofInsulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalThicknessofInsulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalThicknessofSheath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalThicknessofSheath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorofSheath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorofSheath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproximateOuterDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproximateOuterDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproximateWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproximateWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContinuousPermissibleServiceVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContinuousPermissibleServiceVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRatingAt30degCambientTemperatureUorG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentRatingAt30degCambientTemperatureUorG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRatingat35degCambientinAir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentRatingat35degCambientinAir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConductorToPole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConductorToPole.PoleId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
