@model IEnumerable<Pdb014App.Models.PDB.TblFeederLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Feeder Line</h2>

<p>
    <a asp-action="Create">Add New Feeder Line</a>
</p>
<table class="table">
    <thead>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.FeederLineId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FeederLineUId)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.FeederLineType)*@
            Feeder Line Type
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FeederLineToRoute)*@
            
            Route Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeederName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NominalVoltage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeederLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeederMeterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeterCurrentRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeterVoltageRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumDemand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeakDemand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumLoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanctionedLoad)
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeederLineId)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FeederLineUId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FeederLineType.FeederLineTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeederLineToRoute.RouteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeederName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NominalVoltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeederLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeederMeterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterCurrentRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterVoltageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumDemand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeakDemand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanctionedLoad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeederLineId">Edit</a>
                @*<a asp-action="Details" asp-route-id="@item.FeederLineId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.FeederLineId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
