@model PagingList<Pdb014App.Models.PDB.PhasePowerTransformerModel.TblPhasePowerTransformer>

@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging


@{
    ViewData["Title"] = "Search Power Transformer Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.Action = "SearchPowerTransformer";


    var totalRecords = ViewBag.TotalRecords;
    var searchRecords = Model.TotalRecordCount;


    var rlCount = 5;
    var regionList = ViewBag.RegionList as List<string>;
    if (regionList == null || regionList.Count < 1)
    {
        regionList = new List<string>(rlCount) { "", "", "", "", "" };
    }
    else if (regionList.Count < rlCount)
    {
        for (int rc = regionList.Count; rc < rlCount; ++rc)
        {
            regionList.Add("");
        }
    }

    var spCount = 3;
    var searchParameters = ViewBag.SearchParameters as List<List<string>>;
    if (searchParameters == null || searchParameters.Count < 1)
    {
        searchParameters = new List<List<string>>(spCount);
    }
}


@section Styles {

    <link href="~/css/datastyle.css" rel="stylesheet" />
    <link href="~/css/search.style.css" rel="stylesheet" />
    <link href="~/css/autocomplete.style.css" rel="stylesheet" />
}


<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form method="get" asp-controller="AdvancedSearching" asp-action="@Model.Action">

            <div class="row">
                <div class="col-md-6">

                    <input type="hidden" name="cai" value="@Model.RouteValue["cai"]" />

                    <fieldset style="padding-top:1.1rem;">
                        <legend>▣ Regional Boundaries</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Zone</label>
                                    <select id="ZoneCode" asp-for="@regionList[0]" class="form-control" asp-items="ViewBag.ZoneList">
                                        <option value="" selected="selected">----- all zone -----</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Circle</label>
                                    <select id="CircleCode" asp-for="@regionList[1]" class="form-control" asp-items="ViewBag.CircleList">
                                        <option value="" selected="selected">----- all circle -----</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">S&D</label>
                                    <select id="SnDCode" asp-for="@regionList[2]" class="form-control" asp-items="ViewBag.SnDList">
                                        <option value="" selected="selected">----- all S&D -----</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Substation</label>
                                    <select id="SubstationId" asp-for="@regionList[3]" class="form-control" asp-items="ViewBag.SubstationList">
                                        <option value="" selected="selected">----- all substation -----</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Route</label>
                                        <select id="RouteCode" asp-for="@regionList[4]" class="form-control" asp-items="ViewBag.RouteList">
                                            <option value="" selected="selected">----- all route -----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>*@
                    </fieldset>

                </div>

                <div class="col-md-6">

                    <fieldset>
                        <legend>▣ Search Options</legend>
                        <table id="tblSearchOptions" class="table" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width: 48%">Field Name</th>
                                    <th style="width: 70px">Operator</th>
                                    <th style="width: 50%">Field Value</th>
                                    <th style="width: 73px">Join</th> @*(AND/OR)*@
                                </tr>
                            </thead>

                            <tbody>

                                @for (int spc = 0; spc < spCount; ++spc)
                                {
                                    if (searchParameters.Count <= spc)
                                    {
                                        searchParameters.Add(new List<string>(4) { "", "", "", "" });
                                    }

                                    <tr>
                                        <td>
                                            <select id="fieldName" asp-for="@searchParameters[spc][0]" class="form-control text-left field-name" asp-items="ViewBag.FieldList">
                                                <option value="">--- Select ---</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="operator" asp-for="@searchParameters[spc][1]" class="form-control text-center" asp-items="ViewBag.OperatorList">
                                                <option selected="" value=""></option>
                                            </select>
                                        </td>
                                        <td>
                                            <input id="fieldValue" asp-for="@searchParameters[spc][2]" autocomplete="off" class="form-control text-left field-value" />
                                            <div id="ac-list-@spc" class="ac-list-content"></div>
                                        </td>
                                        <td>
                                            <select id="joinOption" asp-for="@searchParameters[spc][3]" class="form-control text-center">
                                                <option value="AND">AND</option>
                                                <option value="OR">OR</option>
                                            </select>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </fieldset>

                    <div class="form-group" style="margin-top: 10px;">
                        <input type="submit" value="Search" class="btn btn-primary float-right" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <hr />
        @if (searchRecords == totalRecords)
        {
            <strong>Total Records: <span style="font-size: 110%; color: #13d;">@totalRecords</span></strong>
        }
        else
        {
            <strong>Find <span style="font-size: 110%; color: #15c;">@searchRecords</span> Records out of <span style="font-size: 110%; color: #13d;">@totalRecords</span> Records</strong>
        }
        <hr />


        <div class="form-view" id="updatePanel">
            <div id="multi-form-wrapper" class="data-view multi-form-wrapper">

                <table id="multi-form-view" class="table table-responsive multi-form-view">
                    <thead>
                        <tr>
                            <th>
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerId)
                            </th>

                            <th>
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName, "PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName, "PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName, "PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName, "PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationName, "PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName, "PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteName, "PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteName")
                            </th>

                            <th>
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerTo33KvFeederLine.FeederName, "PhasePowerTransformerTo33KvFeederLine.FeederName")
                            </th>
                            @*<th>
                                    @Html.SortableHeaderFor(model => model.PhasePowerTransformerToTblSubstation.SubstationName, "PhasePowerTransformerToTblSubstation.SubstationName")
                                </th>
                                <th>
                                    @Html.SortableHeaderFor(model => model.PhasePowerTransformerToTblSubstation.SubstationType.SubstationTypeName, "PhasePowerTransformerToTblSubstation.SubstationType.SubstationTypeName")
                                </th>*@
                            <th>
                                Source
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerToSourceSubstation.SubstationName, "PhasePowerTransformerToSourceSubstation.SubstationName")
                            </th>
                            <th>
                                Source
                                @Html.SortableHeaderFor(model => model.PhasePowerTransformerToSourceSubstation.SubstationType.SubstationTypeName, "PhasePowerTransformerToSourceSubstation.SubstationType.SubstationTypeName")
                            </th>

                            <th>
                                @Html.SortableHeaderFor(model => model.ManufacturersName)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ManufacturersAddress)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.AppliedStandard)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.DescriptionType)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.SerialNumber)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.RatedPower)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.NumberOfPhase)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.RatedVoltagePhaseToPhase)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.HighVoltageWindingPhaseToPhase)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.LowVoltageWindingPhaseToPhase)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.RatedFrequency)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.RatedInsulationLevel)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ImpulseWithStandFullWave)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ImpulseHighVoltageWinding)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ImpulseLowVoltageWinding)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ACWithStandVoltage)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ACHighVoltageWinding)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ACLowVoltageWinding)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TypeOfCooling28Or35MVA)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.OnLoadTapChanger)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TypeTap)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TappingRangeHT)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.LocationOfTap)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.OilVolume)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.OneStepChange)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.MotorRating)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ImpedanceVoltageAt75CAndAtNominalRatio)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TemperatureRiseAtRatedPowerMaxAmbientTemperature40C)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FiveMva)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.SixPointSixMva)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.OilByThermometer)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.WindingByResistanceMeasurement)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TemperatureGradientBetweenWindingsAndOil)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ShortCircuitLevelAtTerminal)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ThirtyThreeKv)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.EleventKv)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TransformerCore)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TypeofCoreAndFluxEnsityAtNominalVoltage)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TransformerBushings)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.HVBushing)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.HVBushingType)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.LVBushing)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.LVBushingType)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.NeutralBushing)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.NeutralBushingType)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ConservatorWithAirSealedBagForConstantOilPressurYesNo)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.BreatherSilicagel)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.AuxiliaryCircuitVoltageForFanetc3P4W)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ControlVoltage)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.SoundLevelIEC551)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ONAN)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.ONAF)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.BushingCTParticulars)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.HVside)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.LVside)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.NeutralSide)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.NumberOfCoolingFan)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.RatingOfFanMotors)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.CoolingFanLossesAtFullOnafCapacityOperation)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.CoreLossAtRatedFrequencyAndRatedVoltageAtNominalTapNoLoadLoss)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.CopperLossAtFullLoadAtRatedFrequencyAndAt75CFullLoadLoss)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.AtMaximumTap)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.AtNominalTap)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.AtMinimumTap)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.RadiatorsYesNo)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.OverallDimensions)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.NoOfRadiators)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.SupervisoryAlarmAndTripContactsYesNo)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TemperatureIndicatorsYesNo)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.MakeAndType)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.AlarmAndTripRange)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.NoOfContacts)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.CurrentRatingOfContacts)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.SupervisoryAlarmContact)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.DimensionsAndWeightMaximumSizeForTransport)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.LMulWMulH)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.WeightOFoil)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.WeightofCore)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.TotalWeight)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.SanctionedLoad)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.MaximumLoad)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a target="_blank" asp-controller="TblPhasePowerTransformers" asp-action="Details" asp-route-id="@item.PhasePowerTransformerId" asp-route-cai="@Model.RouteValue["cai"]" class="text-success hover-dark" data-toggle="tooltip" data-placement="top" title="Details">
                                        @Html.DisplayFor(modelItem => item.PhasePowerTransformerId)
                                    </a>
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerTo33KvFeederLine.FeederLineToRoute.RouteName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerTo33KvFeederLine.FeederName)
                                </td>


                                @*<td>
                                        @Html.DisplayFor(modelItem => item.PhasePowerTransformerToTblSubstation.SubstationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhasePowerTransformerToTblSubstation.SubstationType.SubstationTypeName)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerToSourceSubstation.SubstationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhasePowerTransformerToSourceSubstation.SubstationType.SubstationTypeName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ManufacturersName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ManufacturersAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AppliedStandard)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptionType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SerialNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RatedPower)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfPhase)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RatedVoltagePhaseToPhase)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HighVoltageWindingPhaseToPhase)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LowVoltageWindingPhaseToPhase)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RatedFrequency)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RatedInsulationLevel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImpulseWithStandFullWave)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImpulseHighVoltageWinding)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImpulseLowVoltageWinding)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ACWithStandVoltage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ACHighVoltageWinding)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ACLowVoltageWinding)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TypeOfCooling28Or35MVA)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnLoadTapChanger)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TypeTap)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TappingRangeHT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LocationOfTap)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OilVolume)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OneStepChange)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MotorRating)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImpedanceVoltageAt75CAndAtNominalRatio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TemperatureRiseAtRatedPowerMaxAmbientTemperature40C)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FiveMva)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SixPointSixMva)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OilByThermometer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WindingByResistanceMeasurement)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TemperatureGradientBetweenWindingsAndOil)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShortCircuitLevelAtTerminal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThirtyThreeKv)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EleventKv)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransformerCore)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TypeofCoreAndFluxEnsityAtNominalVoltage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransformerBushings)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HVBushing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HVBushingType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LVBushing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LVBushingType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NeutralBushing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NeutralBushingType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ConservatorWithAirSealedBagForConstantOilPressurYesNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BreatherSilicagel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuxiliaryCircuitVoltageForFanetc3P4W)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ControlVoltage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoundLevelIEC551)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ONAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ONAF)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BushingCTParticulars)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HVside)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LVside)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NeutralSide)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfCoolingFan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RatingOfFanMotors)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoolingFanLossesAtFullOnafCapacityOperation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoreLossAtRatedFrequencyAndRatedVoltageAtNominalTapNoLoadLoss)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CopperLossAtFullLoadAtRatedFrequencyAndAt75CFullLoadLoss)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AtMaximumTap)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AtNominalTap)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AtMinimumTap)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RadiatorsYesNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OverallDimensions)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfRadiators)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupervisoryAlarmAndTripContactsYesNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TemperatureIndicatorsYesNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MakeAndType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AlarmAndTripRange)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfContacts)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrentRatingOfContacts)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupervisoryAlarmContact)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DimensionsAndWeightMaximumSizeForTransport)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LMulWMulH)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WeightOFoil)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WeightofCore)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SanctionedLoad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaximumLoad)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>


        <div style="text-align: center;">
            <vc:pager paging-list="@Model" />
        </div>


    </div>
</div>


@section Scripts{

    <script src="~/js/autocomplete.extend.js"></script>

    <script type="text/javascript">

        $(function () {

            $(".field-name").on("change",
                function() {
                    setAutocomplete($(this));
                    return false;
                }).trigger("change");


            $("#ZoneCode").on("change",
                function() {
                    var zoneCode = $("#ZoneCode").val(),
                        $circle = $("#CircleCode");

                    $circle.empty();
                    $("#SnDCode").empty();
                    $("#SubstationId").empty();
                    $("#RouteCode").empty();

                    if (!zoneCode)
                        return false;

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetCircleList", "LookUpCircleInfoes")',
                        dataType: "json",
                        data: { zoneCode: zoneCode },
                        before: $("#busy-indicator").fadeIn(150),
                        success: function(circles) {
                            $circle.append(
                                '<option value="" selected="selected">----- all circle -----</option>');
                            $.each(circles,
                                function(i, circle) {
                                    $("<option />").val(circle.value).html(circle.text)
                                        .appendTo($circle);
                                });
                        },
                        error: function(ex, status, error) {
                            msg.init("error",
                                "Error... . . !",
                                "Failed to load Circle list. " + ex.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                    return false;
                });

            $("#CircleCode").on("change",
                function() {
                    var circleCode = $("#CircleCode").val(),
                        $snd = $("#SnDCode");

                    $snd.empty();
                    $("#SubstationId").empty();
                    $("#RouteCode").empty();

                    if (!circleCode)
                        return false;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetSnDList", "LookUpSnDInfoes")",
                        dataType: "json",
                        data: { circleCode: circleCode },
                        before: $("#busy-indicator").fadeIn(150),
                        success: function(snds) {
                            $snd.append(
                                '<option value="" selected="selected">----- all SnD -----</option>');
                            $.each(snds,
                                function(i, snd) {
                                    $("<option />").val(snd.value).html(snd.text).appendTo($snd);
                                });
                        },
                        error: function(ex, status, error) {
                            msg.init("error",
                                "Error... . . !",
                                "Failed to load SnD list. " + ex.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                    return false;
                });

            $("#SnDCode").on("change",
                function() {
                    var sndCode = $("#SnDCode").val(),
                        $substation = $("#SubstationId");

                    $substation.empty();
                    $("#RouteCode").empty();

                    if (!sndCode)
                        return false;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetSubStationList", "LookUpZoneInfoes")",
                        dataType: "json",
                        data: { sndCode: sndCode },
                        before: $("#busy-indicator").fadeIn(150),
                        success: function(substations) {
                            $substation.append(
                                '<option value="" selected="selected">----- all sub-station -----</option>');
                            $.each(substations,
                                function(i, substation) {
                                    $("<option />").val(substation.value).html(substation.text).appendTo($substation);
                                });
                        },
                        error: function(ex, status, error) {
                            msg.init("error",
                                "Error... . . !",
                                "Failed to load Sub-Station list. " + ex.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                    return false;
                });

            $("#SubstationId").on("change",
                function() {
                    var substationId = $("#SubstationId").val(),
                        $route = $("#RouteCode");

                    $route.empty();

                    if (!substationId)
                        return false;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetRouteList", "LookUpRouteInfoes")",
                        dataType: "json",
                        data: { substationId: substationId },
                        before: $("#busy-indicator").fadeIn(150),
                        success: function(routes) {
                            $route.append(
                                '<option value="" selected="selected">----- all route -----</option>');
                            $.each(routes,
                                function(i, route) {
                                    $("<option />").val(route.value).html(route.text).appendTo($route);
                                });
                        },
                        error: function(ex, status, error) {
                            msg.init("error", "Error... . . !", "Failed to load Route list. " + ex.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                    return false;
                });

        });

    </script>

}

