@model PagingList<Pdb014App.Models.PDB.TblFeederLine>

@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging


@{
    ViewData["Title"] = "Search Feeder Line Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.Action = "SearchFeederLine";


    var totalRecords = ViewBag.TotalRecords;
    var searchRecords = Model.TotalRecordCount;


    var rlCount = 5;
    var regionList = ViewBag.RegionList as List<string>;
    if (regionList == null || regionList.Count < 1)
    {
        regionList = new List<string>(rlCount) { "", "", "", "", "" };
    }
    else if (regionList.Count < rlCount)
    {
        for (int rc = regionList.Count; rc < rlCount; ++rc)
        {
            regionList.Add("");
        }
    }

    var spCount = 3;
    var searchParameters = ViewBag.SearchParameters as List<List<string>>;
    if (searchParameters == null || searchParameters.Count < 1)
    {
        searchParameters = new List<List<string>>(spCount);
    }
}


@section Styles {

    <link href="~/css/datastyle.css" rel="stylesheet" />
    <link href="~/css/search.style.css" rel="stylesheet" />
    <link href="~/css/autocomplete.style.css" rel="stylesheet" />
}


<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form method="get" asp-controller="AdvancedSearching" asp-action="@Model.Action">

            <div class="row">
                <div class="col-md-6">

                    <input type="hidden" name="cai" value="@Model.RouteValue["cai"]" />

                    <fieldset style="padding-top:1.1rem;">
                        <legend>▣ Regional Boundaries</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Zone</label>
                                    <select id="ZoneCode" asp-for="@regionList[0]" class="form-control" asp-items="ViewBag.ZoneList">
                                        <option value="" selected="selected">----- all zone -----</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Circle</label>
                                    <select id="CircleCode" asp-for="@regionList[1]" class="form-control" asp-items="ViewBag.CircleList">
                                        <option value="" selected="selected">----- all circle -----</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">S&D</label>
                                    <select id="SnDCode" asp-for="@regionList[2]" class="form-control" asp-items="ViewBag.SnDList">
                                        <option value="" selected="selected">----- all S&D -----</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Substation</label>
                                    <select id="SubstationId" asp-for="@regionList[3]" class="form-control" asp-items="ViewBag.SubstationList">
                                        <option value="" selected="selected">----- all substation -----</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Route</label>
                                        <select id="RouteCode" asp-for="@regionList[4]" class="form-control" asp-items="ViewBag.RouteList">
                                            <option value="" selected="selected">----- all route -----</option>
                                        </select>
                                    </div>
                                </div>
                            </div>*@
                    </fieldset>

                </div>

                <div class="col-md-6">

                    <fieldset>
                        <legend>▣ Search Options</legend>
                        <table id="tblSearchOptions" class="table" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width: 48%">Field Name</th>
                                    <th style="width: 70px">Operator</th>
                                    <th style="width: 50%">Field Value</th>
                                    <th style="width: 73px">Join</th> @*(AND/OR)*@
                                </tr>
                            </thead>

                            <tbody>

                                @for (int spc = 0; spc < spCount; ++spc)
                                {
                                    if (searchParameters.Count <= spc)
                                    {
                                        searchParameters.Add(new List<string>(4) { "", "", "", "" });
                                    }

                                    <tr>
                                        <td>
                                            <select id="fieldName" asp-for="@searchParameters[spc][0]" class="form-control text-left field-name" asp-items="ViewBag.FieldList">
                                                <option value="">--- Select ---</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="operator" asp-for="@searchParameters[spc][1]" class="form-control text-center" asp-items="ViewBag.OperatorList">
                                                <option selected="" value=""></option>
                                            </select>
                                        </td>
                                        <td>
                                            <input id="fieldValue" asp-for="@searchParameters[spc][2]" autocomplete="off" class="form-control text-left field-value" />
                                            <div id="ac-list-@spc" class="ac-list-content"></div>
                                        </td>
                                        <td>
                                            <select id="joinOption" asp-for="@searchParameters[spc][3]" class="form-control text-center">
                                                <option value="AND">AND</option>
                                                <option value="OR">OR</option>
                                            </select>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </fieldset>

                    <div class="form-group" style="margin-top: 10px;">
                        <input type="submit" value="Search" class="btn btn-primary float-right" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <hr />
        @if (searchRecords == totalRecords)
        {
            <strong>Total Records: <span style="font-size: 110%; color: #13d;">@totalRecords</span></strong>
        }
        else
        {
            <strong>Find <span style="font-size: 110%; color: #15c;">@searchRecords</span> Records out of <span style="font-size: 110%; color: #13d;">@totalRecords</span> Records</strong>
        }
        <hr />

        <div class="form-view" id="updatePanel">
            <div id="multi-form-wrapper" class="data-view multi-form-wrapper">

                <table id="multi-form-view" class="table table-responsive multi-form-view">
                    <thead>
                        <tr>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineId)
                            </th>

                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName, "FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName, "FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName, "FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName, "FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineToRoute.RouteToSubstation.SubstationName, "FeederLineToRoute.RouteToSubstation.SubstationName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName, "FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineToRoute.RouteName, "FeederLineToRoute.RouteName")
                            </th>

                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineUId)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLineType.FeederLineTypeName, "FeederLineType.FeederLineTypeName")
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederConductorType.FeederConductorType, "FeederConductorType.FeederConductorType")
                            </th>

                            <th>
                                @Html.SortableHeaderFor(model => model.FeederName)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.NominalVoltage)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederLocation)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.FeederMeterNumber)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.MeterCurrentRating)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.MeterVoltageRating)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.MaximumDemand)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.PeakDemand)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.MaximumLoad)
                            </th>
                            <th>
                                @Html.SortableHeaderFor(model => model.SanctionedLoad)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    <a target="_blank" asp-controller="TblFeederLines" asp-action="Details" asp-route-id="@item.FeederLineId" asp-route-cai="@Model.RouteValue["cai"]" class="text-success hover-dark" data-toggle="tooltip" data-placement="top" title="Details">
                                        @Html.DisplayFor(modelItem => item.FeederLineId)
                                    </a>
                                    <br />
                                    <a target="_blank" asp-controller="MapViewer" asp-action="SearchMap"
                                       asp-route-zoneCode="@item.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneCode"
                                       asp-route-circleCode="@item.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleCode"
                                       asp-route-snDCode="@item.FeederLineToRoute.RouteToSubstation.SnDCode"
                                       asp-route-substationId="@item.FeederLineToRoute.SubstationId"
                                       asp-route-routeCode="@item.RouteCode"
                                       asp-route-feederLineId="@item.FeederLineId"
                                       asp-route-cai="map_01"
                                       class="text-success hover-dark" style="color: #15d !important;" data-toggle="tooltip" data-placement="top" title="View in Map.">
                                        Map
                                    </a>
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLineToRoute.RouteToSubstation.SubstationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLineToRoute.RouteName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLineUId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLineType.FeederLineTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederConductorType.FeederConductorType)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NominalVoltage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FeederMeterNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MeterCurrentRating)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MeterVoltageRating)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaximumDemand)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PeakDemand)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaximumLoad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SanctionedLoad)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

        <div style="text-align: center;">
            <vc:pager paging-list="@Model" />
        </div>

    </div>
</div>


@section Scripts{

    <script src="~/js/autocomplete.extend.js"></script>

    <script type="text/javascript">

        $(function () {

            $(".field-name").on("change",
                function() {
                    setAutocomplete($(this));
                    return false;
                }).trigger("change");


            $("#ZoneCode").on("change",
                function() {
                    var zoneCode = $("#ZoneCode").val(),
                        $circle = $("#CircleCode");

                    $circle.empty();
                    $("#SnDCode").empty();
                    $("#SubstationId").empty();
                    $("#RouteCode").empty();

                    if (!zoneCode)
                        return false;

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetCircleList", "LookUpCircleInfoes")',
                        dataType: "json",
                        data: { zoneCode: zoneCode },
                        before: $("#busy-indicator").fadeIn(150),
                        success: function(circles) {
                            $circle.append(
                                '<option value="" selected="selected">----- all circle -----</option>');
                            $.each(circles,
                                function(i, circle) {
                                    $("<option />").val(circle.value).html(circle.text)
                                        .appendTo($circle);
                                });
                        },
                        error: function(ex, status, error) {
                            msg.init("error",
                                "Error... . . !",
                                "Failed to load Circle list. " + ex.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                    return false;
                });

            $("#CircleCode").on("change",
                function() {
                    var circleCode = $("#CircleCode").val(),
                        $snd = $("#SnDCode");

                    $snd.empty();
                    $("#SubstationId").empty();
                    $("#RouteCode").empty();

                    if (!circleCode)
                        return false;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetSnDList", "LookUpSnDInfoes")",
                        dataType: "json",
                        data: { circleCode: circleCode },
                        before: $("#busy-indicator").fadeIn(150),
                        success: function(snds) {
                            $snd.append(
                                '<option value="" selected="selected">----- all SnD -----</option>');
                            $.each(snds,
                                function(i, snd) {
                                    $("<option />").val(snd.value).html(snd.text).appendTo($snd);
                                });
                        },
                        error: function(ex, status, error) {
                            msg.init("error",
                                "Error... . . !",
                                "Failed to load SnD list. " + ex.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                    return false;
                });

            $("#SnDCode").on("change",
                function() {
                    var sndCode = $("#SnDCode").val(),
                        $substation = $("#SubstationId");

                    $substation.empty();
                    $("#RouteCode").empty();

                    if (!sndCode)
                        return false;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetSubStationList", "LookUpZoneInfoes")",
                        dataType: "json",
                        data: { sndCode: sndCode },
                        before: $("#busy-indicator").fadeIn(150),
                        success: function(substations) {
                            $substation.append(
                                '<option value="" selected="selected">----- all sub-station -----</option>');
                            $.each(substations,
                                function(i, substation) {
                                    $("<option />").val(substation.value).html(substation.text).appendTo($substation);
                                });
                        },
                        error: function(ex, status, error) {
                            msg.init("error",
                                "Error... . . !",
                                "Failed to load Sub-Station list. " + ex.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                    return false;
                });

            $("#SubstationId").on("change",
                function() {
                    var substationId = $("#SubstationId").val(),
                        $route = $("#RouteCode");

                    $route.empty();

                    if (!substationId)
                        return false;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetRouteList", "LookUpRouteInfoes")",
                        dataType: "json",
                        data: { substationId: substationId },
                        before: $("#busy-indicator").fadeIn(150),
                        success: function(routes) {
                            $route.append(
                                '<option value="" selected="selected">----- all route -----</option>');
                            $.each(routes,
                                function(i, route) {
                                    $("<option />").val(route.value).html(route.text).appendTo($route);
                                });
                        },
                        error: function(ex, status, error) {
                            msg.init("error", "Error... . . !", "Failed to load Route list. " + ex.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                    return false;
                });

        });

    </script>

}

