@model PagingList<Pdb014App.Models.PDB.MeteringPanelModels.LookUpDifferentRelay>

@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Search Different Relays";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.Action = "SearchDifferentRelay";


    var totalRecords = ViewBag.TotalRecords;
    var searchRecords = Model.TotalRecordCount;


    var spCount = 3;
    var searchParameters = ViewBag.SearchParameters as List<List<string>>;
    if (searchParameters == null || searchParameters.Count < 1)
    {
        searchParameters = new List<List<string>>(spCount);
    }
}


@section Styles {

    <link href="~/css/datastyle.css" rel="stylesheet" />
    <link href="~/css/search.style.css" rel="stylesheet" />
    <link href="~/css/autocomplete.style.css" rel="stylesheet" />
}


<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form method="get" asp-controller="AdvancedSearching" asp-action="@Model.Action">
            <fieldset style="padding-bottom: 10px;">
                <legend>▣ Search Options</legend>

                <table id="tblSearchOptions" class="table" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width: 48%">Field Name</th>
                            <th style="width: 70px">Operator</th>
                            <th style="width: 50%">Field Value</th>
                            <th style="width: 70px">Join (AND/OR)</th>
                        </tr>
                    </thead>

                    <tbody>

                        @for (int spc = 0; spc < spCount; ++spc)
                        {
                            if (searchParameters.Count <= spc)
                            {
                                searchParameters.Add(new List<string>(4) { "", "", "", "" });
                            }

                            <tr>
                                <td>
                                    <select id="fieldName" asp-for="@searchParameters[spc][0]" class="form-control text-left field-name" asp-items="ViewBag.FieldList">
                                        <option value="">--- Select ---</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="operator" asp-for="@searchParameters[spc][1]" class="form-control text-center" asp-items="ViewBag.OperatorList">
                                        <option selected="" value=""></option>
                                    </select>
                                </td>
                                <td>
                                    <input id="fieldValue" asp-for="@searchParameters[spc][2]" class="form-control text-left field-value" />
                                    <div id="ac-list-@spc" class="ac-list-content"></div>
                                </td>
                                <td>
                                    <select id="joinOption" asp-for="@searchParameters[spc][3]" class="form-control text-center">
                                        <option value="AND">AND</option>
                                        <option value="OR">OR</option>
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </fieldset>

            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Search" class="btn btn-primary float-right" />
            </div>

        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        @if (searchRecords == totalRecords)
        {
            <strong>Total Records: <span style="font-size: 110%; color: #13d;">@totalRecords</span></strong>
        }
        else
        {
            <strong>Find <span style="font-size: 110%; color: #15c;">@searchRecords</span> Records out of <span style="font-size: 110%; color: #13d;">@totalRecords</span> Records</strong>
        }

        <div class="form-view" id="updatePanel">
            <div id="multi-form-wrapper" class="data-view multi-form-wrapper">

                <table id="multi-form-view" class="table table-responsive multi-form-view">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DifferentRelayId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ManufacturersName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CountryOfOrigin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ManufacturersModelNo)
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.DifferentTypesOfRelay.RelayTypeName, "DifferentTypesOfRelay.RelayTypeName")*@
                                Relay Type Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a target="_blank" asp-controller="LookUpDifferentRelays" asp-action="Details" asp-route-id="@item.DifferentRelayId" asp-route-cai="@Model.RouteValue["cai"]" class="text-success hover-dark" data-toggle="tooltip" data-placement="top" title="Details">
                                        @Html.DisplayFor(modelItem => item.DifferentRelayId)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ManufacturersName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CountryOfOrigin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ManufacturersModelNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DifferentTypesOfRelay.RelayTypeName)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>


        <div style="text-align: center;">
            <vc:pager paging-list="@Model" />
        </div>


    </div>
</div>



@section Scripts{

    <script src="~/js/autocomplete.extend.js"></script>

    <script type="text/javascript">

        $(function () {

            $(".field-name").on("change",
                function () {
                    setAutocomplete($(this));
                    return false;
                }).trigger("change");
        });

    </script>

}


