@model Pdb014App.Models.PDB.MeteringPanelModels.LookUpDifferentMeter

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LookUpDifferentMeter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersNameandCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersNameandCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturesModelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturesModelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfMeter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassOfAccuracy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassOfAccuracy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeparateAmeterforEachPhase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeparateAmeterforEachPhase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DifferentTypesOfMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DifferentTypesOfMeter.MeterTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DifferentMeterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
