@model Pdb014App.Models.PDB.SubstationModels.LookUpNiCdBattery110vDc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LookUpNiCdBattery110vDc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiCdBattery110VDcToSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiCdBattery110VDcToSubstation.SubstationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersNameAndAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersNameAndAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersModelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersModelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCells)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCells)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoltagePerCell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoltagePerCell)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NiCdBattery110vDcId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
