@model IEnumerable<Pdb014App.Models.PDB.SwitchGearModels.LookUpSwitchGearType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SwitchGearTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SwitchGearTypeName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SwitchGearTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SwitchGearTypeName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.SwitchGearTypeId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.SwitchGearTypeId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.SwitchGearTypeId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
