@model Pdb014App.Models.PDB.SubstationModels.TblRelay

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblRelay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufactureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelayToFeederLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelayToFeederLine.FeederLineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelayToSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelayToSubstation.SubstationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RelayId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
