@model IEnumerable<Pdb014App.Models.PDB.PoleModels.TblPoleToMultiFeederlineInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pole to Feeder Line Information</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.PoleInfo)*@
                Pole Id
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MultiFeederLineInfo)*@

                FeederLine Id
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PreviousPoleInfo)*@
                Previous Pole Id
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NextPoleInfo)*@
                Next Pole Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PoleInfo.PoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MultiFeederLineInfo.FeederLineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousPoleInfo.PoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextPoleInfo.PoleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
