@model Pdb014App.Models.PDB.MeteringPanelModels.LookUpDifferentRelay

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Different Relay Details</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersModelNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersModelNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DifferentTypesOfRelay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DifferentTypesOfRelay.RelayTypeId)
        </dd>
    </dl>
</div>

@*<div>
    <a asp-action="Edit" asp-route-id="@Model.DifferentRelayId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
