@model IEnumerable<Pdb014App.Models.UserManage.TblUserGrpWisePermissionDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.UserGrpWisePermissionDetailToUsersPermittedContent)*@
                Users Permitted Content
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UserGrpWisePermissionDetailToIdentityRole)*@
                Permitted Group Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserGrpWisePermissionDetailToUsersPermittedContent.UsersPermittedContentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGrpWisePermissionDetailToIdentityRole.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PermissionTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PermissionTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PermissionTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
