@model Pdb014App.Models.PDB.SubstationModels.TblSubstation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h4>Add Substation Information</h4>

    <hr />*@
<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3">
        <fieldset>
            <legend>Add Substation Information</legend>

            @ViewBag.Error
            <form asp-action="Create" id="myform">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="SubstationId" class="control-label"></label>
                    <input asp-for="SubstationId" class="form-control" />
                    <span asp-validation-for="SubstationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubstationTypeId" class="control-label">Substation Type</label>
                    <select asp-for="SubstationTypeId" class="form-control" asp-items="ViewBag.SubstationTypeId">
                        @*<option>--Select--</option>*@
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="SubstationName" class="control-label"></label>
                    <input asp-for="SubstationName" id="SubstationName" class="form-control" />
                    <span asp-validation-for="SubstationName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Zone</label>
                    <select id="ZoneCode" class="form-control" asp-items="ViewBag.ZoneCode" value="@ViewBag.ZoneCode">
                        <option value="" selected="selected" disabled="disabled">--- Select Zone ---</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Circle</label>
                    <select id="CircleCode" class="form-control">
                        <option value="" selected="selected" disabled="disabled">--- Select Circle ---</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">S&D</label>
                    <select id="SnDCode" class="form-control">
                        <option value="" selected="selected" disabled="disabled">--- Select S&D ---</option>
                    </select>
                </div>
                @*<div class="form-group">
                <label asp-for="SnDCode" class="control-label"></label>
                <select asp-for="SnDCode" class="form-control" asp-items="ViewBag.SnDCode">
                    <option>--Select--</option>
                </select>

            </div>*@
                <div class="form-group">
                    <label asp-for="NominalVoltage" class="control-label"></label>
                    <input asp-for="NominalVoltage" class="form-control" />
                    <span asp-validation-for="NominalVoltage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InstalledCapacity" class="control-label"></label>
                    <input asp-for="InstalledCapacity" class="form-control" />
                    <span asp-validation-for="InstalledCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaximumDemand" class="control-label"></label>
                    <input asp-for="MaximumDemand" class="form-control" />
                    <span asp-validation-for="MaximumDemand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PeakLoad" class="control-label"></label>
                    <input asp-for="PeakLoad" class="form-control" />
                    <span asp-validation-for="PeakLoad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AreaOfSubstation" class="control-label"></label>
                    <input asp-for="AreaOfSubstation" class="form-control" />
                    <span asp-validation-for="AreaOfSubstation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YearOfComissioning" class="control-label"></label>
                    <input asp-for="YearOfComissioning" class="form-control" />
                    <span asp-validation-for="YearOfComissioning" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success float-right" />
                    <a class="btn btn-success left-right" asp-action="Index">Back</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts
    {

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <script type="text/javascript">
        $(function(){

            //if ($("#SubstationName").val() == "") {
            //    alert("Please Enter Substation Name");
            //    return;
            //}

            //$("#myform").validate({
            //    rules: {
            //        SubstationName: "required"
            //    },
            //    messages: {
            //        SubstationName: "Please Enter Substation Name"
            //    }
            //});


        $("#ZoneCode").on("change",
            function () {
                var zoneCode = $("#ZoneCode").val(),
                    $circle = $("#CircleCode");

                $circle.empty();
                //$(".dist-code").val(distCode);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetCircleList")",
                    dataType: "json",
                    data: { zoneCode: zoneCode },
                    //before: $("#busy-indicator").fadeIn(150),
                    success: function (circles) {
                        //alert(circles);

                        $circle.append('<option value="" selected="selected">----- Select -----</option>');
                        $.each(circles, function (i, circle) {

                            //console.log(circles);
                            //alert(circles);
                            $("<option />").val(circle.value).html(circle.text).appendTo($circle);
                        });
                    },
                    error: function (ex) {
                        window.msg.init("error", "Error... . . !", "Failed to load circle list. " + ex.error);
                    },
                    //complete: $("#busy-indicator").fadeOut(150)
                });
                return false;
            });
        $("#CircleCode").on("change",function () {
            var circleCode = $("#CircleCode").val(),
                //upazCode = $(this).val(),
                $snd = $("#SnDCode");
            $snd.empty();
            // $(".upaz-code").val(upazCode);

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSnDList")",
                dataType: "json",
                data: { circleCode: circleCode },
                //before: $("#busy-indicator").fadeIn(150),
                success: function (snds) {
                    $snd.append('<option value="" selected="selected">---- select ----</option>');
                    $.each(snds,
                        function (i, snd) {
                            $("<option />").val(snd.value).html(snd.text).appendTo($snd);
                            //$unions.append('<option value="' + union.value + '">' + union.text + '</option>');
                        });
                },
                error: function (ex) {
                    window.msg.init("error", "Error... . . !", "Failed to load SnD list. " + ex.error);
                },
                //complete: $("#busy-indicator").fadeOut(150)
            });
            return false;
        });

        $("#SnDCode").on("change",function () {
            var sndCode = $("#SnDCode").val(),

                $substation = $("#SubstationId");
            $substation.empty();
            // $(".upaz-code").val(upazCode);

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSubStationList")",
                dataType: "json",
                data: { sndCode: sndCode },
                //before: $("#busy-indicator").fadeIn(150),
                success: function (substations) {
                    //alert(substations);

                    $substation.append('<option value="" selected="selected">---- select ----</option>');
                    $.each(substations,
                        function (i, substation) {
                            $("<option />").val(substation.value).html(substation.text).appendTo($substation);
                            //$unions.append('<option value="' + union.value + '">' + union.text + '</option>');
                        });
                },
                error: function (ex) {
                    window.msg.init("error", "Error... . . !", "Failed to load SnD list. " + ex.error);
                },
                //complete: $("#busy-indicator").fadeOut(150)
            });
            return false;
        });

        $("#SubstationId").on("change",function () {
            var substationId = $("#SubstationId").val(),

                $route = $("#RouteCode");
            $route.empty();
            // $(".upaz-code").val(upazCode);

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetRouteList")",
                dataType: "json",
                data: { substationId: substationId },
                //before: $("#busy-indicator").fadeIn(150),
                success: function (routes) {
                    //alert(routes);

                    $route.append('<option value="" selected="selected">---- select ----</option>');
                    $.each(routes,
                        function (i, route) {
                            $("<option />").val(route.value).html(route.text).appendTo($route);
                            //$unions.append('<option value="' + union.value + '">' + union.text + '</option>');
                        });
                },
                error: function (ex) {
                    window.msg.init("error", "Error... . . !", "Failed to load SnD list. " + ex.error);
                },
                //complete: $("#busy-indicator").fadeOut(150)
            });
            return false;
        });


        $("#RouteCode").on("change", function () {
            var routeCode = $("#RouteCode").val();

            $sourceCableId = $("#SourceCableId");
            $targetCableId = $("#TargetCableId");
            $feederLineId = $("#FeederLineId");




            $targetCableId.empty();
            $sourceCableId.empty();
            $feederLineId.empty();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetFeederLineList")",
                dataType: "json",
                data: { routeCode: routeCode },
                //before: $("#busy-indicator").fadeIn(150),
                success: function (routes) {
                    //alert(routes);

                    $sourceCableId.append('<option value="" selected="selected" >---- select ----</option>');
                    $targetCableId.append('<option value="" selected="selected">---- select ----</option>');
                    $feederLineId.append('<option value="" selected="selected">---- select ----</option>');
                    $.each(routes,
                        function (i, route) {
                            $("<option />").val(route.value).html(route.text).appendTo($sourceCableId);
                            $("<option />").val(route.value).html(route.text).appendTo($targetCableId);
                            $("<option />").val(route.value).html(route.text).appendTo($feederLineId);
                            //$unions.append('<option value="' + union.value + '">' + union.text + '</option>');
                        });
                },
                error: function (ex) {
                    window.msg.init("error", "Error... . . !", "Failed to load SnD list. " + ex.error);
                },
                //complete: $("#busy-indicator").fadeOut(150)
            });
            return false;
        });

        });
        //$(document).ready(function () {
        //    $("#myform").validate({
        //        rules: {
        //            SubstationName: "required"
        //            //NameOfAffectedPerson: "required",
        //            //Date: "required",
        //            //NidCardNumber: {
        //            //    required: true,
        //            //    min:1
        //            //},
        //            //PhoneNo: {
        //            //    required: true,
        //            //    min: 1
        //            //},
        //        },
        //        messages: {
        //            SubstationName: "Please Enter Substation Name"
        //            //NameOfAffectedPerson: "Please Enter Your Name",
        //            //Date: "Please Select a Date",
        //            //NidCardNumber: {
        //            //    required: "Please Enter a National Id ",
        //            //    min:"National Id Must Be in Correct Formate"
        //            //},
        //            //PhoneNo: {
        //            //    required: "Please Enter a Phone Number",
        //            //    min: "Phnone Number Must be Correct Formate"
        //            //},


        //           // Mauza: "Please Select a Mauza",


        //            //Miscellaneous: {
        //            //    required: "Please Enter Number",
        //            //    min: "Please Enter Numeric Number without Negative Value"
        //            //}
        //        }

        //    });
        //});


    </script>
}
