@model Pdb014App.Models.PDB.SubstationModels.TblSubstation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblSubstation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstationType.SubstationTypeId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstationToLookUpSnD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstationToLookUpSnD.SnDCode)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumDemand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumDemand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeakLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeakLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaOfSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaOfSubstation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfComissioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfComissioning)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubstationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
