@model Pdb014App.Models.PDB.SubstationModels.TblSubstation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblSubstation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstationType.SubstationTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstationToLookUpSnD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstationToLookUpSnD.SnDCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumDemand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumDemand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeakLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeakLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaOfSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaOfSubstation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfComissioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfComissioning)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubstationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
