<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">*@

    <title>BPDB :: @ViewData["Title"]</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.jpg">
    <link rel="icon" type="image/ico" href="~/Images/logo.jpg" />
    <link rel="apple-touch-icon" href="~/Images/logo.jpg">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
                asp-fallback-href="~/lib/font-awesome/css/fontawesome.min.css"
                integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
                crossorigin="anonymous">
        <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />*@
    </environment>

    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
                asp-fallback-href="~/lib/font-awesome/css/fontawesome.min.css"
                integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
                crossorigin="anonymous">*@

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />

    </environment>



    <!-- vendor css -->
    @*
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />*@
    <link href="~/lib/bracket/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bracket/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/lib/bracket/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    @*
    <link href="~/lib/bracket/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="~/lib/bracket/rickshaw/rickshaw.min.css" rel="stylesheet">
    <link href="~/lib/bracket/chartist/chartist.css" rel="stylesheet">*@
    <!-- Bracket CSS -->

    <link href="~/css/bracket/bracket.css" rel="stylesheet" />
    <link href="~/css/bracket/accordion_style.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />


    <style>
        .banner {
            /*background-image: url('../Images/banner.png');*/
            background-image: url('/pdb_app/Images/banner.png');
            background-size: 100% 100%;
            background-repeat:no-repeat;
            background-position:center center;
            height: 150px;
            width: 100%;
        }
        .pdb_logo {
            background-color: transparent;
            /*background-image: url('../Images/banner.png');*/
            background-image: url('/pdb_app/Images/pdb_logo.png');
            background-size: 150px auto;
            background-repeat:no-repeat;
            background-position:center center;
            height: 150px;
        }

        .banner-top {
            margin-top: 150px;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu a::after {
                transform: rotate(-90deg);
                position: absolute;
                right: 6px;
                top: .8em;
            }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-left: .1rem;
                margin-right: .1rem;
            }

        .fixed-top {
            z-index: 999 !important;
        }
    </style>

    @RenderSection("Styles", required: false)
    
</head>


<body>
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="text-center banner">
        <div class="br-logo text-center pdb_logo">
        </div>
        <a href="#" style="margin-left: auto; margin-right: auto;">
            <h1 style="color:#045a87 !important; padding-top: 45px;">BPDB Web GIS Application</h1>
        </a>
    </div>
        @*<div>
                <h2 class="pd-md-20 fixed-top">MENU</h2>
            </div>*@
        @*<span>[</span>BPDB<span>]</span>*@

        <div class="br-sideleft overflow-y-auto banner-top">
            @*<label class="sidebar-label pd-x-20 mg-t-10 text-center">MENU</label>*@

            <div id="jquery-accordion-menu" class="jquery-accordion-menu">
                <ul>

                    @*
                        <li class="active fixed-top" style="text-align: center">
                            <a href="#">
                                <img src="~/Images/logo.jpg" width="80" style="text-align: center" />
                            </a>
                        </li>*@



                    <li>
                        <a id="dasb_01" asp-area="" asp-controller="Home" asp-route-cai="dasb_01" asp-action="Index">
                            <i class="fa fa-dashboard"></i>Dashboard
                        </a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-edit"></i>Data Entry </a>
                        <ul class="submenu">
                            <li>
                                <a href="#">Pole Information</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Add</a>
                                        <ul class="submenu">
                                            <li><a id="de_pi_ad_01" asp-area="" asp-controller="TblPoles1" asp-action="Create" asp-route-cai="de_pi_ad_01">Pole</a></li>
                                            <li><a id="de_pi_ad_02" asp-area="" asp-controller="TblFeederLines" asp-action="Create" asp-route-cai="de_pi_ad_02">Feeder Line</a></li>
                                            <li><a id="de_pi_ad_03" asp-area="" asp-controller="LookUpFeederLineTypes" asp-action="Create" asp-route-cai="de_pi_ad_03">Feeder Line Type</a></li>
                                            <li><a id="de_pi_ad_04" asp-area="" asp-controller="TblCrossArmInfoes" asp-action="Create" asp-route-cai="de_pi_ad_04">Cross Arms</a></li>
                                            <li><a id="de_pi_ad_05" asp-area="" asp-controller="TblSpecificationsOfMountBrackets" asp-action="Create" asp-route-cai="de_pi_ad_05">Mount Bracket</a></li>
                                            <li><a id="de_pi_ad_06" asp-area="" asp-controller="LookUpSpecificationsOfMountBracketTypes" asp-action="Create" asp-route-cai="de_pi_ad_06">Mount Bracket Types</a></li>
                                            <li><a id="de_pi_ad_07" asp-area="" asp-controller="LookUpSideLockTieTerminalClampMerlins" asp-action="Create" asp-route-cai="de_pi_ad_07">Side Lock Tie Terminal Clamp Merlins</a></li>
                                            <li><a id="de_pi_ad_08" asp-area="" asp-controller="TblPoleMountedDofCutOutFuseLinks" asp-action="Create" asp-route-cai="de_pi_ad_08">Pole Mounted Dof Cut-Out Fuse Link</a></li>
                                            <li><a id="de_pi_ad_09" asp-area="" asp-controller="TblCopperCables" asp-action="Create" asp-route-cai="de_pi_ad_09">Copper Cable</a></li>
                                            <li><a id="de_pi_ad_10" asp-area="" asp-controller="LookUpCopperCablesTypes" asp-action="Create" asp-route-cai="de_pi_ad_10">Copper Cable Type</a></li>
                                            <li><a id="de_pi_ad_11" asp-area="" asp-controller="TblPoleToMultiFeederlineInfoes" asp-action="Create" asp-route-cai="de_pi_ad_11">Pole To Multi-Feederline Information</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Edit</a>
                                        <ul class="submenu">
                                            <li><a id="de_pi_ed_01" asp-area="" asp-controller="TblPoles" asp-action="Index" asp-route-cai="de_pi_ed_01">Pole</a></li>
                                            <li><a id="de_pi_ed_02" asp-area="" asp-controller="TblFeederLines" asp-action="Index" asp-route-cai="de_pi_ed_02">Feeder Line</a></li>
                                            <li><a id="de_pi_ed_03" asp-area="" asp-controller="LookUpFeederLineTypes" asp-action="Index" asp-route-cai="de_pi_ed_03">Feeder Line Type</a></li>
                                            <li><a id="de_pi_ed_04" asp-area="" asp-controller="TblCrossArmInfoes" asp-action="Index" asp-route-cai="de_pi_ed_04">Cross Arms</a></li>
                                            <li><a id="de_pi_ed_05" asp-area="" asp-controller="TblSpecificationsOfMountBrackets" asp-action="Index" asp-route-cai="de_pi_ed_05">Mount Bracket</a></li>
                                            <li><a id="de_pi_ed_06" asp-area="" asp-controller="LookUpSpecificationsOfMountBracketTypes" asp-action="Index" asp-route-cai="de_pi_ed_06">Mount Bracket Types</a></li>
                                            <li><a id="de_pi_ed_07" asp-area="" asp-controller="LookUpSideLockTieTerminalClampMerlins" asp-action="Index" asp-route-cai="de_pi_ed_07">Side Lock Tie Terminal Clamp Merlins</a></li>
                                            <li><a id="de_pi_ed_08" asp-area="" asp-controller="TblPoleMountedDofCutOutFuseLinks" asp-action="Index" asp-route-cai="de_pi_ed_08">Pole Mounted Dof Cut-Out Fuse Link</a></li>
                                            <li><a id="de_pi_ed_09" asp-area="" asp-controller="TblCopperCables" asp-action="Index" asp-route-cai="de_pi_ed_09">Copper Cable</a></li>
                                            <li><a id="de_pi_ed_10" asp-area="" asp-controller="LookUpCopperCablesTypes" asp-action="Index" asp-route-cai="de_pi_ed_10">Copper Cable Type</a></li>
                                            <li><a id="de_pi_ad_11" asp-area="" asp-controller="TblPoleToMultiFeederlineInfoes" asp-action="Index" asp-route-cai="de_pi_ad_11">Pole To Multi-Feederline Information</a></li>
                                            @*
                                                <li><a id="de_pi_ed_p_01" asp-area="" asp-controller="TblPoles" asp-action="Index" asp-route-cai="de_pi_ed_p_01">Pole</a></li>
                                                <li><a id="de_pi_ed_fl_01" asp-area="" asp-controller="TblFeederLines" asp-action="Index" asp-route-cai="de_pi_ed_fl_01">Feeder Line</a></li>
                                                <li><a id="de_pi_ed_fl_t_01" asp-area="" asp-controller="LookUpFeederLineTypes" asp-action="Index" asp-route-cai="de_pi_ed_fl_t_01">Feeder Line Type</a></li>
                                                <li><a id="de_pi_ed_ca_01" asp-area="" asp-controller="TblCrossArms" asp-action="Index" asp-route-cai="de_pi_ed_ca_01">Cross Arms</a></li>
                                                <li><a id="de_pi_ed_mb_01" asp-area="" asp-controller="TblSpecificationsOfMountBrackets" asp-action="Index" asp-route-cai="de_pi_ed_mb_01">Mount Bracket</a></li>
                                                <li><a id="de_pi_ed_mb_t_01" asp-area="" asp-controller="LookUpSpecificationsOfMountBracketTypes" asp-action="Index" asp-route-cai="de_pi_ed_mb_t_01">Mount Bracket Types</a></li>
                                                <li><a id="de_pi_ed_slttcm_01" asp-area="" asp-controller="LookUpSideLockTieTerminalClampMerlins" asp-action="Index" asp-route-cai="de_pi_ed_slttcm_01">Side Lock Tie Terminal Clamp Merlins</a></li>
                                                <li><a id="de_pi_ed_pmdcfl_01" asp-area="" asp-controller="TblPoleMountedDofCutOutFuseLinks" asp-action="Index" asp-route-cai="de_pi_ed_pmdcfl_01">Pole Mounted Dof Cut-Out Fuse Link</a></li>
                                                <li><a id="de_pi_ed_cc_01" asp-area="" asp-controller="TblCopperCables" asp-action="Index" asp-route-cai="de_pi_ed_cc_01">Copper Cable</a></li>
                                                <li><a id="de_pi_ed_cc_t_01" asp-area="" asp-controller="LookUpCopperCablesTypes" asp-action="Index" asp-route-cai="de_pi_ed_cc_t_01">Copper Cable Type</a></li>*@
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Substation Information</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Add</a>
                                        <ul class="submenu">
                                            <li><a id="a_ss_01" asp-area="" asp-controller="TblSubstations" asp-action="Create" asp-route-cai="a_ss_01">Sub-Stations</a></li>
                                            <li><a id="a_ss_t_01" asp-area="" asp-controller="LookUpSubstationTypes" asp-action="Create" asp-route-cai="a_ss_t_01">Sub-Stations Type</a></li>
                                            <li><a id="a_acr_01" asp-area="" asp-controller="TblAutoCircuitReClosers" asp-action="Create" asp-route-cai="a_acr_01">Auto Circuit Re-Closer</a></li>
                                            <li><a id="a_acr_t_01" asp-area="" asp-controller="LookUpAutoCircuitReCloserTypes" asp-action="Create" asp-route-cai="a_acr_t_01">Auto Circuit Re-Closer Type</a></li>
                                            <li><a id="a_bat_chr_01" asp-area="" asp-controller="LookUpBatteryChargers" asp-action="Create" asp-route-cai="a_bat_chr_01">Battery Charger</a></li>
                                            <li><a id="a_nicd_bat_01" asp-area="" asp-controller="LookUpNiCdBattery110vDc" asp-action="Create" asp-route-cai="a_nicd_bat_01">Ni-Cd Battery (110 V DC)</a></li>
                                            <li><a id="a_iotp_enme_01" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Create" asp-route-cai="a_iotp_enme_01">Indoor/Outdoor Type Programmable Energy Meter</a></li>
                                            <li><a id="a_sw_33kv_01" asp-area="" asp-controller="TblSwitch33KvIsolator" asp-action="Create" asp-route-cai="a_sw_33kv_01">Switch (33 Kv Isolator)</a></li>
                                            <li><a id="a_rel_01" asp-area="" asp-controller="TblRelays" asp-action="Create" asp-route-cai="a_rel_01">Relay</a></li>
                                            <li><a id="a_vcb_01" asp-area="" asp-controller="TblOutDoorTypeVacumnCircuitBreakers" asp-action="Create" asp-route-cai="a_vcb_01">Vacumn Circuit Breaker</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Edit</a>
                                        <ul class="submenu">
                                            <li><a id="e_ss_01" asp-area="" asp-controller="TblSubstations" asp-action="Index" asp-route-cai="e_ss_01">Sub-Stations</a></li>
                                            <li><a id="e_ss_t_01" asp-area="" asp-controller="LookUpSubstationTypes" asp-action="Index" asp-route-cai="e_ss_t_01">Sub-Stations Type</a></li>
                                            <li><a id="e_acr_01" asp-area="" asp-controller="TblAutoCircuitReClosers" asp-action="Index" asp-route-cai="e_acr_01">Auto Circuit Re-Closer</a></li>
                                            <li><a id="e_acr_t_01" asp-area="" asp-controller="LookUpAutoCircuitReCloserTypes" asp-action="Index" asp-route-cai="e_acr_t_01">Auto Circuit Re-Closer Type</a></li>
                                            <li><a id="e_bat_chr_01" asp-area="" asp-controller="LookUpBatteryChargers" asp-action="Index" asp-route-cai="e_bat_chr_01">Battery Charger</a></li>
                                            <li><a id="e_nicd_bat_01" asp-area="" asp-controller="LookUpNiCdBattery110vDc" asp-action="Index" asp-route-cai="e_nicd_bat_01">Ni-Cd Battery (110 V DC)</a></li>
                                            <li><a id="e_iotp_enme_01" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Index" asp-route-cai="e_iotp_enme_01">Indoor/Outdoor Type Programmable Energy Meter</a></li>
                                            <li><a id="e_sw_33kv_01" asp-area="" asp-controller="TblSwitch33KvIsolator" asp-action="Index" asp-route-cai="e_sw_33kv_01">Switch (33 Kv Isolator)</a></li>
                                            <li><a id="e_rel_01" asp-area="" asp-controller="TblRelays" asp-action="Index" asp-route-cai="e_rel_01">Relay</a></li>
                                            <li><a id="e_vcb_01" asp-area="" asp-controller="TblOutDoorTypeVacumnCircuitBreakers" asp-action="Index" asp-route-cai="e_vcb_01">Vacumn Circuit Breaker</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Transformer Information</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Add</a>
                                        <ul class="submenu">
                                            <li><a id="a_pow_tr_01" asp-area="" asp-controller="TblPhasePowerTransformers" asp-action="Create" asp-route-cai="a_pow_tr_01">Power Transformers</a></li>
                                            <li><a id="a_dis_tr_01" asp-area="" asp-controller="TblDistributionTransformers" asp-action="Create" asp-route-cai="a_dis_tr_01">Distribution Transformers</a></li>
                                            <li><a id="a_cur_tr_01" asp-area="" asp-controller="LookUpCurrentTransformers" asp-action="Create" asp-route-cai="a_cur_tr_01">Current Transformers</a></li>
                                            <li><a id="a_aux_tr_01" asp-area="" asp-controller="LookUpAuxiliaryTransformers" asp-action="Create" asp-route-cai="a_aux_tr_01">Auxiliary Transformers</a></li>
                                            <li><a id="a_pot_tr_01" asp-area="" asp-controller="LookUpPotentialTrans33KV" asp-action="Create" asp-route-cai="a_pot_tr_01">Potential Transformers</a></li>
                                            <li><a id="a_psms_01" asp-area="" asp-controller="TblPoleStructureMountedSurgeArrestors" asp-action="Create" asp-route-cai="a_psms_01">Pole Structure Mounted Surge Arrestors</a></li>
                                            <li><a id="a_sur_a_01" asp-area="" asp-controller="TblSurgeArrestors" asp-action="Create" asp-route-cai="a_sur_a_01">Surge Arrestors</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Edit</a>
                                        <ul class="submenu">
                                            <li><a id="e_pow_tr_01" asp-area="" asp-controller="TblPhasePowerTransformers" asp-action="Index" asp-route-cai="e_pow_tr_01">Power Transformers</a></li>
                                            <li><a id="e_dis_tr_01" asp-area="" asp-controller="TblDistributionTransformers" asp-action="Index" asp-route-cai="e_dis_tr_01">Distribution Transformers</a></li>
                                            <li><a id="e_cur_tr_01" asp-area="" asp-controller="LookUpCurrentTransformers" asp-action="Index" asp-route-cai="e_cur_tr_01">Current Transformers</a></li>
                                            <li><a id="e_aux_tr_01" asp-area="" asp-controller="LookUpAuxiliaryTransformers" asp-action="Index" asp-route-cai="e_aux_tr_01">Auxiliary Transformers</a></li>
                                            <li><a id="e_pot_tr_01" asp-area="" asp-controller="LookUpPotentialTrans33KV" asp-action="Index" asp-route-cai="e_pot_tr_01">Potential Transformers</a></li>
                                            <li><a id="e_psms_01" asp-area="" asp-controller="TblPoleStructureMountedSurgeArrestors" asp-action="Index" asp-route-cai="e_psms_01">Pole Structure Mounted Surge Arrestors</a></li>
                                            <li><a id="e_sur_a_01" asp-area="" asp-controller="TblSurgeArrestors" asp-action="Index" asp-route-cai="e_sur_a_01">Surge Arrestors</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Conductor Information</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Add</a>
                                        <ul class="submenu">
                                            <li><a id="a_con_01" asp-area="" asp-controller="TblConductors" asp-action="Create" asp-route-cai="a_con_01">Conductor</a></li>
                                            <li><a id="a_con_t_01" asp-area="" asp-controller="LookUpConductorTypes" asp-action="Create" asp-route-cai="a_con_t_01">Conductor Type</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Edit</a>
                                        <ul class="submenu">
                                            <li><a id="e_con_01" asp-area="" asp-controller="TblConductors" asp-action="Index" asp-route-cai="e_con_01">Conductor</a></li>
                                            <li><a id="e_con_t_01" asp-area="" asp-controller="LookUpConductorTypes" asp-action="Index" asp-route-cai="e_con_t_01">Conductor Type</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Insulator Information</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Add</a>
                                        <ul class="submenu">
                                            <li><a id="a_ins_d_01" asp-area="" asp-controller="TblInsulatorDisks" asp-action="Create" asp-route-cai="a_ins_d_01">Insulator (Disk)</a></li>
                                            <li><a id="a_ins_d_t_01" asp-area="" asp-controller="LookUpInsulatorDiskTypes" asp-action="Create" asp-route-cai="a_ins_d_t_01">Insulator (Disk) Type</a></li>
                                            <li><a id="a_ins_pp_01" asp-area="" asp-controller="TblInsulatorPinAndPosts" asp-action="Create" asp-route-cai="a_ins_pp_01">Insulator (Pin/Post)</a></li>
                                            <li><a id="a_ins_pp_t_01" asp-area="" asp-controller="LookUpInsulatorPinAndPostTypes" asp-action="Create" asp-route-cai="a_ins_pp_t_01">Insulator (Pin/Post) Type</a></li>
                                            <li><a id="a_ins_sg_01" asp-area="" asp-controller="TblInsulatorShackleOrGuys" asp-action="Create" asp-route-cai="a_ins_sg_01">Insulator (Shackle/Guy)</a></li>
                                            <li><a id="a_ins_sg_t_01" asp-area="" asp-controller="LookUpInsulatorShackleOrGuyTypes" asp-action="Create" asp-route-cai="a_ins_sg_t_01">Insulator (Shackle/Guy) Type</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Edit</a>
                                        <ul class="submenu">
                                            <li><a id="e_ins_d_01" asp-area="" asp-controller="TblInsulatorDisks" asp-action="Index" asp-route-cai="e_ins_d_01">Insulator (Disk)</a></li>
                                            <li><a id="e_ins_d_t_01" asp-area="" asp-controller="LookUpInsulatorDiskTypes" asp-action="Index" asp-route-cai="e_ins_d_t_01">Insulator (Disk) Type</a></li>
                                            <li><a id="e_ins_pp_01" asp-area="" asp-controller="TblInsulatorPinAndPosts" asp-action="Index" asp-route-cai="e_ins_pp_01">Insulator (Pin/Post)</a></li>
                                            <li><a id="e_ins_pp_t_01" asp-area="" asp-controller="LookUpInsulatorPinAndPostTypes" asp-action="Index" asp-route-cai="e_ins_pp_t_01">Insulator (Pin/Post) Type</a></li>
                                            <li><a id="e_ins_sg_01" asp-area="" asp-controller="TblInsulatorShackleOrGuys" asp-action="Index" asp-route-cai="e_ins_sg_01">Insulator (Shackle/Guy)</a></li>
                                            <li><a id="e_ins_sg_t_01" asp-area="" asp-controller="LookUpInsulatorShackleOrGuyTypes" asp-action="Index" asp-route-cai="e_ins_sg_t_01">Insulator (Shackle/Guy) Type</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Protection Control & Metering Panel</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Add</a>
                                        <ul class="submenu">
                                            <li><a id="a_met_p_01" asp-area="" asp-controller="TblMeteringPanels" asp-action="Create" asp-route-cai="a_met_p_01">Metering Panel</a></li>
                                            <li><a id="a_met_p_02" asp-area="" asp-controller="LookUpDifferentRelays" asp-action="Create" asp-route-cai="a_met_p_02">Relay</a></li>
                                            <li><a id="a_met_p_03" asp-area="" asp-controller="LookUpDifferentTypesOfRelays" asp-action="Create" asp-route-cai="a_met_p_03">Relay Types</a></li>
                                            <li><a id="a_met_p_04" asp-area="" asp-controller="LookUpDifferentMeters" asp-action="Create" asp-route-cai="a_met_p_04">Meter</a></li>
                                            <li><a id="a_met_p_05" asp-area="" asp-controller="LookUpDifferentTypesOfMeters" asp-action="Create" asp-route-cai="a_met_p_05">Meter Types</a></li>
                                            <li><a id="a_met_p_06" asp-area="" asp-controller="LookupAnnuciators" asp-action="Create" asp-route-cai="a_met_p_06">Annuciator</a></li>
                                            <li><a id="a_met_p_07" asp-area="" asp-controller="LookupControlSwitches" asp-action="Create" asp-route-cai="a_met_p_07">Control Switches</a></li>
                                            <li><a id="a_met_p_08" asp-area="" asp-controller="LookUpDimensionAndWeights" asp-action="Create" asp-route-cai="a_met_p_08">Dimension And Weight</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Edit</a>
                                        <ul class="submenu">
                                            <li><a id="e_met_p_01" asp-area="" asp-controller="TblMeteringPanels" asp-action="Index" asp-route-cai="e_met_p_01">Metering Panel</a></li>
                                            <li><a id="e_met_p_02" asp-area="" asp-controller="LookUpDifferentRelays" asp-action="Index" asp-route-cai="e_met_p_02">Relay</a></li>
                                            <li><a id="e_met_p_03" asp-area="" asp-controller="LookUpDifferentTypesOfRelays" asp-action="Index" asp-route-cai="e_met_p_03">Relay Types</a></li>
                                            <li><a id="e_met_p_04" asp-area="" asp-controller="LookUpDifferentMeters" asp-action="Index" asp-route-cai="e_met_p_04">Meter</a></li>
                                            <li><a id="e_met_p_05" asp-area="" asp-controller="LookUpDifferentTypesOfMeters" asp-action="Index" asp-route-cai="e_met_p_05">Meter Types</a></li>
                                            <li><a id="e_met_p_06" asp-area="" asp-controller="LookupAnnuciators" asp-action="Index" asp-route-cai="e_met_p_06">Annuciator</a></li>
                                            <li><a id="e_met_p_07" asp-area="" asp-controller="LookupControlSwitches" asp-action="Index" asp-route-cai="e_met_p_07">Control Switches</a></li>
                                            <li><a id="e_met_p_08" asp-area="" asp-controller="LookUpDimensionAndWeights" asp-action="Index" asp-route-cai="e_met_p_08">Dimension And Weight</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            @*
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Switchgear Information</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                            <ul class="dropdown-menu">

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblSwitchGears" asp-action="Create">SwitchGears</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Create">SwitchGear  Type</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupBusBars" asp-action="Create">Bus Bar</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Create">Circuit Breaker</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Create">Sf6 Safety And Life</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Create">Position</a></li>


                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblTerminationKits" asp-action="Create">Termination Kits</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Create">11KV XLP Ealuminium Copper Galvanize </a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Create">Programmable Energy Meter </a></li>

                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                            <ul class="dropdown-menu">

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblSwitchGears" asp-action="Index">SwitchGears</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Index">SwitchGear  Type</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupBusBars" asp-action="Index">Bus Bar</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Index">Circuit Breaker</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Index">Sf6 Safety And Life</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Index">Position</a></li>

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblTerminationKits" asp-action="Index">Termination Kits</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Index">11KV XLP Ealuminium Copper Galvanize </a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Index">Programmable Energy Meter </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@

                            <li>
                                <a href="#">Switchgear Information</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Add</a>
                                        <ul class="submenu">
                                            <li><a id="a_swt_g_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Create" asp-route-cai="a_swt_g_01">Switchgear</a></li>
                                            <li><a id="a_swt_g_02" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Create" asp-route-cai="a_swt_g_02">Switchgear Type</a></li>
                                            <li><a id="a_swt_g_03" asp-area="" asp-controller="LookupBusBars" asp-action="Create" asp-route-cai="a_swt_g_03">Bus Bar</a></li>
                                            <li><a id="a_swt_g_04" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Create" asp-route-cai="a_swt_g_04">Circuit Breaker</a></li>
                                            <li><a id="a_swt_g_05" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Create" asp-route-cai="a_swt_g_05">Sf6 Safety And Life</a></li>
                                            <li><a id="a_swt_g_06" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Create" asp-route-cai="a_swt_g_06">Position</a></li>

                                            <li><a id="a_swt_g_07" asp-area="" asp-controller="TblTerminationKits" asp-action="Create" asp-route-cai="a_swt_g_07">Termination Kits</a></li>
                                            <li><a id="a_swt_g_08" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Create" asp-route-cai="a_swt_g_08">11KV XLPE Aluminium Copper Galvanize</a></li>
                                            <li><a id="a_swt_g_09" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Create" asp-route-cai="a_swt_g_09">Programmable Energy Meter </a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Edit</a>
                                        <ul class="submenu">
                                            <li><a id="e_swt_g_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Create" asp-route-cai="e_swt_g_01">Switchgear</a></li>
                                            <li><a id="e_swt_g_02" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Create" asp-route-cai="e_swt_g_02">Switchgear Type</a></li>
                                            <li><a id="e_swt_g_03" asp-area="" asp-controller="LookupBusBars" asp-action="Create" asp-route-cai="e_swt_g_03">Bus Bar</a></li>
                                            <li><a id="e_swt_g_04" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Create" asp-route-cai="e_swt_g_04">Circuit Breaker</a></li>
                                            <li><a id="e_swt_g_05" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Create" asp-route-cai="e_swt_g_05">Sf6 Safety And Life</a></li>
                                            <li><a id="e_swt_g_06" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Create" asp-route-cai="e_swt_g_06">Position</a></li>

                                            <li><a id="e_swt_g_07" asp-area="" asp-controller="TblTerminationKits" asp-action="Create" asp-route-cai="e_swt_g_07">Termination Kits</a></li>
                                            <li><a id="e_swt_g_08" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Create" asp-route-cai="e_swt_g_08">11KV XLPE Aluminium Copper Galvanize</a></li>
                                            <li><a id="e_swt_g_09" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Create" asp-route-cai="e_swt_g_09">Programmable Energy Meter </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            @*
                                <li>
                                    <a href="#">Switch Gear Information</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">Add</a>
                                            <ul class="submenu">
                                                <li><a id="a_ter_k_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Create" asp-route-cai="a_ter_k_01">Switch Gears</a></li>
                                                <li><a id="a_11kv_xlp_01" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Create" asp-route-cai="a_11kv_xlp_01">11KV XLPE Aluminium Copper Galvanize</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Edit</a>
                                            <ul class="submenu">
                                                <li><a id="e_ter_k_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Index" asp-route-cai="e_ter_k_01">Switch Gears</a></li>
                                                <li><a id="e_11kv_xlp_01" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Index" asp-route-cai="e_11kv_xlp_01">11KV XLPE Aluminium Copper Galvanize</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@

                            <li>
                                <a href="#">Service Point Information</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Add</a>
                                        <ul class="submenu">
                                            <li><a id="a_cd_01" asp-area="" asp-controller="TblConsumerDatas" asp-action="Create" asp-route-cai="a_cd_01">Consumer Data</a></li>
                                            <li><a id="a_sp_01" asp-area="" asp-controller="TblServicePoints" asp-action="Create" asp-route-cai="a_sp_01">Service Point</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Edit</a>
                                        <ul class="submenu">
                                            <li><a id="e_cd_01" asp-area="" asp-controller="TblConsumerDatas" asp-action="Index" asp-route-cai="e_cd_01">Consumer Data</a></li>
                                            <li><a id="e_sp_01" asp-area="" asp-controller="TblServicePoints" asp-action="Index" asp-route-cai="e_sp_01">Service Point</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Regional Boundaries</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Add</a>
                                        <ul class="submenu">
                                            <li><a id="a_zone_01" asp-area="" asp-controller="LookUpZoneInfoes" asp-action="Create" asp-route-cai="a_zone_01">Zone</a></li>
                                            <li><a id="a_circle_01" asp-area="" asp-controller="LookUpCircleInfoes" asp-action="Create" asp-route-cai="a_circle_01">Circle</a></li>
                                            <li><a id="a_snd_01" asp-area="" asp-controller="LookUpSnDInfoes" asp-action="Create" asp-route-cai="a_snd_01">S&D</a></li>
                                            <li><a id="a_route_01" asp-area="" asp-controller="LookUpRouteInfoes" asp-action="Create" asp-route-cai="a_route_01">Route</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Edit</a>
                                        <ul class="submenu">
                                            <li><a id="e_zone_01" asp-area="" asp-controller="LookUpZoneInfoes" asp-action="Index" asp-route-cai="e_zone_01">Zone</a></li>
                                            <li><a id="e_circle_01" asp-area="" asp-controller="LookUpCircleInfoes" asp-action="Index" asp-route-cai="e_circle_01">Circle</a></li>
                                            <li><a id="e_snd_01" asp-area="" asp-controller="LookUpSnDInfoes" asp-action="Index" asp-route-cai="e_snd_01">S&D</a></li>
                                            <li><a id="e_route_01" asp-area="" asp-controller="LookUpRouteInfoes" asp-action="Index" asp-route-cai="e_route_01">Route</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-search"></i>Data Searching & Querying</a>

                        <ul class="submenu">
                            <li>
                                <a href="#">Pole Information</a>
                                <ul class="submenu">
                                    <li><a id="advs_010" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchPole" asp-route-cai="advs_010" asp-route-modelId="1">Pole Information</a></li>
                                    <li><a id="advs_011" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchFeederLine" asp-route-cai="advs_011" asp-route-modelId="1">Feeder Line</a></li>
                                    <li><a id="advs_012" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchCrossArm" asp-route-cai="advs_012" asp-route-modelId="1">Cross Arm</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Substation Information</a>
                                <ul class="submenu">
                                    <li><a id="advs_020" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchSubstation" asp-route-cai="advs_020" asp-route-modelId="1">Substation Information</a></li>
                                    <li><a id="advs_021" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchSwitch33Kv" asp-route-cai="advs_021" asp-route-modelId="1">Switch (33Kv Isolator) Information</a></li>
                                    <li><a id="advs_023" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchVacumnCircuitBreaker" asp-route-cai="advs_023" asp-route-modelId="1">Vacumn Circuit Breaker</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Transformer Information</a>
                                <ul class="submenu">
                                    <li><a id="advs_030" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchDistributionTransformer" asp-route-cai="advs_030" asp-route-modelId="1">Distribution Transformers</a></li>
                                    <li><a id="advs_040" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchPowerTransformer" asp-route-cai="advs_040" asp-route-modelId="1">Power Transformers</a></li>
                                    <li><a id="advs_031" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchRelay" asp-route-cai="advs_031" asp-route-modelId="1">Relays</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Conductor Information</a>
                                <ul class="submenu">
                                    @*
                                        <li>
                                            <a href="#">Advanced Search</a>
                                            <ul class="submenu">
                                                <li></li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </li>

                            <li>
                                <a href="#">Insulator Information</a>
                                <ul class="submenu">
                                    @*
                                        <li>
                                            <a href="#">Advanced Search</a>
                                            <ul class="submenu">
                                                <li></li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </li>

                            <li>
                                <a href="#">Protection Control & Metering Panel</a>
                                <ul class="submenu">
                                    <li><a id="advs_060" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchMeteringPanel" asp-route-cai="advs_060" asp-route-modelId="1">Metering Panels</a></li>
                                    <li><a id="advs_061" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchDifferentRelay" asp-route-cai="advs_061" asp-route-modelId="1">Different Relays</a></li>

                                    @*
                                        <li>
                                            <a href="#">Advanced Search</a>
                                            <ul class="submenu">
                                                <li><a id="advs_060" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchMeteringPanel" asp-route-cai="advs_060" asp-route-modelId="1">Metering Panels</a></li>
                                                <li><a id="advs_061" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchDifferentRelay" asp-route-cai="advs_061" asp-route-modelId="1">Different Relays</a></li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </li>

                            <li>
                                <a href="#">Switchgear Information</a>
                                <ul class="submenu">
                                    <li><a id="advs_070" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchSwitchgear" asp-route-cai="advs_070" asp-route-modelId="1">Switchgear</a></li>
                                    <li><a id="advs_071" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchCircuitBreaker" asp-route-cai="advs_071" asp-route-modelId="1">Circuit Breakers</a></li>

                                    @*
                                        <li>
                                            <a href="#">Advanced Search</a>
                                            <ul class="submenu">
                                                <li><a id="advs_070" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchCircuitBreaker" asp-route-cai="advs_070" asp-route-modelId="1">Circuit Breakers</a></li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </li>

                            <li>
                                <a href="#">Service Point Information</a>
                                <ul class="submenu">
                                    <li><a id="advs_150" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchConsumerData" asp-route-cai="advs_150" asp-route-modelId="1">Consumer Data</a></li>

                                    @*
                                        <li>
                                            <a href="#">Advanced Search</a>
                                            <ul class="submenu">
                                                <li><a id="advs_150" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchConsumerData" asp-route-cai="advs_150" asp-route-modelId="1">Consumer Data</a></li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </li>

                            @*
                                <li>
                                    <a href="#">Regional Boundaries</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">Advanced Search</a>
                                            <ul class="submenu">
                                                <li></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@
                        </ul>

                    </li>

                    <li>
                        <a href="#"><i class="fa fa-download"></i>Data Audit & Inport</a>
                        @*<a id="dai_01" asp-area="" asp-controller="#" asp-action="#" asp-route-cai="dai_01"><i class="fa fa-download"></i>Data Audit & Inport</a>*@
                        <ul class="submenu">
                            <li><a id="dai_02" asp-area="" asp-controller="Audit" asp-action="Audit" asp-route-cai="dai_02" asp-route-modelId="1">Pole</a></li>
                        </ul>
                    </li>


                    <li><a asp-area="" asp-controller="MapViewer" asp-action="MapView"><i class="fa fa-map"></i>Map Viewer</a></li>
                    <li><a id="rep_01" asp-area="" asp-controller="#" asp-action="" asp-route-cai="rep_01"><i class="fa fa-database"></i>Reports</a></li>
                    <li><a id="com_mng_01" asp-area="" asp-controller="#" asp-action="" asp-route-cai="com_mng_01"><i class="fa fa-comment"></i>Complain Management</a></li>
                    <li><a id="evac_01" asp-area="" asp-controller="#" asp-action="" asp-route-cai="evac_01"><i class="fa fa-sticky-note"></i>Event Viewing & Access Control</a></li>
                    <li><a id="d_intr_01" asp-area="" asp-controller="#" asp-action="" asp-route-cai="d_intr_01"><i class="fa fa-asl-interpreting"></i>Data interfacing</a></li>

                </ul>
            </div>

            @*
                </div>*@
            <!-- br-sideleft-menu -->
        </div>
        <!-- br-sideleft -->
        <!-- ########## END: LEFT PANEL ########## -->
        <!-- ########## START: HEAD PANEL ########## -->

        <div class="br-header" style="height: 150px;background: transparent;">
            <div class="br-header-left">
                <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="#" title="Left Menu Hide/Show"><i class="icon ion-navicon-round" style="font-size: 24px;"></i></a></div>
                <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="#"><i class="icon ion-navicon-round"></i></a></div>
            </div>
            <!-- br-header-left -->

            <div class="br-header-left" style="width: 100%;">
                <div style="width: 100%; text-align: center;">
                    @*<h4 class="tx-gray-800 mg-b-5 tx-20" style="font-size: 28px;color:#005B67">BPDB Web GIS Application</h4>*@
                </div>
                <div style="width:60px;">
                    <a href="#" target="_blank"><span>[</span><label>Login</label><span>]</span></a>
                </div>
            </div>

            <div class="br-header-right">
                <!-- navicon-right -->
                <div class="navicon-right">
                    <img src="~/Images/dashboard/identify.png" width="25" alt="help" title="help" />
                </div>
            </div>
            <!-- br-header-right -->
        </div>
        <!-- br-header -->
        <!-- ########## END: HEAD PANEL ########## -->



        <div class="br-mainpanel banner-top">
            <partial name="_CookieConsentPartial" />

            @RenderBody()

            <hr />

            <footer style="text-align: center; color:darkblue !important; font-size: 13px;">
                <p>
                    <a href="http://www.bpdb.gov.bd/bpdb_new/" target="_blank"><span style="float: left; margin-left: 10px;">&copy; @DateTime.Now.Year - Bangladesh Power Development Board (BPDB)</span></a>
                    <a href="http://www.cegisbd.com/" target="_blank"><span style="float: right; margin-right: 10px;">Developed by CEGIS</span></a>
                </p>
            </footer>
        </div>



        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        </environment>

        <environment exclude="Development">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        </environment>



        <script src="~/js/site.js" asp-append-version="true"></script>


        @*
            <script src="~/lib/bracket/jquery/jquery.js"></script>*@
        <script src="~/lib/bracket/popper.js/popper.js"></script>
        <script src="~/lib/bracket/moment/moment.js"></script>
        @*
            <script src="~/lib/bracket/bootstrap/bootstrap.js"></script>*@
        <script src="~/lib/bracket/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
        <script src="~/lib/bracket/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bracket/jquery-switchbutton/jquery.switchButton.js"></script>
        <script src="~/lib/bracket/peity/jquery.peity.js"></script>
        @*
            <script src="~/lib/bracket/chartist/chartist.js"></script>
            <script src="~/lib/bracket/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
            <script src="~/lib/bracket/d3/d3.js"></script>
            <script src="~/lib/bracket/rickshaw/rickshaw.min.js"></script>*@

        <script src="~/js/bracket/bracket.js"></script>
        @*
            <script src="~/js/bracket/ResizeSensor.js"></script>
            <script src="~/js/bracket/dashboard.js"></script>*@
        <script src="~/js/bracket/accordion_menu.js"></script>


        <script>

            $(function () {

                $('#jquery-accordion-menu a:not([href^="#"])').on("click",
                    function () {
                        window.localStorage.setItem('cai', $(this).prop('id'));
                    });

                var basicUrl = window.location.pathname,
                    dashboardId = 'dasb_01';

                if (getUrlParameter('cai') && getUrlParameter('cai') != ''
                    && $("#jquery-accordion-menu a#" + getUrlParameter('cai'))) {
                    window.localStorage.setItem('cai', getUrlParameter('cai'));
                    set_active_link($("#jquery-accordion-menu a#" + getUrlParameter('cai')));
                } else if (basicUrl.substr(1, basicUrl.length - 2).split('/').length > 1 &&
                    $("#jquery-accordion-menu a[href*='" + basicUrl + "']")) {
                    if ($("#jquery-accordion-menu a[href*='" + basicUrl + "']").length === 1) {
                        window.localStorage.setItem('cai', $("#jquery-accordion-menu a[href*='" + basicUrl + "']").prop('id'));
                        set_active_link($("#jquery-accordion-menu a[href*='" + basicUrl + "']"));
                    } else if (window.localStorage.getItem('cai') && window.localStorage.getItem('cai') != ''
                        && $("#jquery-accordion-menu a[href*='" + basicUrl + "']#" + getUrlParameter('cai'))) {
                        set_active_link($("#jquery-accordion-menu a[href*='" + basicUrl + "']#" + getUrlParameter('cai')));
                    } else if (basicUrl.substr(1, basicUrl.length - 3).split('/').length < 2) {
                        window.localStorage.setItem('cai', '');
                        set_active_link($("#" + dashboardId));
                    }
                } else if (basicUrl.substr(1, basicUrl.length - 2).split('/').length < 2) {
                    window.localStorage.setItem('cai', '');
                    set_active_link($("#" + dashboardId));
                }

            });


            function set_active_link($activeLink) {

                if (!$activeLink) {
                    return false;
                }

                //$activeLink.css('background-color', '#18d');
                $activeLink.parents('ul').css('display', 'block');
                $activeLink.parents('li').addClass('active');
                $activeLink.parents('ul').prev('a').addClass('submenu-indicator-minus');

                return true;
            }


            var getUrlParameter = function getUrlParameter(sParam) {
                var sUrlVariables = window.location.search.substring(1).split('&');
                for (var i = 0; i < sUrlVariables.length; i++) {
                    var sParameterName = sUrlVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }

                return false;
            };

        </script>


        @*
            <script>

                $(function () {

                    $("#jquery-accordion-menu a").on("click",
                        function () {
                            window.localStorage.setItem('cai', $(this).prop('id'));
                        });

                    var current_active_id = 'dasb_01';
                    if (getUrlParameter('cai') && getUrlParameter('cai') != '') {
                        current_active_id = getUrlParameter('cai');
                        window.localStorage.setItem('cai', current_active_id);
                    } else {
                        if (window.localStorage.getItem('cai') && window.localStorage.getItem('cai') != '') {
                            current_active_id = window.localStorage.getItem('cai');
                        } else {
                            current_active_id = 'dasb_01';
                        }
                    }

                    set_active_menu(current_active_id);
                });


                function set_active_menu(current_active_id) {

                    if (!current_active_id || current_active_id == '') {
                        return false;
                    }

                    var link = $("#" + current_active_id);
                    var closest_li = link.closest('li');

                    //closest_li.addClass('active');
                    //link.css('background-color', 'red');
                    //link.closest('ul').css('display', 'block');
                    link.parents('ul').css('display', 'block');
                    link.parents('li').addClass('active');
                    link.parents('ul').prev('a').addClass('submenu-indicator-minus');

                    //var link_status = closest_li.hasClass('active');
                    //if (!closest_li.children("ul").length) {
                    //    if (link_status)
                    //        return false;
                    //    else {
                    //        var siblings_active_links = closest_li.parents("ul").last().find('.active:not(:has(ul))');
                    //        siblings_active_links.removeClass('active');
                    //        closest_li.addClass('active');
                    //        return false;
                    //    }
                    //}

                    //var closest_ul = link.closest('ul');
                    //var all_active_links = closest_ul.find('.active:has(> ul)');

                    //closest_ul.find('ul').slideUp(500);
                    //all_active_links.removeClass('active');

                    //if (!link_status) {
                    //    closest_li.children('ul').slideDown(500);
                    //    closest_li.addClass('active');
                    //}

                    return true;
                }


                var getUrlParameter = function getUrlParameter(sParam) {
                    var sUrlVariables = window.location.search.substring(1).split('&');

                    for (var i = 0; i < sUrlVariables.length; i++) {
                        var sParameterName = sUrlVariables[i].split('=');

                        if (sParameterName[0] === sParam) {
                            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                        }
                    }

                    return false;
                };


            </script>*@


        @RenderSection("Scripts", required: false)
</body>
</html>
