<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BPDB :: @ViewData["Title"]</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.jpg">
    <link rel="icon" type="image/ico" href="~/Images/logo.jpg" />
    <link rel="apple-touch-icon" href="~/Images/logo.jpgo">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
              asp-fallback-href="~/lib/font-awesome/css/fontawesome.min.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />

    </environment>

    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu a::after {
                transform: rotate(-90deg);
                position: absolute;
                right: 6px;
                top: .8em;
            }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-left: .1rem;
                margin-right: .1rem;
            }

        .fixed-top {
            z-index: 999 !important;
        }
    </style>
    
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">
                <a class="navbar-brand" style="padding: 0 1rem 0 0;" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/logo.jpg" height="70" style="width: auto; height: 70px; margin-right: 5px;" />BPDB Application
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @*<partial name="_LoginPartial" />*@  @*For Login*@

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Data Entry Module
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Pole Information</a>
                                    <ul class="dropdown-menu">


                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                            <ul class="dropdown-menu">
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblPoles" asp-action="Create">Pole</a></li>
                                                @*
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="TblPolePictures" asp-action="Create">Pole Picture</a></li>*@
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblFeederLines" asp-action="Create">Feeder Line</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpFeederLineTypes" asp-action="Create">Feeder Line Type</a></li>

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblCrossArms" asp-action="Create">Cross Arms</a></li>


                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblSpecificationsOfMountBrackets" asp-action="Create">Mount Bracket</a></li>

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSpecificationsOfMountBracketTypes" asp-action="Create">Mount Bracket Types</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSideLockTieTerminalClampMerlins" asp-action="Create">Side Lock Tie Terminal Clamp Merlins</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblPoleMountedDofCutOutFuseLinks" asp-action="Create">Pole Mounted Dof Cut-Out Fuse Link</a></li>

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblCopperCables" asp-action="Create">Copper Cable</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCopperCablesTypes" asp-action="Create">Copper Cable Type</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                            <ul class="dropdown-menu">
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblPoles" asp-action="Index">Pole</a></li>

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblFeederLines" asp-action="Index">Feeder Line</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpFeederLineTypes" asp-action="Index">Feeder Line Type</a></li>


                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblCrossArms" asp-action="Index">Cross Arms</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblSpecificationsOfMountBrackets" asp-action="Index">Mount Bracket</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSpecificationsOfMountBracketTypes" asp-action="Index">Mount Bracket Types</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSideLockTieTerminalClampMerlins" asp-action="Index">Side Lock Tie Terminal Clamp Merlins</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblPoleMountedDofCutOutFuseLinks" asp-action="Index">Pole Mounted Dof Cut-Out Fuse Link</a></li>

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblCopperCables" asp-action="Index">Copper Cable</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCopperCablesTypes" asp-action="Index">Copper Cable Type</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Substation Information</a>
                                    <ul class="dropdown-menu">


                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblSubstations" asp-action="Create">Sub-Stations</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSubstationTypes" asp-action="Create">Sub-Stations Type</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblAutoCircuitReClosers" asp-action="Create">Auto Circuit Re-Closer</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpAutoCircuitReCloserTypes" asp-action="Create">Auto Circuit Re-Closer Type</a></li>
                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpBatteryChargers" asp-action="Create">Battery Charger</a></li>*@
                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpNiCdBattery110vDc" asp-action="Create">Ni-Cd Battery (110 V DC)</a></li>*@
                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblSwitch33KvIsolator" asp-action="Create">Switch (33 Kv Isolator)</a></li>*@


                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblRelays" asp-action="Create">Relay</a></li>*@
                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblOutDoorTypeVacumnCircuitBreakers" asp-action="Create">Vacumn Circuit Breaker</a></li>*@

                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblSubstations" asp-action="Index">Sub-Stations</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSubstationTypes" asp-action="Index">Sub-Stations Type</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblAutoCircuitReClosers" asp-action="Index">Auto Circuit Re-Closer</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpAutoCircuitReCloserTypes" asp-action="Index">Auto Circuit Re-Closer Type</a></li>
                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpBatteryChargers" asp-action="Index">Battery Charger</a></li>
                                                    @*<li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpNiCdBattery110vDc" asp-action="Index">Ni-Cd Battery (110 V DC)</a></li>*@
                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblSwitch33KvIsolator" asp-action="Index">Switch (33 Kv Isolator)</a></li>*@

                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblRelays" asp-action="Index">Relay</a></li>*@
                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblOutDoorTypeVacumnCircuitBreakers" asp-action="Index">Vacumn Circuit Breaker</a></li>*@

                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Transformer</a>
                                    <ul class="dropdown-menu">


                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                            <ul class="dropdown-menu">
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblPhasePowerTransformers" asp-action="Create">Power Transformers</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblDistributionTransformers" asp-action="Create">Distribution Transformers</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="LookUpCurrentTransformers" asp-action="Create">Current Transformers</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="LookUpAuxiliaryTransformers" asp-action="Create">Auxiliary Transformers</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="LookUpPotentialTrans33KV" asp-action="Create">Potential Transformers</a></li>

                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblPoleStructureMountedSurgeArrestors" asp-action="Create">Pole Structure Mounted Surge Arrestors</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblSurgeArrestors" asp-action="Create">Surge Arrestors</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                            <ul class="dropdown-menu">
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblPhasePowerTransformers" asp-action="Index">Power Transformers</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblDistributionTransformers" asp-action="Index">Distribution Transformers</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="LookUpCurrentTransformers" asp-action="Index">Current Transformers</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="LookUpAuxiliaryTransformers" asp-action="Index">Auxiliary Transformers</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="LookUpPotentialTrans33KV" asp-action="Index">Potential Transformers</a></li>

                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblPoleStructureMountedSurgeArrestors" asp-action="Index">Pole Structure Mounted Surge Arrestors</a></li>
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblSurgeArrestors" asp-action="Index">Surge Arrestors</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Conductor</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblConductors" asp-action="Create">Conductor</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpConductorTypes" asp-action="Create">Conductor Type</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblConductors" asp-action="Index">Conductor</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpConductorTypes" asp-action="Index">Conductor Type</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Insulator</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblInsulatorDisks" asp-action="Create">Insulator (Disk)</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpInsulatorDiskTypes" asp-action="Create">Insulator (Disk) Type</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblInsulatorPinAndPosts" asp-action="Create">Insulator (Pin/Post)</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpInsulatorPinAndPostTypes" asp-action="Create">Insulator (Pin/Post) Type</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblInsulatorShackleOrGuys" asp-action="Create">Insulator (Shackle/Guy)</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpInsulatorShackleOrGuyTypes" asp-action="Create">Insulator (Shackle/Guy) Type</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblInsulatorDisks" asp-action="Index">Insulator (Disk)</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpInsulatorDiskTypes" asp-action="Index">Insulator (Disk) Type</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblInsulatorPinAndPosts" asp-action="Index">Insulator (Pin/Post)</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpInsulatorPinAndPostTypes" asp-action="Index">Insulator (Pin/Post) Type</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblInsulatorShackleOrGuys" asp-action="Index">Insulator (Shackle/Guy)</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpInsulatorShackleOrGuyTypes" asp-action="Index">Insulator (Shackle/Guy) Type</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Switchgear and Control Equipments</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                            <ul class="dropdown-menu">

                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblSwitchGears" asp-action="Create">SwitchGears</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Create">SwitchGear  Type</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupBusBars" asp-action="Create">Bus Bar</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Create">Circuit Breaker</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Create">Sf6 Safety And Life</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Create">Position</a></li>*@


                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblTerminationKits" asp-action="Create">Termination Kits</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Create">11KV XLP Ealuminium Copper Galvanize </a></li>
                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Create">Programmable Energy Meter </a></li>*@

                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                            <ul class="dropdown-menu">


                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblSwitchGears" asp-action="Index">SwitchGears</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Index">SwitchGear  Type</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupBusBars" asp-action="Index">Bus Bar</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Index">Circuit Breaker</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Index">Sf6 Safety And Life</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Index">Position</a></li>*@

                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblTerminationKits" asp-action="Index">Termination Kits</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Index">11KV XLP Ealuminium Copper Galvanize </a></li>
                                                @*<li><a class="nav-link text-dark" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Index">Programmable Energy Meter </a></li>*@
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                @*<li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Metering Panel</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                                <ul class="dropdown-menu">
                                                    <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblMeteringPanels" asp-action="Create">Metering Panel</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDifferentRelays" asp-action="Create">Relay</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDifferentTypesOfRelays" asp-action="Create">Relay Types</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDifferentMeters" asp-action="Create">Meter</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDifferentTypesOfMeters" asp-action="Create">Meter Types</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupAnnuciators" asp-action="Create">Annuciator</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupControlSwitches" asp-action="Create">Control Switches</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDimensionAndWeights" asp-action="Create">Dimension And Weight</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                                <ul class="dropdown-menu">
                                                    <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblMeteringPanels" asp-action="Index">Metering Panel</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDifferentRelays" asp-action="Index">Relay</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDifferentTypesOfRelays" asp-action="Index">Relay Types</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDifferentMeters" asp-action="Index">Meter</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDifferentTypesOfMeters" asp-action="Index">Meter Types</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupAnnuciators" asp-action="Index">Annuciator</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupControlSwitches" asp-action="Index">Control Switches</a></li>
                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpDimensionAndWeights" asp-action="Index">Dimension And Weight</a></li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </li>*@

                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Service Point</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                            <ul class="dropdown-menu">
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblConsumerDatas" asp-action="Create">Consumer Data</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblServicePoints" asp-action="Create">Service Point</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                            <ul class="dropdown-menu">
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="TblConsumerDatas" asp-action="Index">Consumer Data</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="TblServicePoints" asp-action="Index">Service Point</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Regional Boundaries</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                                            <ul class="dropdown-menu">
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="LookUpZoneInfoes" asp-action="Create">Zone</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCircleInfoes" asp-action="Create">Circle</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSnDInfoes" asp-action="Create">S&D</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpRouteInfoes" asp-action="Create">Route</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                                            <ul class="dropdown-menu">
                                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="LookUpZoneInfoes" asp-action="Index">Zone</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCircleInfoes" asp-action="Index">Circle</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSnDInfoes" asp-action="Index">S&D</a></li>
                                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpRouteInfoes" asp-action="Index">Route</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Data View Module
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Advanced Search</a>
                                    <ul class="dropdown-menu" style="min-width: 200px;">
                                        <li> <a class="nav-link text-dark" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchPole" asp-route-modelId="1">Pole Information</a></li>
                                        <li> <a class="nav-link text-dark" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchSubstation" asp-route-modelId="1">Substation Information</a></li>
                                        <li> <a class="nav-link text-dark" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchDistributionTransformer" asp-route-modelId="1">Distribution Transformers</a></li>
                                        @*<li> <a class="nav-link text-dark" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchFeederLine" asp-route-modelId="1">Feeder Line</a></li>*@
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3" style="margin-top: 100px">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            BPDB &copy; @DateTime.Today.Year :: Bangladesh Power Development Board (BPDB)
            @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    @*<environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
            </script>
        </environment>*@

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }

            $(this).next(".dropdown-menu").toggleClass('show');

            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-submenu .show').removeClass("show");
            });

            return false;
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
