<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BPDB :: @ViewData["Title"]</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.jpg">
    <link rel="icon" type="image/ico" href="~/Images/logo.jpg" />
    <link rel="apple-touch-icon" href="~/Images/logo.jpg">

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>

    <!-- vendor css -->
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />

    <environment include="Development">
        <link href="~/lib/bracket/css/bracket.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="~/lib/bracket/css/bracket.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/bracket/css/bracket.css" />
    </environment>

    @*<link href="~/lib/bracket/css/bracket.min.css" rel="stylesheet" />*@
    <link href="~/lib/bracket/css/accordion.css" rel="stylesheet" />
    <link href="~/lib/bracket/lib/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/lib/bracket/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/msgstyle.css" rel="stylesheet" />


    @await RenderSectionAsync("Styles", required: false)

</head>


<body>
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="text-center banner">
        <div class="br-logo logo-content">
            <a class="pdb-logo" href="http://www.bpdb.gov.bd/bpdb_new/" target="_blank"></a>
        </div>
    </div>
    <div class="br-sideleft overflow-hidden" style="z-index: 2002; position: fixed; top: 0; bottom: auto;">
        <div class="banner-size"></div>
        <div style="overflow: hidden; width: 250px; border-bottom: 1px solid #ecd587">
            <a id="dasb_01" class="menu-header" asp-area="" asp-controller="Home" asp-route-cai="dasb_01" asp-action="Index">
                <i class="fa fa-tachometer-alt fa-dashboard" style="width: 40px; font-size: 20px; line-height: 23px;"></i>Dashboard
            </a>
        </div>
    </div>

    <div class="br-sideleft overflow-y-auto" style="z-index: 2001; position: fixed; top: 50px;">
        <div class="banner-size"></div>

        <div id="jquery-accordion-menu" class="jquery-accordion-menu">
            <partial name="_LeftMenuPartial" />
        </div>

        <!-- br-sideleft-menu -->
    </div>

    <!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->


    <div class="br-header banner-txt">
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down" style="border: 0 none;">
                <a id="btnLeftMenu" href="#" title="Left Menu Hide/Show">
                    <i class="ion-navicon-round"></i>
                </a>
            </div>

            <div class="navicon-left hidden-lg-up menu-btn-content">
                <a id="btnLeftMenuMobile" href="#">
                    <i class="icon ion-navicon-round"></i>
                </a>
            </div>
        </div>
        <!-- br-header-left -->

        <div class="br-header-left" style="width: 90%;">
            <div style="width: 100%; text-align: center;">
                <span class="pdb-title">BPDB Web GIS Application</span>
            </div>
        </div>

        <div class="br-header-right">
            <partial name="_LoginPartial" />
        </div>

        <!-- br-header-right -->
    </div>
    <!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    <div class="banner-size"></div>

    <div class="br-mainpanel" style="padding: 0;">

        <div style="padding: 1rem .5rem; overflow: auto;">
            <partial name="_CookieConsentPartial" />

            @RenderBody()

        </div>

        <partial name="_ModalDialogPartial" />

    </div>

    <footer class="footer">
        <div class="row">
            <div class="col-md-7 tx-md-left pd-md-l-20">
                <a href="http://www.bpdb.gov.bd/bpdb_new/" target="_blank">
                    <span>&copy; @DateTime.Now.Year <symbol>::</symbol> Bangladesh Power Development Board (<strong>BPDB</strong>)</span>
                </a>
            </div>
            <div class="col-md-5 tx-md-right pd-md-r-20">
                <a href="http://www.cegisbd.com/" target="_blank">
                    <span>Developed by <strong>CEGIS</strong></span>
                </a>
            </div>
        </div>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    <script src="~/lib/bracket/js/bracket.js"></script>
    <script src="~/lib/bracket/js/accordion.js"></script>

    <script src="~/lib/bracket/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        //var apiBase1 = '@Url.Content("../api")';
        apiBase = '@Url.Content("~/api")';

        $(function () {

            $('#jquery-accordion-menu a:not([href^="#"])').on("click",
                function () {
                    window.localStorage.setItem('cai', $(this).prop('id'));
                });

            var basicUrl = window.location.pathname,
                dashboardId = 'dasb_01';

            if (getUrlParameter('cai') &&
                getUrlParameter('cai') != '' &&
                $("#jquery-accordion-menu a#" + getUrlParameter('cai'))) {
                window.localStorage.setItem('cai', getUrlParameter('cai'));
                set_active_link($("#jquery-accordion-menu a#" + getUrlParameter('cai')));
            } else if (basicUrl.substr(1, basicUrl.length - 2).split('/').length > 1 &&
                $("#jquery-accordion-menu a[href*='" + basicUrl + "']")) {
                if ($("#jquery-accordion-menu a[href*='" + basicUrl + "']").length === 1) {
                    window.localStorage.setItem('cai', $("#jquery-accordion-menu a[href*='" + basicUrl + "']").prop('id'));
                    set_active_link($("#jquery-accordion-menu a[href*='" + basicUrl + "']"));
                } else if (window.localStorage.getItem('cai') &&
                    window.localStorage.getItem('cai') != '' &&
                    $("#jquery-accordion-menu a[href*='" + basicUrl + "']#" + getUrlParameter('cai'))) {
                    set_active_link($("#jquery-accordion-menu a[href*='" + basicUrl + "']#" + getUrlParameter('cai')));
                } else if (basicUrl.substr(1, basicUrl.length - 3).split('/').length < 2) {
                    window.localStorage.setItem('cai', '');
                    set_active_link($("#" + dashboardId));
                }
            } else if (basicUrl.substr(1, basicUrl.length - 2).split('/').length < 2) {
                window.localStorage.setItem('cai', '');
                set_active_link($("#" + dashboardId));
            }

        });


        function set_active_link($activeLink) {

            if (!$activeLink) {
                return false;
            }

            //$activeLink.css('background-color', '#18d');
            $activeLink.parents('ul').css('display', 'block');
            $activeLink.parents('li').addClass('active');
            $activeLink.parents('ul').prev('a').addClass('submenu-indicator-minus');

            return true;
        }


        var getUrlParameter = function getUrlParameter(sParam) {
            var sUrlVariables = window.location.search.substring(1).split('&');
            for (var i = 0; i < sUrlVariables.length; i++) {
                var sParameterName = sUrlVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }

            return false;
        };

    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
