<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BPDB :: @ViewData["Title"]</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.jpg">
    <link rel="icon" type="image/ico" href="~/Images/logo.jpg" />
    <link rel="apple-touch-icon" href="~/Images/logo.jpg">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />

    </environment>


    <!-- vendor css -->

    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />

    <link href="~/lib/bracket/css/bracket.css" rel="stylesheet" />
    <link href="~/lib/bracket/css/accordion.css" rel="stylesheet" />
    <link href="~/lib/bracket/lib/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/lib/bracket/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/msgstyle.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)

</head>


<body>
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="text-center banner">
        <div class="br-logo logo-content">
            <a class="pdb-logo" href="http://www.bpdb.gov.bd/bpdb_new/" target="_blank"></a>
        </div>
    </div>
    <div class="br-sideleft overflow-hidden" style="z-index: 2002; position: fixed; top: 0; bottom: auto;">
        <div class="banner-size"></div>
        <div style="overflow: hidden; width: 250px; border-bottom: 1px solid #ecd587">
            <a id="dasb_01" class="menu-header" asp-area="" asp-controller="Home" asp-route-cai="dasb_01" asp-action="Index">
                <i class="fa fa-tachometer-alt fa-dashboard" style="width: 40px; font-size: 20px; line-height: 23px;"></i>Dashboard
            </a>
        </div>
    </div>

    <div class="br-sideleft overflow-y-auto" style="z-index: 2001; position: fixed; top: 50px;">
        <div class="banner-size"></div>
        <div id="jquery-accordion-menu" class="jquery-accordion-menu">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-search"></i>Data Searching & Querying</a>

                    <ul class="submenu">
                        <li>
                            <a href="#">Pole Information</a>
                            <ul class="submenu">
                                <li><a id="advs_010" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchPole" asp-route-cai="advs_010" asp-route-modelId="1">Pole</a></li>
                                <li><a id="advs_011" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchFeederLine" asp-route-cai="advs_011" asp-route-modelId="1">Feeder Line</a></li>
                                <li><a id="advs_012" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchCrossArm" asp-route-cai="advs_012" asp-route-modelId="1">Cross Arm</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Substation Information</a>
                            <ul class="submenu">
                                <li><a id="advs_020" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchSubstation" asp-route-cai="advs_020" asp-route-modelId="1">Substation Information</a></li>
                                <li><a id="advs_021" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchSwitch33Kv" asp-route-cai="advs_021" asp-route-modelId="1">Switch (33Kv Isolator) Information</a></li>
                                <li><a id="advs_023" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchVacumnCircuitBreaker" asp-route-cai="advs_023" asp-route-modelId="1">Vacumn Circuit Breaker</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Transformer Information</a>
                            <ul class="submenu">
                                <li><a id="advs_030" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchDistributionTransformer" asp-route-cai="advs_030" asp-route-modelId="1">Distribution Transformers</a></li>
                                <li><a id="advs_040" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchPowerTransformer" asp-route-cai="advs_040" asp-route-modelId="1">Power Transformers</a></li>
                                <li><a id="advs_031" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchRelay" asp-route-cai="advs_031" asp-route-modelId="1">Relays</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Conductor Information</a>
                            <ul class="submenu">
                                @*
                                    <li>
                                        <a href="#">Advanced Search</a>
                                        <ul class="submenu">
                                            <li></li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </li>

                        <li>
                            <a href="#">Insulator Information</a>
                            <ul class="submenu">
                                @*
                                    <li>
                                        <a href="#">Advanced Search</a>
                                        <ul class="submenu">
                                            <li></li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </li>

                        <li>
                            <a href="#">Protection Control & Metering Panel</a>
                            <ul class="submenu">
                                <li><a id="advs_060" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchMeteringPanel" asp-route-cai="advs_060" asp-route-modelId="1">Metering Panels</a></li>
                                <li><a id="advs_061" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchDifferentRelay" asp-route-cai="advs_061" asp-route-modelId="1">Different Relays</a></li>

                                @*
                                    <li>
                                        <a href="#">Advanced Search</a>
                                        <ul class="submenu">
                                            <li><a id="advs_060" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchMeteringPanel" asp-route-cai="advs_060" asp-route-modelId="1">Metering Panels</a></li>
                                            <li><a id="advs_061" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchDifferentRelay" asp-route-cai="advs_061" asp-route-modelId="1">Different Relays</a></li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </li>

                        <li>
                            <a href="#">Switchgear Information</a>
                            <ul class="submenu">
                                <li><a id="advs_070" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchSwitchgear" asp-route-cai="advs_070" asp-route-modelId="1">Switchgear</a></li>
                                <li><a id="advs_071" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchCircuitBreaker" asp-route-cai="advs_071" asp-route-modelId="1">Circuit Breakers</a></li>

                                @*
                                    <li>
                                        <a href="#">Advanced Search</a>
                                        <ul class="submenu">
                                            <li><a id="advs_070" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchCircuitBreaker" asp-route-cai="advs_070" asp-route-modelId="1">Circuit Breakers</a></li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </li>

                        <li>
                            <a href="#">Service Point Information</a>
                            <ul class="submenu">
                                <li><a id="advs_150" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchConsumerData" asp-route-cai="advs_150" asp-route-modelId="1">Consumer Data</a></li>

                                @*
                                    <li>
                                        <a href="#">Advanced Search</a>
                                        <ul class="submenu">
                                            <li><a id="advs_150" asp-area="" asp-controller="AdvancedSearching" asp-action="SearchConsumerData" asp-route-cai="advs_150" asp-route-modelId="1">Consumer Data</a></li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </li>

                        @*
                            <li>
                                <a href="#">Regional Boundaries</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="#">Advanced Search</a>
                                        <ul class="submenu">
                                            <li></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>*@
                    </ul>

                </li>

                <li>
                    <a href="#"><i class="fa fa-edit"></i>Data Entry </a>
                    <ul class="submenu">
                        <li>
                            <a href="#">Pole Information</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Add</a>
                                    <ul class="submenu">
                                        <li><a id="de_pi_ad_01" asp-area="" asp-controller="TblPoles" asp-action="Create" asp-route-cai="de_pi_ad_01">Pole</a></li>
                                        <li><a id="de_pi_ad_02" asp-area="" asp-controller="TblFeederLines" asp-action="Create" asp-route-cai="de_pi_ad_02">Feeder Line</a></li>
                                        <li><a id="de_pi_ad_03" asp-area="" asp-controller="LookUpFeederLineTypes" asp-action="Create" asp-route-cai="de_pi_ad_03">Feeder Line Type</a></li>
                                        
                                        @*<li><a id="de_pi_ad_04" asp-area="" asp-controller="TblCrossArmInfoes" asp-action="Create" asp-route-cai="de_pi_ad_04">Cross Arms</a></li>
                                        <li><a id="de_pi_ad_12" asp-area="" asp-controller="TblInsulators" asp-action="Create" asp-route-cai="de_pi_ad_12">Insulator</a></li>
                                        <li><a id="de_pi_ad_13" asp-area="" asp-controller="TblGuys" asp-action="Create" asp-route-cai="de_pi_ad_13">Guy</a></li>*@

                                        <li><a id="de_pi_ad_05" asp-area="" asp-controller="TblSpecificationsOfMountBrackets" asp-action="Create" asp-route-cai="de_pi_ad_05">Mount Bracket</a></li>
                                        <li><a id="de_pi_ad_06" asp-area="" asp-controller="LookUpSpecificationsOfMountBracketTypes" asp-action="Create" asp-route-cai="de_pi_ad_06">Mount Bracket Types</a></li>
                                        <li><a id="de_pi_ad_07" asp-area="" asp-controller="LookUpSideLockTieTerminalClampMerlins" asp-action="Create" asp-route-cai="de_pi_ad_07">Side Lock Tie Terminal Clamp Merlins</a></li>
                                        <li><a id="de_pi_ad_08" asp-area="" asp-controller="TblPoleMountedDofCutOutFuseLinks" asp-action="Create" asp-route-cai="de_pi_ad_08">Pole Mounted Dof Cut-Out Fuse Link</a></li>
                                        <li><a id="de_pi_ad_09" asp-area="" asp-controller="TblCopperCables" asp-action="Create" asp-route-cai="de_pi_ad_09">Copper Cable</a></li>
                                        <li><a id="de_pi_ad_10" asp-area="" asp-controller="LookUpCopperCablesTypes" asp-action="Create" asp-route-cai="de_pi_ad_10">Copper Cable Type</a></li>
                                        <li><a id="de_pi_ad_11" asp-area="" asp-controller="TblPoleToMultiFeederlineInfoes" asp-action="Create" asp-route-cai="de_pi_ad_11">Pole To Multi-Feeder Line Information</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Edit</a>
                                    <ul class="submenu">
                                        <li><a id="de_pi_ed_01" asp-area="" asp-controller="TblPoles" asp-action="Index" asp-route-cai="de_pi_ed_01">Pole</a></li>
                                        <li><a id="de_pi_ed_02" asp-area="" asp-controller="TblFeederLines" asp-action="Index" asp-route-cai="de_pi_ed_02">Feeder Line</a></li>
                                        <li><a id="de_pi_ed_03" asp-area="" asp-controller="LookUpFeederLineTypes" asp-action="Index" asp-route-cai="de_pi_ed_03">Feeder Line Type</a></li>
                                        
                                        @*<li><a id="de_pi_ed_04" asp-area="" asp-controller="TblCrossArmInfoes" asp-action="Index" asp-route-cai="de_pi_ed_04">Cross Arms</a></li>
                                        <li><a id="de_pi_ed_12" asp-area="" asp-controller="TblInsulators" asp-action="Index" asp-route-cai="de_pi_ed_12">Insulator</a></li>
                                        <li><a id="de_pi_ed_13" asp-area="" asp-controller="TblGuys" asp-action="Index" asp-route-cai="de_pi_ed_13">Guy</a></li>*@

                                        <li><a id="de_pi_ed_05" asp-area="" asp-controller="TblSpecificationsOfMountBrackets" asp-action="Index" asp-route-cai="de_pi_ed_05">Mount Bracket</a></li>
                                        <li><a id="de_pi_ed_06" asp-area="" asp-controller="LookUpSpecificationsOfMountBracketTypes" asp-action="Index" asp-route-cai="de_pi_ed_06">Mount Bracket Types</a></li>
                                        <li><a id="de_pi_ed_07" asp-area="" asp-controller="LookUpSideLockTieTerminalClampMerlins" asp-action="Index" asp-route-cai="de_pi_ed_07">Side Lock Tie Terminal Clamp Merlins</a></li>
                                        <li><a id="de_pi_ed_08" asp-area="" asp-controller="TblPoleMountedDofCutOutFuseLinks" asp-action="Index" asp-route-cai="de_pi_ed_08">Pole Mounted Dof Cut-Out Fuse Link</a></li>
                                        <li><a id="de_pi_ed_09" asp-area="" asp-controller="TblCopperCables" asp-action="Index" asp-route-cai="de_pi_ed_09">Copper Cable</a></li>
                                        <li><a id="de_pi_ed_10" asp-area="" asp-controller="LookUpCopperCablesTypes" asp-action="Index" asp-route-cai="de_pi_ed_10">Copper Cable Type</a></li>
                                        <li><a id="de_pi_ed_11" asp-area="" asp-controller="TblPoleToMultiFeederlineInfoes" asp-action="Index" asp-route-cai="de_pi_ed_11">Pole To Multi-Feeder Line Information</a></li>
                                        @*
                        <li><a id="de_pi_ed_p_01" asp-area="" asp-controller="TblPoles" asp-action="Index" asp-route-cai="de_pi_ed_p_01">Pole</a></li>
                        <li><a id="de_pi_ed_fl_01" asp-area="" asp-controller="TblFeederLines" asp-action="Index" asp-route-cai="de_pi_ed_fl_01">Feeder Line</a></li>
                        <li><a id="de_pi_ed_fl_t_01" asp-area="" asp-controller="LookUpFeederLineTypes" asp-action="Index" asp-route-cai="de_pi_ed_fl_t_01">Feeder Line Type</a></li>
                        <li><a id="de_pi_ed_ca_01" asp-area="" asp-controller="TblCrossArms" asp-action="Index" asp-route-cai="de_pi_ed_ca_01">Cross Arms</a></li>
                        <li><a id="de_pi_ed_mb_01" asp-area="" asp-controller="TblSpecificationsOfMountBrackets" asp-action="Index" asp-route-cai="de_pi_ed_mb_01">Mount Bracket</a></li>
                        <li><a id="de_pi_ed_mb_t_01" asp-area="" asp-controller="LookUpSpecificationsOfMountBracketTypes" asp-action="Index" asp-route-cai="de_pi_ed_mb_t_01">Mount Bracket Types</a></li>
                        <li><a id="de_pi_ed_slttcm_01" asp-area="" asp-controller="LookUpSideLockTieTerminalClampMerlins" asp-action="Index" asp-route-cai="de_pi_ed_slttcm_01">Side Lock Tie Terminal Clamp Merlins</a></li>
                        <li><a id="de_pi_ed_pmdcfl_01" asp-area="" asp-controller="TblPoleMountedDofCutOutFuseLinks" asp-action="Index" asp-route-cai="de_pi_ed_pmdcfl_01">Pole Mounted Dof Cut-Out Fuse Link</a></li>
                        <li><a id="de_pi_ed_cc_01" asp-area="" asp-controller="TblCopperCables" asp-action="Index" asp-route-cai="de_pi_ed_cc_01">Copper Cable</a></li>
                        <li><a id="de_pi_ed_cc_t_01" asp-area="" asp-controller="LookUpCopperCablesTypes" asp-action="Index" asp-route-cai="de_pi_ed_cc_t_01">Copper Cable Type</a></li>*@
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Substation Information</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Add</a>
                                    <ul class="submenu">
                                        <li><a id="a_ss_01" asp-area="" asp-controller="TblSubstations" asp-action="Create" asp-route-cai="a_ss_01">Sub-Stations</a></li>
                                        <li><a id="a_ss_t_01" asp-area="" asp-controller="LookUpSubstationTypes" asp-action="Create" asp-route-cai="a_ss_t_01">Sub-Stations Type</a></li>
                                        <li><a id="a_acr_01" asp-area="" asp-controller="TblAutoCircuitReClosers" asp-action="Create" asp-route-cai="a_acr_01">Auto Circuit Re-Closer</a></li>
                                        <li><a id="a_acr_t_01" asp-area="" asp-controller="LookUpAutoCircuitReCloserTypes" asp-action="Create" asp-route-cai="a_acr_t_01">Auto Circuit Re-Closer Type</a></li>
                                        <li><a id="a_bat_chr_01" asp-area="" asp-controller="LookUpBatteryChargers" asp-action="Create" asp-route-cai="a_bat_chr_01">Battery Charger</a></li>
                                        <li><a id="a_nicd_bat_01" asp-area="" asp-controller="LookUpNiCdBattery110vDc" asp-action="Create" asp-route-cai="a_nicd_bat_01">Ni-Cd Battery (110 V DC)</a></li>
                                        <li><a id="a_iotp_enme_01" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Create" asp-route-cai="a_iotp_enme_01">Indoor/Outdoor Type Programmable Energy Meter</a></li>
                                        <li><a id="a_sw_33kv_01" asp-area="" asp-controller="TblSwitch33KvIsolator" asp-action="Create" asp-route-cai="a_sw_33kv_01">Switch (33 Kv Isolator)</a></li>
                                        <li><a id="a_rel_01" asp-area="" asp-controller="TblRelays" asp-action="Create" asp-route-cai="a_rel_01">Relay</a></li>
                                        <li><a id="a_vcb_01" asp-area="" asp-controller="TblOutDoorTypeVacumnCircuitBreakers" asp-action="Create" asp-route-cai="a_vcb_01">Vacumn Circuit Breaker</a></li>



                                        <li><a id="a_swt_g_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Create" asp-route-cai="a_swt_g_01">Switchgear</a></li>
                                        <li><a id="a_swt_g_02" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Create" asp-route-cai="a_swt_g_02">Switchgear Type</a></li>
                                        <li><a id="a_swt_g_03" asp-area="" asp-controller="LookupBusBars" asp-action="Create" asp-route-cai="a_swt_g_03">Bus Bar</a></li>
                                        <li><a id="a_swt_g_04" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Create" asp-route-cai="a_swt_g_04">Circuit Breaker</a></li>
                                        <li><a id="a_swt_g_05" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Create" asp-route-cai="a_swt_g_05">Sf6 Safety And Life</a></li>
                                        <li><a id="a_swt_g_06" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Create" asp-route-cai="a_swt_g_06">Position</a></li>

                                        <li><a id="a_swt_g_07" asp-area="" asp-controller="TblTerminationKits" asp-action="Create" asp-route-cai="a_swt_g_07">Termination Kits</a></li>
                                        <li><a id="a_swt_g_08" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Create" asp-route-cai="a_swt_g_08">11KV XLPE Aluminium Copper Galvanize</a></li>
                                        <li><a id="a_swt_g_09" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Create" asp-route-cai="a_swt_g_09">Programmable Energy Meter </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Edit</a>
                                    <ul class="submenu">
                                        <li><a id="e_ss_01" asp-area="" asp-controller="TblSubstations" asp-action="Index" asp-route-cai="e_ss_01">Sub-Stations</a></li>
                                        <li><a id="e_ss_t_01" asp-area="" asp-controller="LookUpSubstationTypes" asp-action="Index" asp-route-cai="e_ss_t_01">Sub-Stations Type</a></li>
                                        <li><a id="e_acr_01" asp-area="" asp-controller="TblAutoCircuitReClosers" asp-action="Index" asp-route-cai="e_acr_01">Auto Circuit Re-Closer</a></li>
                                        <li><a id="e_acr_t_01" asp-area="" asp-controller="LookUpAutoCircuitReCloserTypes" asp-action="Index" asp-route-cai="e_acr_t_01">Auto Circuit Re-Closer Type</a></li>
                                        <li><a id="e_bat_chr_01" asp-area="" asp-controller="LookUpBatteryChargers" asp-action="Index" asp-route-cai="e_bat_chr_01">Battery Charger</a></li>
                                        <li><a id="e_nicd_bat_01" asp-area="" asp-controller="LookUpNiCdBattery110vDc" asp-action="Index" asp-route-cai="e_nicd_bat_01">Ni-Cd Battery (110 V DC)</a></li>
                                        <li><a id="e_iotp_enme_01" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Index" asp-route-cai="e_iotp_enme_01">Indoor/Outdoor Type Programmable Energy Meter</a></li>
                                        <li><a id="e_sw_33kv_01" asp-area="" asp-controller="TblSwitch33KvIsolator" asp-action="Index" asp-route-cai="e_sw_33kv_01">Switch (33 Kv Isolator)</a></li>
                                        <li><a id="e_rel_01" asp-area="" asp-controller="TblRelays" asp-action="Index" asp-route-cai="e_rel_01">Relay</a></li>
                                        <li><a id="e_vcb_01" asp-area="" asp-controller="TblOutDoorTypeVacumnCircuitBreakers" asp-action="Index" asp-route-cai="e_vcb_01">Vacumn Circuit Breaker</a></li>

                                        <li><a id="e_swt_g_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Index" asp-route-cai="e_swt_g_01">Switchgear</a></li>
                                        <li><a id="e_swt_g_02" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Index" asp-route-cai="e_swt_g_02">Switchgear Type</a></li>
                                        <li><a id="e_swt_g_03" asp-area="" asp-controller="LookupBusBars" asp-action="Create" asp-route-cai="e_swt_g_03">Bus Bar</a></li>
                                        <li><a id="e_swt_g_04" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Index" asp-route-cai="e_swt_g_04">Circuit Breaker</a></li>
                                        <li><a id="e_swt_g_05" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Index" asp-route-cai="e_swt_g_05">Sf6 Safety And Life</a></li>
                                        <li><a id="e_swt_g_06" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Index" asp-route-cai="e_swt_g_06">Position</a></li>

                                        <li><a id="e_swt_g_07" asp-area="" asp-controller="TblTerminationKits" asp-action="Index" asp-route-cai="e_swt_g_07">Termination Kits</a></li>
                                        <li><a id="e_swt_g_08" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Index" asp-route-cai="e_swt_g_08">11KV XLPE Aluminium Copper Galvanize</a></li>
                                        <li><a id="e_swt_g_09" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Index" asp-route-cai="e_swt_g_09">Programmable Energy Meter </a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @*<li>
                            <a href="#">Switchgear Information</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Add</a>
                                    <ul class="submenu">
                                        <li><a id="a_swt_g_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Create" asp-route-cai="a_swt_g_01">Switchgear</a></li>
                                        <li><a id="a_swt_g_02" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Create" asp-route-cai="a_swt_g_02">Switchgear Type</a></li>
                                        <li><a id="a_swt_g_03" asp-area="" asp-controller="LookupBusBars" asp-action="Create" asp-route-cai="a_swt_g_03">Bus Bar</a></li>
                                        <li><a id="a_swt_g_04" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Create" asp-route-cai="a_swt_g_04">Circuit Breaker</a></li>
                                        <li><a id="a_swt_g_05" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Create" asp-route-cai="a_swt_g_05">Sf6 Safety And Life</a></li>
                                        <li><a id="a_swt_g_06" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Create" asp-route-cai="a_swt_g_06">Position</a></li>

                                        <li><a id="a_swt_g_07" asp-area="" asp-controller="TblTerminationKits" asp-action="Create" asp-route-cai="a_swt_g_07">Termination Kits</a></li>
                                        <li><a id="a_swt_g_08" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Create" asp-route-cai="a_swt_g_08">11KV XLPE Aluminium Copper Galvanize</a></li>
                                        <li><a id="a_swt_g_09" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Create" asp-route-cai="a_swt_g_09">Programmable Energy Meter </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Edit</a>
                                    <ul class="submenu">
                                        <li><a id="e_swt_g_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Index" asp-route-cai="e_swt_g_01">Switchgear</a></li>
                                        <li><a id="e_swt_g_02" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Index" asp-route-cai="e_swt_g_02">Switchgear Type</a></li>
                                        <li><a id="e_swt_g_03" asp-area="" asp-controller="LookupBusBars" asp-action="Create" asp-route-cai="e_swt_g_03">Bus Bar</a></li>
                                        <li><a id="e_swt_g_04" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Index" asp-route-cai="e_swt_g_04">Circuit Breaker</a></li>
                                        <li><a id="e_swt_g_05" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Index" asp-route-cai="e_swt_g_05">Sf6 Safety And Life</a></li>
                                        <li><a id="e_swt_g_06" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Index" asp-route-cai="e_swt_g_06">Position</a></li>

                                        <li><a id="e_swt_g_07" asp-area="" asp-controller="TblTerminationKits" asp-action="Index" asp-route-cai="e_swt_g_07">Termination Kits</a></li>
                                        <li><a id="e_swt_g_08" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Index" asp-route-cai="e_swt_g_08">11KV XLPE Aluminium Copper Galvanize</a></li>
                                        <li><a id="e_swt_g_09" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Index" asp-route-cai="e_swt_g_09">Programmable Energy Meter </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@

                        <li>
                            <a href="#">Transformer Information</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Add</a>
                                    <ul class="submenu">
                                        <li><a id="a_pow_tr_01" asp-area="" asp-controller="TblPhasePowerTransformers" asp-action="Create" asp-route-cai="a_pow_tr_01">Power Transformers</a></li>
                                        <li><a id="a_dis_tr_01" asp-area="" asp-controller="TblDistributionTransformers" asp-action="Create" asp-route-cai="a_dis_tr_01">Distribution Transformers</a></li>
                                        <li><a id="a_cur_tr_01" asp-area="" asp-controller="LookUpCurrentTransformers" asp-action="Create" asp-route-cai="a_cur_tr_01">Current Transformers</a></li>
                                        <li><a id="a_aux_tr_01" asp-area="" asp-controller="LookUpAuxiliaryTransformers" asp-action="Create" asp-route-cai="a_aux_tr_01">Auxiliary Transformers</a></li>
                                        <li><a id="a_pot_tr_01" asp-area="" asp-controller="LookUpPotentialTrans33KV" asp-action="Create" asp-route-cai="a_pot_tr_01">Potential Transformers</a></li>
                                        <li><a id="a_psms_01" asp-area="" asp-controller="TblPoleStructureMountedSurgeArrestors" asp-action="Create" asp-route-cai="a_psms_01">Pole Structure Mounted Surge Arrestors</a></li>
                                        <li><a id="a_sur_a_01" asp-area="" asp-controller="TblSurgeArrestors" asp-action="Create" asp-route-cai="a_sur_a_01">Surge Arrestors</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Edit</a>
                                    <ul class="submenu">
                                        <li><a id="e_pow_tr_01" asp-area="" asp-controller="TblPhasePowerTransformers" asp-action="Index" asp-route-cai="e_pow_tr_01">Power Transformers</a></li>
                                        <li><a id="e_dis_tr_01" asp-area="" asp-controller="TblDistributionTransformers" asp-action="Index" asp-route-cai="e_dis_tr_01">Distribution Transformers</a></li>
                                        <li><a id="e_cur_tr_01" asp-area="" asp-controller="LookUpCurrentTransformers" asp-action="Index" asp-route-cai="e_cur_tr_01">Current Transformers</a></li>
                                        <li><a id="e_aux_tr_01" asp-area="" asp-controller="LookUpAuxiliaryTransformers" asp-action="Index" asp-route-cai="e_aux_tr_01">Auxiliary Transformers</a></li>
                                        <li><a id="e_pot_tr_01" asp-area="" asp-controller="LookUpPotentialTrans33KV" asp-action="Index" asp-route-cai="e_pot_tr_01">Potential Transformers</a></li>
                                        <li><a id="e_psms_01" asp-area="" asp-controller="TblPoleStructureMountedSurgeArrestors" asp-action="Index" asp-route-cai="e_psms_01">Pole Structure Mounted Surge Arrestors</a></li>
                                        <li><a id="e_sur_a_01" asp-area="" asp-controller="TblSurgeArrestors" asp-action="Index" asp-route-cai="e_sur_a_01">Surge Arrestors</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Conductor Information</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Add</a>
                                    <ul class="submenu">
                                        <li><a id="a_con_01" asp-area="" asp-controller="TblConductors" asp-action="Create" asp-route-cai="a_con_01">Conductor</a></li>
                                        <li><a id="a_con_t_01" asp-area="" asp-controller="LookUpConductorTypes" asp-action="Create" asp-route-cai="a_con_t_01">Conductor Type</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Edit</a>
                                    <ul class="submenu">
                                        <li><a id="e_con_01" asp-area="" asp-controller="TblConductors" asp-action="Index" asp-route-cai="e_con_01">Conductor</a></li>
                                        <li><a id="e_con_t_01" asp-area="" asp-controller="LookUpConductorTypes" asp-action="Index" asp-route-cai="e_con_t_01">Conductor Type</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        @*<li>
            <a href="#">Insulator Information</a>
            <ul class="submenu">
                <li>
                    <a href="#">Add</a>
                    <ul class="submenu">
                        <li><a id="a_ins_d_01" asp-area="" asp-controller="TblInsulatorDisks" asp-action="Create" asp-route-cai="a_ins_d_01">Insulator (Disk)</a></li>
                        <li><a id="a_ins_d_t_01" asp-area="" asp-controller="LookUpInsulatorDiskTypes" asp-action="Create" asp-route-cai="a_ins_d_t_01">Insulator (Disk) Type</a></li>
                        <li><a id="a_ins_pp_01" asp-area="" asp-controller="TblInsulatorPinAndPosts" asp-action="Create" asp-route-cai="a_ins_pp_01">Insulator (Pin/Post)</a></li>
                        <li><a id="a_ins_pp_t_01" asp-area="" asp-controller="LookUpInsulatorPinAndPostTypes" asp-action="Create" asp-route-cai="a_ins_pp_t_01">Insulator (Pin/Post) Type</a></li>
                        <li><a id="a_ins_sg_01" asp-area="" asp-controller="TblInsulatorShackleOrGuys" asp-action="Create" asp-route-cai="a_ins_sg_01">Insulator (Shackle/Guy)</a></li>
                        <li><a id="a_ins_sg_t_01" asp-area="" asp-controller="LookUpInsulatorShackleOrGuyTypes" asp-action="Create" asp-route-cai="a_ins_sg_t_01">Insulator (Shackle/Guy) Type</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Edit</a>
                    <ul class="submenu">
                        <li><a id="e_ins_d_01" asp-area="" asp-controller="TblInsulatorDisks" asp-action="Index" asp-route-cai="e_ins_d_01">Insulator (Disk)</a></li>
                        <li><a id="e_ins_d_t_01" asp-area="" asp-controller="LookUpInsulatorDiskTypes" asp-action="Index" asp-route-cai="e_ins_d_t_01">Insulator (Disk) Type</a></li>
                        <li><a id="e_ins_pp_01" asp-area="" asp-controller="TblInsulatorPinAndPosts" asp-action="Index" asp-route-cai="e_ins_pp_01">Insulator (Pin/Post)</a></li>
                        <li><a id="e_ins_pp_t_01" asp-area="" asp-controller="LookUpInsulatorPinAndPostTypes" asp-action="Index" asp-route-cai="e_ins_pp_t_01">Insulator (Pin/Post) Type</a></li>
                        <li><a id="e_ins_sg_01" asp-area="" asp-controller="TblInsulatorShackleOrGuys" asp-action="Index" asp-route-cai="e_ins_sg_01">Insulator (Shackle/Guy)</a></li>
                        <li><a id="e_ins_sg_t_01" asp-area="" asp-controller="LookUpInsulatorShackleOrGuyTypes" asp-action="Index" asp-route-cai="e_ins_sg_t_01">Insulator (Shackle/Guy) Type</a></li>
                    </ul>
                </li>
            </ul>
        </li>*@

                        <li>
                            <a href="#">Protection Control & Metering Panel</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Add</a>
                                    <ul class="submenu">
                                        <li><a id="a_met_p_01" asp-area="" asp-controller="TblMeteringPanels" asp-action="Create" asp-route-cai="a_met_p_01">Metering Panel</a></li>
                                        <li><a id="a_met_p_02" asp-area="" asp-controller="LookUpDifferentRelays" asp-action="Create" asp-route-cai="a_met_p_02">Relay</a></li>
                                        <li><a id="a_met_p_03" asp-area="" asp-controller="LookUpDifferentTypesOfRelays" asp-action="Create" asp-route-cai="a_met_p_03">Relay Types</a></li>
                                        <li><a id="a_met_p_04" asp-area="" asp-controller="LookUpDifferentMeters" asp-action="Create" asp-route-cai="a_met_p_04">Meter</a></li>
                                        <li><a id="a_met_p_05" asp-area="" asp-controller="LookUpDifferentTypesOfMeters" asp-action="Create" asp-route-cai="a_met_p_05">Meter Types</a></li>
                                        <li><a id="a_met_p_06" asp-area="" asp-controller="LookupAnnuciators" asp-action="Create" asp-route-cai="a_met_p_06">Annuciator</a></li>
                                        <li><a id="a_met_p_07" asp-area="" asp-controller="LookupControlSwitches" asp-action="Create" asp-route-cai="a_met_p_07">Control Switches</a></li>
                                        <li><a id="a_met_p_08" asp-area="" asp-controller="LookUpDimensionAndWeights" asp-action="Create" asp-route-cai="a_met_p_08">Dimension And Weight</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Edit</a>
                                    <ul class="submenu">
                                        <li><a id="e_met_p_01" asp-area="" asp-controller="TblMeteringPanels" asp-action="Index" asp-route-cai="e_met_p_01">Metering Panel</a></li>
                                        <li><a id="e_met_p_02" asp-area="" asp-controller="LookUpDifferentRelays" asp-action="Index" asp-route-cai="e_met_p_02">Relay</a></li>
                                        <li><a id="e_met_p_03" asp-area="" asp-controller="LookUpDifferentTypesOfRelays" asp-action="Index" asp-route-cai="e_met_p_03">Relay Types</a></li>
                                        <li><a id="e_met_p_04" asp-area="" asp-controller="LookUpDifferentMeters" asp-action="Index" asp-route-cai="e_met_p_04">Meter</a></li>
                                        <li><a id="e_met_p_05" asp-area="" asp-controller="LookUpDifferentTypesOfMeters" asp-action="Index" asp-route-cai="e_met_p_05">Meter Types</a></li>
                                        <li><a id="e_met_p_06" asp-area="" asp-controller="LookupAnnuciators" asp-action="Index" asp-route-cai="e_met_p_06">Annuciator</a></li>
                                        <li><a id="e_met_p_07" asp-area="" asp-controller="LookupControlSwitches" asp-action="Index" asp-route-cai="e_met_p_07">Control Switches</a></li>
                                        <li><a id="e_met_p_08" asp-area="" asp-controller="LookUpDimensionAndWeights" asp-action="Index" asp-route-cai="e_met_p_08">Dimension And Weight</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        @*
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Switchgear Information</a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Add</a>
                    <ul class="dropdown-menu">

                        <li><a class="nav-link text-dark" asp-area="" asp-controller="TblSwitchGears" asp-action="Create">SwitchGears</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Create">SwitchGear  Type</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupBusBars" asp-action="Create">Bus Bar</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Create">Circuit Breaker</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Create">Sf6 Safety And Life</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Create">Position</a></li>


                        <li><a class="nav-link text-dark" asp-area="" asp-controller="TblTerminationKits" asp-action="Create">Termination Kits</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Create">11KV XLP Ealuminium Copper Galvanize </a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Create">Programmable Energy Meter </a></li>

                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                    <ul class="dropdown-menu">

                        <li><a class="nav-link text-dark" asp-area="" asp-controller="TblSwitchGears" asp-action="Index">SwitchGears</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchGearTypes" asp-action="Index">SwitchGear  Type</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupBusBars" asp-action="Index">Bus Bar</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpCircuitBreakers" asp-action="Index">Circuit Breaker</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookupSf6SafetyAndLife" asp-action="Index">Sf6 Safety And Life</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="LookUpSwitchPositions" asp-action="Index">Position</a></li>

                        <li><a class="nav-link text-dark" asp-area="" asp-controller="TblTerminationKits" asp-action="Index">Termination Kits</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Index">11KV XLP Ealuminium Copper Galvanize </a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="TblIndoorOutdoorTypeProgrammableEnergyMeters" asp-action="Index">Programmable Energy Meter </a></li>
                    </ul>
                </li>
            </ul>
        </li>*@



                        @*
        <li>
            <a href="#">Switch Gear Information</a>
            <ul class="submenu">
                <li>
                    <a href="#">Add</a>
                    <ul class="submenu">
                        <li><a id="a_ter_k_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Create" asp-route-cai="a_ter_k_01">Switch Gears</a></li>
                        <li><a id="a_11kv_xlp_01" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Create" asp-route-cai="a_11kv_xlp_01">11KV XLPE Aluminium Copper Galvanize</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Edit</a>
                    <ul class="submenu">
                        <li><a id="e_ter_k_01" asp-area="" asp-controller="TblSwitchGears" asp-action="Index" asp-route-cai="e_ter_k_01">Switch Gears</a></li>
                        <li><a id="e_11kv_xlp_01" asp-area="" asp-controller="TblXLPEaluminiumCopperGalvanize11KV" asp-action="Index" asp-route-cai="e_11kv_xlp_01">11KV XLPE Aluminium Copper Galvanize</a></li>
                    </ul>
                </li>
            </ul>
        </li>*@

                        <li>
                            <a href="#">Service Point Information</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Add</a>
                                    <ul class="submenu">
                                        @*<li><a id="a_cd_01" asp-area="" asp-controller="TblConsumerDatas" asp-action="Create" asp-route-cai="a_cd_01">Consumer Data</a></li>*@
                                        <li><a id="a_sp_02" asp-area="" asp-controller="TblServicePoints" asp-action="Create" asp-route-cai="a_sp_02">Service Point</a></li>

                                        <li><a id="a_sp_03" asp-area="" asp-controller="LookUpVoltageCategories" asp-action="Create" asp-route-cai="a_sp_03">Voltage Category</a></li>
                                        <li><a id="a_sp_04" asp-area="" asp-controller="LookUpServicePointTypes" asp-action="Create" asp-route-cai="a_sp_04">Service Point Type</a></li>

                                        <li><a id="a_sp_05" asp-area="" asp-controller="LookUpPhasingCodeTypes" asp-action="Create" asp-route-cai="a_sp_05">Phasing Code Type</a></li>
                                        <li><a id="a_sp_06" asp-area="" asp-controller="LookUpConsumerTypes" asp-action="Create" asp-route-cai="a_sp_06">Consumer Type</a></li>
                                        <li><a id="a_sp_07" asp-area="" asp-controller="LookUpOperatingVoltages" asp-action="Create" asp-route-cai="a_sp_07">SOperating Voltage</a></li>
                                        <li><a id="a_sp_08" asp-area="" asp-controller="LookUpConnectionStatus" asp-action="Create" asp-route-cai="a_sp_08">Connection Status</a></li>
                                        <li><a id="a_sp_09" asp-area="" asp-controller="LookUpConnectionTypes" asp-action="Create" asp-route-cai="a_sp_09">Connection Type</a></li>
                                        <li><a id="a_sp_10" asp-area="" asp-controller="LookUpMeterTypes" asp-action="Create" asp-route-cai="a_sp_10">Meter Type</a></li>
                                        <li><a id="a_sp_11" asp-area="" asp-controller="LookUpBusinessTypes" asp-action="Create" asp-route-cai="a_sp_11">Business Type</a></li>
                                        <li><a id="a_sp_12" asp-area="" asp-controller="LookUpLocations" asp-action="Create" asp-route-cai="a_sp_12">Location</a></li>
                                        <li><a id="a_sp_13" asp-area="" asp-controller="LookUpServiceCableTypes" asp-action="Create" asp-route-cai="a_sp_13">Service Cable Type</a></li>
                                        <li><a id="a_sp_14" asp-area="" asp-controller="LookUpStructureTypes" asp-action="Create" asp-route-cai="a_sp_14">Structure Type</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Edit</a>
                                    <ul class="submenu">
                                        <li><a id="e_cd_01" asp-area="" asp-controller="TblConsumerDatas" asp-action="Index" asp-route-cai="e_cd_01">Consumer Info.</a></li>
                                        <li><a id="e_sp_02" asp-area="" asp-controller="TblServicePoints" asp-action="Index" asp-route-cai="e_sp_01">Service Point</a></li>
                                        <li><a id="e_sp_03" asp-area="" asp-controller="LookUpVoltageCategories" asp-action="Index" asp-route-cai="e_sp_03">Voltage Category</a></li>
                                        <li><a id="e_sp_04" asp-area="" asp-controller="LookUpServicePointTypes" asp-action="Index" asp-route-cai="e_sp_04">Service Point Type</a></li>

                                        <li><a id="e_sp_05" asp-area="" asp-controller="LookUpPhasingCodeTypes" asp-action="Index" asp-route-cai="e_sp_05">Phasing Code Type</a></li>
                                        <li><a id="e_sp_06" asp-area="" asp-controller="LookUpConsumerTypes" asp-action="Index" asp-route-cai="e_sp_06">Consumer Type</a></li>
                                        <li><a id="e_sp_07" asp-area="" asp-controller="LookUpOperatingVoltages" asp-action="Index" asp-route-cai="e_sp_07">Operating Voltage</a></li>
                                        <li><a id="e_sp_08" asp-area="" asp-controller="LookUpConnectionStatus" asp-action="Index" asp-route-cai="e_sp_08">Connection Status</a></li>
                                        <li><a id="e_sp_09" asp-area="" asp-controller="LookUpConnectionTypes" asp-action="Index" asp-route-cai="e_sp_09">Connection Type</a></li>
                                        <li><a id="e_sp_10" asp-area="" asp-controller="LookUpMeterTypes" asp-action="Index" asp-route-cai="e_sp_10">Meter Type</a></li>
                                        <li><a id="e_sp_11" asp-area="" asp-controller="LookUpBusinessTypes" asp-action="Index" asp-route-cai="e_sp_11">Business Type</a></li>
                                        <li><a id="e_sp_12" asp-area="" asp-controller="LookUpLocations" asp-action="Index" asp-route-cai="e_sp_12">Location</a></li>
                                        <li><a id="e_sp_13" asp-area="" asp-controller="LookUpServiceCableTypes" asp-action="Index" asp-route-cai="e_sp_13">Service Cable Type</a></li>
                                        <li><a id="e_sp_14" asp-area="" asp-controller="LookUpStructureTypes" asp-action="Index" asp-route-cai="e_sp_14">Structure Type</a></li>


                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Regional Boundaries</a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">Add</a>
                                    <ul class="submenu">
                                        <li><a id="a_zone_01" asp-area="" asp-controller="LookUpZoneInfoes" asp-action="Create" asp-route-cai="a_zone_01">Zone</a></li>
                                        <li><a id="a_circle_01" asp-area="" asp-controller="LookUpCircleInfoes" asp-action="Create" asp-route-cai="a_circle_01">Circle</a></li>
                                        <li><a id="a_snd_01" asp-area="" asp-controller="LookUpSnDInfoes" asp-action="Create" asp-route-cai="a_snd_01">S&D</a></li>
                                        <li><a id="a_route_01" asp-area="" asp-controller="LookUpRouteInfoes" asp-action="Create" asp-route-cai="a_route_01">Route</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Edit</a>
                                    <ul class="submenu">
                                        <li><a id="e_zone_01" asp-area="" asp-controller="LookUpZoneInfoes" asp-action="Index" asp-route-cai="e_zone_01">Zone</a></li>
                                        <li><a id="e_circle_01" asp-area="" asp-controller="LookUpCircleInfoes" asp-action="Index" asp-route-cai="e_circle_01">Circle</a></li>
                                        <li><a id="e_snd_01" asp-area="" asp-controller="LookUpSnDInfoes" asp-action="Index" asp-route-cai="e_snd_01">S&D</a></li>
                                        <li><a id="e_route_01" asp-area="" asp-controller="LookUpRouteInfoes" asp-action="Index" asp-route-cai="e_route_01">Route</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-download"></i>Data Audit & Import</a>
                    @*<a id="dai_01" asp-area="" asp-controller="#" asp-action="#" asp-route-cai="dai_01"><i class="fa fa-download"></i>Data Audit & Inport</a>*@
                    <ul class="submenu">
                        <li><a id="dai_02" asp-area="" asp-controller="Audit" asp-action="Audit" asp-route-cai="dai_02" asp-route-modelId="1">Pole</a></li>
                    </ul>
                </li>


                <li>
                    <a href="#"><i class="fa fa-database"></i>Reports</a>
                    <ul class="submenu">
                        <li><a id="rpt_pl" asp-area="" asp-controller="AdvancedReport" asp-action="Pole" asp-route-cai="rpt_pl" asp-route-modelId="1">Pole</a></li>
                        <li><a id="rpt_fl" asp-area="" asp-controller="AdvancedReport" asp-action="FeederLine" asp-route-cai="rpt_fl" asp-route-modelId="1">Feeder Line</a></li>
                        <li><a id="rpt_ss" asp-area="" asp-controller="AdvancedReport" asp-action="Substation" asp-route-cai="rpt_ss" asp-route-modelId="1">Substation</a></li>
                        <li><a id="rpt_dt" asp-area="" asp-controller="AdvancedReport" asp-action="DistributionTransformer" asp-route-cai="rpt_dt" asp-route-modelId="1">Distribution Transformers</a></li>
                        <li><a id="rpt_pt" asp-area="" asp-controller="AdvancedReport" asp-action="PowerTransformer" asp-route-cai="rpt_pt" asp-route-modelId="1">Power Transformers</a></li>
                        <li><a id="rpt_sp" asp-area="" asp-controller="AdvancedReport" asp-action="ServicePointInfo" asp-route-cai="rpt_sp" asp-route-modelId="1">Service Point Info.</a></li>
                        <li><a id="rpt_ci" asp-area="" asp-controller="AdvancedReport" asp-action="ConsumerInfo" asp-route-cai="rpt_ci" asp-route-modelId="1">Consumer Info.</a></li>
                    </ul>
                </li>

                <li><a asp-area="" asp-controller="MapViewer" asp-action="MapView"><i class="fa fa-map"></i>Map Viewer</a></li>


                @*<li><a id="com_mng_01" asp-area="" asp-controller="#" asp-action="" asp-route-cai="com_mng_01"><i class="fa fa-comment"></i>Complain Management</a></li>
                    <li><a id="evac_01" asp-area="" asp-controller="#" asp-action="" asp-route-cai="evac_01"><i class="fa fa-sticky-note"></i>Event Viewing & Access Control</a></li>
                    <li><a id="d_intr_01" asp-area="" asp-controller="#" asp-action="" asp-route-cai="d_intr_01"><i class="fa fa-american-sign-language-interpreting"></i>Data interfacing</a></li>*@

            </ul>
        </div>


        <!-- br-sideleft-menu -->
    </div>

    <!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->


    <div class="br-header banner-txt">
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down" style="border: 0 none;">
                <a id="btnLeftMenu" href="#" title="Left Menu Hide/Show">
                    <i class="ion-navicon-round"></i>
                </a>
            </div>

            <div class="navicon-left hidden-lg-up menu-btn-content">
                <a id="btnLeftMenuMobile" href="#">
                    <i class="icon ion-navicon-round"></i>
                </a>
            </div>
        </div>
        <!-- br-header-left -->

        <div class="br-header-left" style="width: 100%;">
            <div style="width: 100%; text-align: center;">
                <span class="pdb-title">BPDB Web GIS Application</span>
            </div>
            @*<div style="width:60px;">
                    <a href="#" target="_blank"><span>[</span><label>Login</label><span>]</span></a>
                </div>*@
        </div>

        <div class="br-header-right">
            <div style="width: 60px;">
                <a href="#" target="_blank" style="color: #1365b8;"><span>[</span><label style="margin-bottom: 0;">Login</label><span>]</span></a>
            </div>
            <!-- navicon-right -->
            <div class="navicon-right">
                <img src="~/Images/dashboard/identify.png" width="25" alt="help" title="help" />
            </div>
        </div>
        <!-- br-header-right -->
    </div>
    <!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    <div class="banner-size"></div>

    <div class="br-mainpanel" style="padding: 0;">
        <div style="padding: 1rem .5rem; overflow: auto;">
            <partial name="_CookieConsentPartial" />

            @RenderBody()

        </div>

        <div id="msg-modal-bg" class="msg-modal-bg" onclick="msg.closeBg();">
            <div id="msg-content" class="msg-content">
                <div id="msg-title" class="msg-title">
                    <button id="msg-title-btn" class="msg-btnclose" onclick="msg.close();"></button>
                    <div id="msg-title-txt" class="msg-title-txt"></div>
                </div>
                <div id="msg-body" class="msg-body">
                    <div id="msg-body-bg" class="msg-body-bg">
                        <span id="msg-body-msg" class="msg-body-msg"></span>
                    </div>
                </div>
                <div id="msg-footer" class="msg-footer">
                    <button id="msg-footer-btn" class="modal-btns msg-btn" onclick="msg.close();">OK</button>
                </div>
            </div>
        </div>

        <div id="modal-bg" class="modal-bg">
            <div id="modal-content" class="modal-content" style="width: 540px; margin: 100px auto 10px auto;">
                <div id="modal-title" class="modal-title">
                    <span id="modal-title-txt" class="modal-title-txt">▣ Set Options</span>
                    <button id="modal-title-btn-close" class="close" onclick="modal.close();">✖</button>
                </div>
                <div id="modal-body" class="modal-body">
                    <div id="modal-body-content" class="modal-body-content">
                    </div>
                </div>
                <div id="modal-footer" class="modal-footer" style="text-align: center;">
                    <button id="btnSet" class="my-btns">Set</button>
                    <button id="modal-footer-btn-close" class="my-btns" onclick="modal.close();">Close</button>
                </div>
            </div>
        </div>

        <div id="busy-indicator" class="pageloading">
            <div class="pageloading-body">
                <div class="loading-indicator">
                    <p>Please wait ... . . </p>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="row">
            <div class="col-md-7 tx-md-left pd-md-l-20">
                <a href="http://www.bpdb.gov.bd/bpdb_new/" target="_blank">
                    <span>&copy; @DateTime.Now.Year <symbol>::</symbol> Bangladesh Power Development Board (<strong>BPDB</strong>)</span>
                </a>
            </div>
            @*<div class="col-md-2"></div>*@
            <div class="col-md-5 tx-md-right pd-md-r-20">
                <a href="http://www.cegisbd.com/" target="_blank">
                    <span>Developed by <strong>CEGIS</strong></span>
                </a>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    <script src="~/lib/bracket/js/bracket.js"></script>
    <script src="~/lib/bracket/js/accordion.js"></script>

    <script src="~/lib/bracket/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>

        $(function () {

            $('#jquery-accordion-menu a:not([href^="#"])').on("click",
                function () {
                    window.localStorage.setItem('cai', $(this).prop('id'));
                });

            var basicUrl = window.location.pathname,
                dashboardId = 'dasb_01';

            if (getUrlParameter('cai') &&
                getUrlParameter('cai') != '' &&
                $("#jquery-accordion-menu a#" + getUrlParameter('cai'))) {
                window.localStorage.setItem('cai', getUrlParameter('cai'));
                set_active_link($("#jquery-accordion-menu a#" + getUrlParameter('cai')));
            } else if (basicUrl.substr(1, basicUrl.length - 2).split('/').length > 1 &&
                $("#jquery-accordion-menu a[href*='" + basicUrl + "']")) {
                if ($("#jquery-accordion-menu a[href*='" + basicUrl + "']").length === 1) {
                    window.localStorage.setItem('cai', $("#jquery-accordion-menu a[href*='" + basicUrl + "']").prop('id'));
                    set_active_link($("#jquery-accordion-menu a[href*='" + basicUrl + "']"));
                } else if (window.localStorage.getItem('cai') &&
                    window.localStorage.getItem('cai') != '' &&
                    $("#jquery-accordion-menu a[href*='" + basicUrl + "']#" + getUrlParameter('cai'))) {
                    set_active_link($("#jquery-accordion-menu a[href*='" + basicUrl + "']#" + getUrlParameter('cai')));
                } else if (basicUrl.substr(1, basicUrl.length - 3).split('/').length < 2) {
                    window.localStorage.setItem('cai', '');
                    set_active_link($("#" + dashboardId));
                }
            } else if (basicUrl.substr(1, basicUrl.length - 2).split('/').length < 2) {
                window.localStorage.setItem('cai', '');
                set_active_link($("#" + dashboardId));
            }

        });


        function set_active_link($activeLink) {

            if (!$activeLink) {
                return false;
            }

            //$activeLink.css('background-color', '#18d');
            $activeLink.parents('ul').css('display', 'block');
            $activeLink.parents('li').addClass('active');
            $activeLink.parents('ul').prev('a').addClass('submenu-indicator-minus');

            return true;
        }


        var getUrlParameter = function getUrlParameter(sParam) {
            var sUrlVariables = window.location.search.substring(1).split('&');
            for (var i = 0; i < sUrlVariables.length; i++) {
                var sParameterName = sUrlVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }

            return false;
        };

    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
