@model Pdb014App.Models.PDB.InsulatorModels.TblInsulator

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulatorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulatorType.InsulatorTypeId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulatorVoltageClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulatorVoltageClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulatorMaterials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulatorMaterials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumCreepageDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumCreepageDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumWithstandVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumWithstandVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyDry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyDry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyWet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyWet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpulseWithstandVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpulseWithstandVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumPowerFrequencyFlashoverDry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumPowerFrequencyFlashoverDry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumPowerFrequencyFlashoverWet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumPowerFrequencyFlashoverWet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiftyPctImpulseFlashoverWavePositive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiftyPctImpulseFlashoverWavePositive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiftyPctImpulseFlashoverWaveNegative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiftyPctImpulseFlashoverWaveNegative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyPuncherVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyPuncherVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumDryArchingDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumDryArchingDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyTestVoltageRmsToGround)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyTestVoltageRmsToGround)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumRadioInfluenceVoltageRIVAt1000KcInMicroVolt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumRadioInfluenceVoltageRIVAt1000KcInMicroVolt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumNeckDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumNeckDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumDiameterOfInsulator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumDiameterOfInsulator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumHeightOfTheInsulator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumHeightOfTheInsulator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumGroveDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumGroveDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumMechanicalFailingLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumMechanicalFailingLoad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulatorToLookUpCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulatorToLookUpCondition.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulatorToPole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulatorToPole.PoleId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InsulatorId" />
        <input type="submit" value="Delete" class="btn btn-danger m-1" />
        <a class="btn btn-success float-left m-1" asp-action="Index" asp-controller="TblPoles">Back</a>
    </form>
</div>
