@{
    var poleId = ViewBag.PoleId;

    var isShowLayout = (ViewBag.IsShowLayout != null && ViewBag.IsShowLayout == 1) ? 1 : 0;
    var isShowAction = (ViewBag.IsShowAction != null && ViewBag.IsShowAction == 1) ? 1 : 0;

    Layout = isShowLayout == 1 ? "~/Views/Shared/_Layout.cshtml" : null;

}

<link href="~/css/site.css" rel="stylesheet" />

<style type="text/css">

    .nav-tabs {
        border-bottom: 0 none !important;
    }

        .nav-tabs .nav-item {
            margin-bottom: 0 !important;
        }

    .tab-content {
        border: 1px solid #ddd;
        border-radius: 0 .5rem .5rem;
    }

        .tab-content > .tab-pane {
            display: none;
        }

        .tab-content > .active {
            display: block;
        }
</style>


<div id="components" style="padding:0.5rem;">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#comp1">Insulators</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#comp2">Guys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#comp3">Cross Arms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#comp4">Distribution Transformer</a>
        </li>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">

        <div id="comp1" class="tab-pane active">

            <div id="comp_info_1" class="text-center" style="min-height:250px; padding:0.75rem;">
                <div class="spinner-grow text-info" style="width:5rem; height:5rem; margin-top:4.5rem;" role="status">
                    <span class="sr-only">Loading... . .</span>
                </div>
            </div>
        </div>

        <div id="comp2" class="tab-pane">

            <div id="comp_info_2" class="text-center" style="min-height:250px; padding:0.75rem;">
                <div class="spinner-grow text-success" style="width:5rem; height:5rem; margin-top:4.5rem;" role="status">
                    <span class="sr-only">Loading... . .</span>
                </div>
            </div>
        </div>

        <div id="comp3" class="tab-pane">

            <div id="comp_info_3" class="text-center" style="min-height:250px; padding:0.75rem;">
                <div class="spinner-grow text-danger" style="width:5rem; height:5rem; margin-top:4.5rem;" role="status">
                    <span class="sr-only">Loading... . .</span>
                </div>
            </div>
        </div>

        <div id="comp4" class="tab-pane">

            <div id="comp_info_4" class="text-center" style="min-height:250px; padding:0.75rem;">
                <div class="spinner-grow text-danger" style="width:5rem; height:5rem; margin-top:4.5rem;" role="status">
                    <span class="sr-only">Loading... . .</span>
                </div>
            </div>
        </div>

    </div>

</div>

@*@if (isShowAction)
    {
        <div>
            <a class="btn btn-success float-left" asp-action="Index"></a>
        </div>
    }*@

<script type="text/javascript">

    var poleId = "@poleId",
        isShowLayout =1* "@isShowLayout",
        isShowAction = 1*"@isShowAction";


    if (poleId && poleId != '') {
        load_component_data();
    } else {
        msg.init("error", "Error... . . !", "Invalid Pole Information... . . !! ");
    }

    function ajax_load_data(url, data) {
        return $.ajax({
            type: "POST",
            url: url,
            dataType: "html",
            data: data,
        });
    }

    function load_component_data() {

        var noOfomponent = 4;

        $("#busy-indicator").fadeIn(150);
        ajax_load_data('@Url.Action("InsulatorList", "TblInsulators")', { poleId: poleId, isShowLayout: isShowLayout, isShowAction: isShowAction })
            .done(function (compList) {
                $("#comp_info_1").html(compList);
            })
            .fail(function () {
                $("#comp_info_4").html("<h3 class='mt-5 text-danger font-weight-bold'>Failed to load data... . . !</h3>");
            })
            .always(function () {
                --noOfomponent;
                if (noOfomponent <= 1) {
                    $("#busy-indicator").fadeOut(150);
                }
            });

        ajax_load_data('@Url.Action("GuyList", "TblGuys")', { poleId: poleId, isShowLayout: isShowLayout, isShowAction: isShowAction })
            .done(function (compList) {
                $("#comp_info_2").html(compList);
            })
            .fail(function () {
                $("#comp_info_4").html("<h3 class='mt-5 text-danger font-weight-bold'>Failed to load data... . . !</h3>");
            })
            .always(function () {
                --noOfomponent;
                if (noOfomponent <= 1) {
                    $("#busy-indicator").fadeOut(150);
                }
            });

        ajax_load_data('@Url.Action("CrossArmList", "TblCrossArmInfoes")', { poleId: poleId, isShowLayout: isShowLayout, isShowAction: isShowAction })
            .done(function (compList) {
                $("#comp_info_3").html(compList);
            })
            .fail(function () {
                $("#comp_info_4").html("<h3 class='mt-5 text-danger font-weight-bold'>Failed to load data... . . !</h3>");
            })
            .always(function () {
                --noOfomponent;
                if (noOfomponent <= 1) {
                    $("#busy-indicator").fadeOut(150);
                }
            });

        ajax_load_data('@Url.Action("DistributionTransformerList", "TblDistributionTransformers")', { poleId: poleId, isShowLayout: isShowLayout, isShowAction: isShowAction })
            .done(function (compList) {
                $("#comp_info_4").html(compList);
            })
            .fail(function () {
                $("#comp_info_4").html("<h3 class='mt-5 text-danger font-weight-bold'>Failed to load data... . . !</h3>");
            })
            .always(function () {
                --noOfomponent;
                if (noOfomponent <= 1) {
                    $("#busy-indicator").fadeOut(150);
                }
            });


        return false;
    }

</script>
