@model Pdb014App.Models.PDB.TblPole

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h2>Pole Details Information</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleUid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleUid)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleToRoute.RouteToSubstation.SubstationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleToRoute.RouteToSubstation.SubstationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleToRoute.RouteName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleToRoute.RouteName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeederLineUid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeederLineUid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleToFeederLine.FeederName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleToFeederLine.FeederName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousPoleNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreviousPoleNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleType.PoleTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PoleCondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoleCondition.PoleConditionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LookUpLineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LookUpLineType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BackSpan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BackSpan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LookUpTypeOfWire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LookUpTypeOfWire.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfWireHt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfWireHt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfWireLt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfWireLt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WireLookUpCondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WireLookUpCondition.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MSJNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MSJNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SleeveNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SleeveNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TwistNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TwistNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhaseACondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhaseACondition.SagConditionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhaseBCondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhaseBCondition.SagConditionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhaseCCondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhaseCCondition.SagConditionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Neutral)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Neutral)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetLight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetLight)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransformerExist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransformerExist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommonPole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommonPole)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyorName)
        </dd>
    </dl>
</div>

@*<div>
        <a asp-action="Edit" asp-route-id="@Model.PoleId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
