@using Pdb014App.Models.UserManage;
@using Microsoft.AspNetCore.Identity

@model ReflectionIT.Mvc.Paging.PagingList<Pdb014App.Models.PDB.TblPole>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@inject SignInManager<TblUserRegistrationDetail> SignInManager
@inject UserManager<TblUserRegistrationDetail> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@section Styles {
    <link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/datastyle.css" rel="stylesheet" />
    <link href="~/css/autocomplete.style.css" rel="stylesheet" />

    <style type="text/css">

        table.table {
            table-layout: fixed;
        }

            table.table tr th,
            table.table tr td {
                border-color: #e9e9e9;
            }

            table.table th {
                min-width: 80px;
            }

                table.table th:last-child {
                    width: 100px;
                }

                table.table th i {
                    font-size: 13px;
                    margin: 0 5px;
                    cursor: pointer;
                }

            table.table td a {
                cursor: pointer;
                display: inline-block;
                margin: 0 5px;
                min-width: 24px;
            }

                table.table td a.add {
                    color: #27C46B;
                }

                table.table td a.edit {
                    color: #FFC107;
                }

                table.table td a.delete {
                    color: #E34724;
                }

            table.table td i {
                font-size: 19px;
            }

            table.table td a.add i {
                font-size: 24px;
                margin-right: -1px;
                position: relative;
                top: 3px;
            }


            table.table .form-control {
                width: 100%;
                padding: 2px 5px;
                line-height: 1.0;
            }

                table.table .form-control.error {
                    border-color: #f50000;
                }

            table.table td .add {
                display: none;
            }
    </style>

}

<div class="container">
    <h2>List of Pole</h2>
    <hr>

    <p>
        <a asp-action="Create" class="btn btn-info">Add New Pole</a>
    </p>

    <div class="row">
        <div class="col-12">
            <div class="float-md-right">
                <form method="get" class="form-inline">

                        <table id="tblSearchOptions" class="table" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width: 48%">Field Name</th>
                                    <th style="width: 50%">Field Value</th>
                                    <th style="width: 80px">Action</th>
                                </tr>
                            </thead>

                            <tbody>                            
                                <tr>                                    
                                    <td>
                                       
                                        <select id="fieldName" name="fieldName"  asp-for="@Model.RouteValue["FieldName"]" class="form-control text-left field-name" asp-items="ViewBag.FieldList">                                            
                                            <option value="">--- Select ---</option>                                         
                                        </select>
                                        <input name="cai" class="form-control" placeholder="cai"
                                               value="@Model.RouteValue["cai"]" type="hidden" />
                                    </td>
                                  
                                    <td>
                                        <input id="fieldValue" name="fieldValue" asp-for="@Model.RouteValue["FieldValue"]"  autocomplete="off" class="form-control text-left field-value" />
                                        <div id="ac-list-0" class="ac-list-content"></div>  @*Very Much Important*@
                                    </td>

                                    <td>

                                        <button type="submit" class="btn btn-info">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                                        </button>
                                    </td>
                                </tr>
                                
                            </tbody>

                        </table>

                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-view" id="updatePanel">

                @if (TempData["statuMessageSuccess"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["statuMessageSuccess"]
                    </div>
                }



                <div id="multi-form-wrapper" class="data-view multi-form-wrapper">
                    <table id="multi-form-view" class="table table-responsive multi-form-view">
                        <thead>
                            <tr>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.PoleUid)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FeederLineUid)

                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.PoleId)

                                </th>
                                <th class="extraInfo">Insulator</th>
                                <th class="extraInfo">Guy</th>
                                <th class="extraInfo">Cross Arms</th>

                                <th>
                                    @Html.DisplayNameFor(model => model.SurveyDate)
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.PoleToRoute)*@
                                    Route Name
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.PoleToFeederLine)*@
                                    FeederLine Name
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SurveyorName)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.PoleNo)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.PreviousPoleNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Latitude)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Longitude)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PoleType)
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.PoleCondition)*@
                                    Pole Condition
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.LookUpLineType)*@
                                    Line Type
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BackSpan)
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.LookUpTypeOfWire)*@
                                    Wire Type
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NoOfWireHt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NoOfWireLt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WireLength)
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.WireLookUpCondition)*@
                                    Wire Condition
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MSJNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SleeveNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TwistNo)
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.PhaseACondition)*@
                                    Phase A Condition
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.PhaseBCondition)*@
                                    Phase B Condition
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.PhaseCCondition)*@
                                    Phase C Condition
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Neutral)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StreetLight)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.TransformerExist)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CommonPole)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tap)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.PoleUid)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FeederLineUid)
                                        </td>*@

                                    @*<td>
                                            <input type="checkbox" id="@item.PoleId" onclick="activePole(this.id)"/>
                                        </td>*@
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PoleId)*@
                                        <div class="btn-group">
                                            <a asp-action="Edit" asp-route-id="@item.PoleId" class="btn btn-info" data-toggle="tooltip" data-placement="top" asp-route-cai="@Model.RouteValue["cai"]" title="Edit Pole Information">
                                                @Html.DisplayFor(modelItem => item.PoleId)
                                                <span class="glyphicon glyphicon-edit"></span> Edit
                                            </a>
                                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("System Administrator"))
                                            {
                                                <a asp-action="Delete" asp-route-id="@item.PoleId" class="btn btn-info" data-toggle="tooltip" data-placement="top" asp-route-cai="@Model.RouteValue["cai"]" title="Edit Pole Information">

                                                    <span class="glyphicon glyphicon-edit"></span> Delete
                                                </a>
                                            }
                                        </div>

                                    </td>

                                    <td>
                                        <div class="btn-group">
                                            <a asp-controller="TblInsulators" asp-action="Create" asp-route-id="@item.PoleId" target="_blank" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add Insulator">Add</a>
                                            @*<a asp-controller="TblInsulators" asp-action="Index" asp-route-id="@item.PoleId" target="_blank" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Show Insulator">Show</a>*@
                                            <button id="TblInsulators_@item.PoleId" asp-route-id="@item.PoleId" class="btn btn-primary TblInsulators" data-toggle="tooltip" data-placement="top" title="Show Insulator">Show</button>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-controller="TblGuys" asp-action="Create" asp-route-id="@item.PoleId" target="_blank" class="btn btn-primary display: inline-block;" data-toggle="tooltip" data-placement="top" title="Add Guy">Add</a>
                                            @*<a asp-controller="TblGuys" asp-action="Index" asp-route-id="@item.PoleId" target="_blank" class="btn btn-primary display: inline-block;" data-toggle="tooltip" data-placement="top" title="Show Guy">Show</a>*@
                                            <button id="TblGuys_@item.PoleId" asp-route-id="@item.PoleId" class="btn btn-primary display: inline-block TblGuys" data-toggle="tooltip" data-placement="top" title="Show Guy">Show</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-controller="TblCrossArmInfoes" asp-action="Create" asp-route-id="@item.PoleId" target="_blank" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add Cross Arms">Add</a>
                                            @*<a asp-controller="TblCrossArmInfoes" asp-action="IndexPartialView" id="crossArm" asp-route-id="@item.PoleId" target="_blank" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Show Cross Arms">Show</a>*@
                                            <button id="crossArm_@item.PoleId" asp-route-id="@item.PoleId" class="btn btn-primary crossArm" data-toggle="tooltip" data-placement="top" title="Show Cross Arms">Show</button>
                                        </div>
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.SurveyDate)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.PoleToRoute.RouteName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PoleToFeederLine.FeederName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SurveyorName)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.PoleNo)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PreviousPoleNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Latitude)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Longitude)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PoleType.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PoleCondition.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LookUpLineType.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BackSpan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LookUpTypeOfWire.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoOfWireHt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoOfWireLt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WireLength)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WireLookUpCondition.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MSJNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SleeveNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TwistNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhaseACondition.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhaseBCondition.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhaseCCondition.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Neutral)
                                    </td>

                                    @*@if (User.IsInRole("System Administrator"))
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StreetLight)
                                            </td>
                                        }*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StreetLight)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransformerExist)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CommonPole)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tap)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>


<div style="text-align: center;">
    <vc:pager paging-list="@Model" />
</div>
@section Scripts {
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/autocomplete.extend.js"></script>

    <script type="text/javascript">

        $(function () {

            $(".field-name").on("change",
                function () {

                    console.log($(this))

                    setAutocomplete($(this));
                    return false;
                }).trigger("change");

                //var title = "Cross Arm List";

                $(".crossArm").click(function () {
                    var crossArmId = this.id;
                    var poleId = crossArmId.substring(9, 25);

                    $.ajax({
                        url: "@Url.Action("Index", "TblCrossArmInfoes")",
                        data: { id: poleId},
                        type: "POST",
                        dataType: "html",
                        before: $("#busy-indicator").fadeIn(150),
                        success: function (response) {
                            $('#dialog').html(response);
                            $('#dialog').dialog('open');
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                });

                $(".TblGuys").click(function () {
                    var guyId = this.id;
                    var poleId = guyId.substring(8, 24);

                    $.ajax({
                        url: "@Url.Action("Index", "TblGuys")",
                        data: { id: poleId },
                        type: "POST",
                        dataType: "html",
                        before: $("#busy-indicator").fadeIn(150),
                        success: function (response) {
                            $('#dialog').html(response);
                            $('#dialog').dialog('open');
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                });
                $(".TblInsulators").click(function () {
                    var insulatorId = this.id;
                    var poleId = insulatorId.substring(14, 29);

                    $.ajax({
                        url: "@Url.Action("Index", "TblInsulators")",
                        data: { id: poleId },
                        type: "POST",
                        dataType: "html",
                        before: $("#busy-indicator").fadeIn(150),
                        success: function (response) {
                            $('#dialog').html(response);
                            $('#dialog').dialog('open');
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        complete: $("#busy-indicator").fadeOut(150)
                    });
                });

                $("#dialog").dialog({
                    autoOpen: false,
                    modal: true,
                    width: 600,
                    title: ""
                    //show: {
                    //    effect: "blind",
                    //    duration: 1000
                    //},
                    //hide: {
                    //    effect: "explode",
                    //    duration: 1000
                    //}
                });
            });

    </script>
}
