@model Pdb014App.Models.PDB.PhasePowerTransformerModel.TblSurgeArrestor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblSurgeArrestor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersNameAndAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersNameAndAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassOfDiverterToIEC99To4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassOfDiverterToIEC99To4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedVoltageRMSkV30)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedVoltageRMSkV30)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeutralConnection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeutralConnection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFreqWithstandVoltageOfHousing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFreqWithstandVoltageOfHousing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impulse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impulse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightingImpulseResidualVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightingImpulseResidualVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteepCurrentImpulseResidualVoltageAt10kAOr1MicrosFrontTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteepCurrentImpulseResidualVoltageAt10kAOr1MicrosFrontTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighCurrentImpulseWithStandValue4Or10MicroS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighCurrentImpulseWithStandValue4Or10MicroS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SwitchingImpulseResidentialVoltage50Or100MicroS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SwitchingImpulseResidentialVoltage50Or100MicroS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PressureReliefDeviceFitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PressureReliefDeviceFitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporaryOverVoltageCapability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporaryOverVoltageCapability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointOneSeconds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointOneSeconds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OneSecond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OneSecond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSeconds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSeconds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HunderdSeconds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HunderdSeconds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeakageCurrentatRatedVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeakageCurrentatRatedVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumResetVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumResetVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCreepageDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCreepageDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurgeMonitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurgeMonitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectingLeadfromLATerminaltoSurgeMonitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectingLeadfromLATerminaltoSurgeMonitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallDimensionandWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallDimensionandWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWeightofArrester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWeightofArrester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurgeArrestorToPhasePowerTransformer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurgeArrestorToPhasePowerTransformer.PhasePowerTransformerId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SurgeArrestorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
