@model Pdb014App.Models.PDB.SubstationModels.TblAutoCircuitReCloser

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblAutoCircuitReCloser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoCircuitReCloserType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoCircuitReCloserType.AutoCircuitReCloserTypeId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoCircuitReCloserIdToSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoCircuitReCloserIdToSubstation.SubstationId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersNameAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersNameAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterruptingMedium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterruptingMedium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HermeticallySealed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HermeticallySealed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlSystemforACR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlSystemforACR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulatingMedium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulatingMedium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsulationLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsulationLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpulseWithstandVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpulseWithstandVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyWithstandVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyWithstandVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedContinuousCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedContinuousCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumRatedCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumRatedCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedShortCircuitCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedShortCircuitCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SymmetricalInterruptingCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SymmetricalInterruptingCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsymmetricalInterrupting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsymmetricalInterrupting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SymmetricalMakinoCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SymmetricalMakinoCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortTimewithstandCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortTimewithstandCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtectionAndMeterningCTration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtectionAndMeterningCTration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasPressureIndicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasPressureIndicator)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AutoCircuitReCloserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
