@model Pdb014App.Models.PDB.SubstationModels.LookUpAuxiliaryTransformer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LookUpAuxiliaryTransformer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuxiliaryTransformerToSubstation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuxiliaryTransformerToSubstation.SubstationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersNameAndAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersNameAndAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturersTypeAndModelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturersTypeAndModelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KVARating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KVARating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPhases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPhases)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedFrequencyHz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedFrequencyHz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedPrimaryvoltageKV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedPrimaryvoltageKV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatedNoloadsecVoltageV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatedNoloadsecVoltageV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VectorGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VectorGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestSystemVoltageof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestSystemVoltageof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryWindingKV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryWindingKV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryWindingKv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryWindingKv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicInsulationLevelKV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicInsulationLevelKV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyWithstandVoltageKV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyWithstandVoltageKV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTSide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTSide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LTSide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LTSide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfCooling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfCooling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxTempRiseover40CofambientSupportedByCalculation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxTempRiseover40CofambientSupportedByCalculation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindingdegC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindingdegC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopOildegC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopOildegC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofPrimaryTappingOffload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofPrimaryTappingOffload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentageImpedanceAt75C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentageImpedanceAt75C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoloadLossWatts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoloadLossWatts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadLossesAtRatedFullLoadAt75CWatts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadLossesAtRatedFullLoadAt75CWatts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWeightOfOilKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWeightOfOilKg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AuxiliaryTransformerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
