@model Pdb014App.Models.PDB.ServicePointModels.TblServicePoint

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Service Point Details</h2>
    <hr />

    <dl class="row">
        @*<dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleId)
        </dd>*@
        

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.ZoneInfo.ZoneName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.CircleInfo.CircleName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.LookUpAdminBndDistrict.DistrictName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationToLookUpSnD.SnDName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteToSubstation.SubstationType.SubstationTypeName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleToFeederLine.FeederLineToRoute.RouteName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole.PoleToFeederLine.FeederName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleToFeederLine.FeederName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointToPole.PoleNo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointToPole.PoleNo)
        </dd>
        


        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VoltageCategory)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VoltageCategory.VoltageCategoryName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TransformerNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TransformerNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServicePointType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServicePointType.ServicePointTypeName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AggregateLoadkw)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AggregateLoadkw)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NoOFConsumersR)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NoOFConsumersR)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NoOFConsumersY)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NoOFConsumersY)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NoOFConsumersB)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NoOFConsumersB)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NoOfConsumersRyb)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NoOfConsumersRyb)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RoadName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RoadName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VillageOrAreaName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VillageOrAreaName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ward)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ward)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CityTown)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CityTown)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PrimaryLandmark)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PrimaryLandmark)
        </dd>
    </dl>
</div>


@*<div>
        <a asp-action="Edit" asp-route-id="@Model.ServicePointId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
