@model Pdb014App.Models.PDB.SwitchGearModels.TblXLPEaluminiumCopperGalvanize11KV

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblXLPEaluminiumCopperGalvanize11KV</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblSwitchGear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblSwitchGear.SwitchGearID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalCrossSectionalAreaofPhaseConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalCrossSectionalAreaofPhaseConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiameterofPhaseConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiameterofPhaseConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleCoreStranding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleCoreStranding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThicknessofInsulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThicknessofInsulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiameterOverInsulationApproximately)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiameterOverInsulationApproximately)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalCrossSectionalAreaofScreen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalCrossSectionalAreaofScreen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThicknessofOverSheath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThicknessofOverSheath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallDiameterApproximately)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallDiameterApproximately)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GalvanizedSteelRopeNominalCrossSectionalAreaofRope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GalvanizedSteelRopeNominalCrossSectionalAreaofRope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stranding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stranding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThicknessofCovering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThicknessofCovering)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallDiameterofRope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallDiameterofRope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreeCoresStrandedAroundSuspensionUnitDiameterof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreeCoresStrandedAroundSuspensionUnitDiameterof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrandedBundleApproximately)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrandedBundleApproximately)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWeightApproximately)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWeightApproximately)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalVoltageratingUOorU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalVoltageratingUOorU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumAdmissibleContinuousWorkingVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumAdmissibleContinuousWorkingVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumDCResistanceAt20C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumDCResistanceAt20C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingInductance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkingInductance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingCapacitance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkingCapacitance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarthLeakageCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarthLeakageCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortCircuitCurrentOfConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortCircuitCurrentOfConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfScreen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfScreen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRatingatAmbienttempof40C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentRatingatAmbienttempof40C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACTestVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACTestVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopperGalvanize11KVTo33or11kVSubStationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopperGalvanize11KVTo33or11kVSubStationID.SubstationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopperGalvanize11KVTo132or33kVSubStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopperGalvanize11KVTo132or33kVSubStation.SubstationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCarryingCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentCarryingCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.XLPEaluminiumCopperGalvanize11KVId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
