@model Pdb014App.Models.PDB.SwitchGearModels.TblTerminationKit

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblTerminationKit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminationKitToBusBar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminationKitToBusBar.BusBarId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofTerminationKit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofTerminationKit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumSystemVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumSystemVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerFrequencyWithstandVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerFrequencyWithstandVoltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberofCore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberofCore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofInsulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofInsulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofScreening)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofScreening)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofCableBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeofCableBox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemNeutralEarthing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemNeutralEarthing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConductorCrossSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConductorCrossSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpulseWithstandVoltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpulseWithstandVoltage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TerminationKitId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
